[2014-05-03 19:49] alexbassy opened #2 "QB.location.places.delete fails"
Attempted to delete a place immediately after it was created, get "forbidden" error.

  DEBUG: PlacesProxy.create
    DEBUG: ServiceProxy
 DEBUG: ServiceProxy.ajax beforeSend
 DEBUG: setting headers on request to https://api.quickblox.com/places.json
 DEBUG: ServiceProxy.ajax success
 { place:
    { id: 12800,
      title: 'Maeci Plaza',
      photo_id: null,
      created_at: '2014-05-03T19:46:49

[2014-05-19 14:57] #2 closed, assigned to nobody

[2014-09-04 07:05] xaka opened #3 "QB.chat.message.create is missing"
SDK is missing an API for creating messages while REST API supports it.

[2014-09-04 09:32] #3 closed, assigned to nobody

[2014-10-27 22:43] stevie-mayhew opened #4 "NPM out of date"
Hi,

It appears the NPM repository mirror for this (https://www.npmjs.org/package/quickblox) is a few versions behind - currently its at 1.2.2 (which doesn't match any tags on this github?) Would it be possible to get this updated?

Cheers

[2014-10-30 13:55] aaronksaunders opened #5 "Not ready for Node.js"
from what I have read in the documentation, you state that this library can be used with node.js... it cannot because of the dependency on `FormData`.

https://github.com/QuickBlox/quickblox-javascript-sdk/blob/master/js/modules/qbData.js#L59

Is it possible that this will be addressed or should I just not use the library in node.js applications.

Thanks

[2014-10-31 13:27] aaronksaunders opened #7 "Content Type when uploading file to Custom Object"
when uploading a file from a `FormData` object, the file that you have access to has no extension in some cases so quickblox is unable to determine the correct `content_type`. I see that there is a `content_type` returned after the object is created, is there a way explicitly set the content_type when creating the object?

[2014-11-26 12:14] infoTrainingym opened #8 "chat state notification is missing SDK 1.4"
Hi,

I cannot find out how to received or send chat state notification. I think, "send" method in quickblox.js shoud have

if (message.state) {
        msg.c(message.state, {
          xmlns: "Strophe.NS.STATE"
        }).up();
      }

and, onmessagelistener shoud have

state : $(stanza).context.firstChild.tagName

sorry my english level.

[2015-02-03 07:53] AndreyPovelichenko commented on #5
https://www.npmjs.com/package/quickblox

[2015-02-03 07:53] #5 closed

[2015-02-03 07:53] AndreyPovelichenko commented on #4
https://www.npmjs.com/package/quickblox

[2015-02-03 07:53] #4 closed

[2015-02-03 19:04] stevie-mayhew commented on #4
Thanks @AndreyPovelichenko

[2015-02-05 15:24] sgshawnblanchard opened #9 "Chat Dialog search question"
when using this call ` QB.chat.dialog.list({"type": 2}, function(err,response) ... `  I get the correct number of records back, but the following code does ` QB.chat.dialog.list({"unread_messages_count": 0}, function(err,response) ... ` returns all records instead of just the filtered ones ?   thanks

[2015-02-19 10:02] jpascal opened #10 "Callback function to QB.chat.send"
I need callback here:
[code]

[2015-02-27 11:10] alexbassy commented on #10
Why do you need the callback? You can set the ID yourself in the message parameter. Please give more details.

[2015-02-27 12:52] jpascal commented on #10
Yes, offcouce

[2015-02-27 13:00] jpascal commented on #10
Yes, I can set ID. It's working. But I want be informed about complete sending message to server by callback function.

Example
[code]

[2015-02-27 13:05] alexbassy commented on #10
Got it - will check with Igor to see if this is possible. As far as I know, it's fire-and-forget...

This can however be done with group chat messages, as you receive all messages (including sent), so a listener can be assigned.

[2015-03-02 07:59] jpascal commented on #10
Other functions have callbacks but send function has not. Not good)
I'm waiting response from you.

[2015-03-06 07:21] jpascal commented on #10
@alexbassy, this is possible or not?

[2015-03-13 17:00] Otann opened #13 "Problems with webpack"
Hi guys!

I am using webpack, tool like browserify, but focused on nodejs packages instead of bower.

I've tried to require your package in on of my modules and is seems that webpack detected quite a few dependencies not listed in package.json: `fs`, `net` and `tls`.

I wonder, how do you deal with your code requiring then in your bower distribution?
Is there any cases using your library with Webp

[2015-03-14 17:42] flipxfx commented on #13
+1 for out of the box web pack support.

[2015-04-06 08:58] jpascal opened #14 "Can't receive incoming video calls between iOS and Web"
When I make call from iOS on Web console I see this:
[code]
But QB.webrtc.onCallListener not invoked.

[2015-04-06 09:35] soulfly commented on #14
For this you have to use new WebRTC iOS SDK

http://quickblox.com/developers/VideoChat#WebRTC_samples

Old iOS/Android samples don't work with Web

[2015-04-06 09:35] #14 closed

[2015-05-11 21:15] tmayr opened #15 "Uncaught TypeError: Cannot read property 'sigBytes' of undefined"
I'm trying to generate a session after initialising QB with a token genreated from the server.

The token seems valid, when I use it on curl requests I get back the correct info, but when doing QB.createSession I'm getting an error, the following is the frontend code

[code]

[2015-05-11 22:07] #15 closed

[2015-05-11 22:08] tmayr commented on #15
Apparently the SDK does not like when you're passing options as the second argument when logging in with a token, might be a bug?

[2015-05-12 07:56] soulfly commented on #15
Actually if you use QB.init then I don't see any cases when you also need to use QB.createSession

Anyway We will also check this case

[2015-05-12 13:14] charlieshin commented on #15
Hi, Soulfly,

May I ask how you not createSession to do login?  There is no many doc talked the scenario about what functions we shall called, and I am always do
call QB.init then
call createSession to pass in login user information.

It seems I cannot call QB.login only after QB.init without QB.createSession?  So I guess createSession is very important?

[2015-05-12 13:30] tmayr commented on #15
@soulfly Regarding the first part

[code]
The first one is the documented version, after you mention using Tokens for auth, the second one makes sense but it fails as, I assume, is trying to use options as key, thus, provoking the *sigbytes* error.

Regarding the createSession

From the documentation I took away that you need to createSession after the init,

http://quickblox.com/developers/Javasc

[2015-05-13 11:15] soulfly commented on #15
@charlieshin you can use QB.users.login

[2015-05-13 11:16] soulfly commented on #15
@tmayr
we are reviewing completely JS docs at the moment, it will be a new doc set soon, sorry for this

[2015-05-15 07:59] soulfly commented on #10
It's possible with iOS right now only
Android will support this soon
After this we will add this for web

http://quickblox.com/blog/quickblox-releases-ios-sdk-2-2-with-new-chat-api-stream-management-android-sdk-2-1-1-ios-webrtc-sdk-1-0-2/

[2015-05-15 07:59] #10 closed

[2015-05-15 08:00] soulfly commented on #9
it's not possible to filter by unread_messages_count because it's not a field of a dialog, we generate it dynamically

Anyway Will review this case

[2015-05-15 08:00] #9 closed

[2015-05-15 08:02] soulfly commented on #13
Hi there,

Is it only fs, net, tls and json should be added to package.json?

[2015-05-15 09:20] Otann commented on #13
Yep, for me adding them to `package.json` solved the issue.
But this raises concerns about if they are used in the browser and if they are not, then it would be good to separate code and save data.

[2015-05-16 04:07] nalnaji opened #16 "addListener callback doesn't accept stanza or message"
Hello all, I am trying to learn how to accept incoming messages from chat. Right now the QB CHAT [RECV] is printing the XML form. I want to be able to add a handler for every message. The docs say:

[code]
and the format states:
![screen shot 2015-05-15 at 9 03 23 pm](https://cloud.githubusercontent.com/assets/5743986/7664631/dee17214-fb45-11e4-9b8f-0ad3a103c257.png)

What I have done is (addListe

[2015-05-16 07:40] nalnaji commented on #16
I changed the following code in the JS SDK to the following and it seems to work now. It receives the stanza object.

![screen shot 2015-05-16 at 12 38 53 am](https://cloud.githubusercontent.com/assets/5743986/7665252/07cdb6ec-fb64-11e4-8d87-71b6c2972b52.png)

[2015-05-18 09:04] soulfly commented on #16
Hi there,

What do you mean by "I want to be able to add a handler for every message" ?

Why current listener implementation doesn't work for you?

[2015-05-18 21:54] nalnaji commented on #16
Sorry, I misread the documentation for "onMessageListener". Thank you for your reply. This is a great solution for XMPP by the way. :)

[2015-05-18 21:54] #16 closed

[2015-06-01 12:38] ramansinghpadda opened #18 "QB Chat server not connecting"
Hello
I am using javascript-sdk and from samples , I am trying to run chat module after updating required config changes. Login working properly but after login nothing works.

        if (err) {
          console.log('SERVER ERROR RESPONSE ');
          console.log(err);
        } else {
          console.log('SERVER SUCCESS RESPONSE ');
          console.log(roster);

          QB.chat.onMessage

[2015-06-01 12:41] soulfly commented on #18
Hey,

Please post the whole code and also your config

[2015-06-01 12:47] ramansinghpadda commented on #18
js/qbConfig.js

 endpoints: {
    api: 'https://api.quickblox.com',
    chat: 'chat.quickblox.com',
    muc: 'muc.chat.quickblox.com',
    turn: 'turnserver.quickblox.com',
    s3Bucket: 'qbprod'
  },
  chatProtocol: {
    // bosh: 'http://chat.quickblox.com:5280',
    bosh: 'https://chat.quickblox.com:5281', // With SSL
    // websocket: 'ws://chat.quickblox.com:5290',
    websocket: 'wss://chat.

[2015-06-01 13:20] ramansinghpadda commented on #18
[QBChat]: Status.CONNFAIL - The connection attempt failed quickblox.js:941
SERVER ERROR RESPONSE  main.js:60
Object {code: 422, status: "error", message: "Unprocessable Entity", detail: "Status.CONNFAIL - The connection attempt failed"}

[2015-06-01 16:46] soulfly commented on #18
Can you try active: 1 in qbConfig.js

[2015-06-05 09:29] ramansinghpadda commented on #18
Hii i am getting another problem.(JavaScript SDK),

As i want to integrate web-rtc video chat. I have integrated the peer-to-peer chat successfully. But Now problem is in my application requirement i want status of users. Are they available for video chat or not.

![download](https://cloud.githubusercontent.com/assets/3245756/8003231/4e789212-0b93-11e5-93dd-4a6a1b11fcc6.png)

So i want to check st

[2015-06-05 09:48] ramansinghpadda commented on #18
Is it possible to get any user status related to same APP ?

[2015-06-05 10:12] soulfly commented on #18
You can use Roster API
http://quickblox.com/developers/Web_XMPP_Chat_Sample#Code_snippets_.28Roster.29

[2015-06-12 19:25] Femtosecond opened #19 "QB.chat.connect often returning password error when password is correct."

[2015-06-15 07:05] soulfly commented on #19
First of all you can use

    var jid = QB.chat.helpers.getUserJid(user.id, 24325);

instead of

     var jid = user.id + "-24325" + "@chat.quickblox.com";

The second this to check is can you log 'chatparams before QB.chat.connect and provide here a log, so we will be bale to check which parameters you provide

[2015-06-16 00:31] #19 closed

[2015-06-28 07:58] tpemckiernan opened #20 "Keep seeing this warning in firefox on QBlox v1.9.2 (ff 38.0.5)"
RTCIceServer.url is deprecated! Use urls instead.

[2015-06-30 08:16] raghuarvapally1 commented on #18
[QBChat]: Status.CONNFAIL - The connection attempt failed quickblox.js:941
SERVER ERROR RESPONSE main.js:60
Object {code: 422, status: "error", message: "Unprocessable Entity", detail: "Status.CONNFAIL - The connection attempt failed"}

I tied with active: 1 in qbConfig.js still i am getting issue. Can you please help.

This is sample application downloaded from github....

[2015-06-30 09:03] soulfly commented on #18
This sample?
https://github.com/QuickBlox/quickblox-javascript-sdk/tree/master/samples/chat

[2015-06-30 09:17] raghuarvapally1 commented on #18
Yes this sample application.....

[2015-06-30 09:22] soulfly commented on #20
do you use the latest version of js sdk?

latest is 1.9.2

[2015-07-01 16:08] mnesarco opened #21 "Can't receive incoming video calls between Android and Web"
VideoCall from Web to Android Works, but call from Android to Web is never accepted (in web) shows the incoming call dialog but does not accept the call.

Web sends the Accept package:
[code]

But in the android side, an exception is thrown:

[code]

[2015-07-06 11:59] soulfly commented on #21
Which version of Android SDK do you use? the latest 2.2.5 ?

[2015-07-06 14:46] mnesarco commented on #21
Yes, I am using the latest 2.2.5

On Mon, Jul 6, 2015 at 6:59 AM, Igor Khomenko <notifications@github.com>
wrote:

--
Frank D. Martínez M.

[2015-07-06 15:24] soulfly commented on #21
Thanks, let us do some tests on our side and let you know about the results and possible issue

[2015-07-21 13:35] ketanbhatt opened #22 "Can't connect to chat from Node backend"
I am not able to connect to chat from my node-express backend.

Creating sessions, users etc is okay, but QB.chat.connect says "Not implemented outside of web yet".

Is there any workaround for that?

[2015-07-22 07:42] soulfly commented on #22
It should work from Node.js, we already have some working apps

can you provide more details where do you get this error

[2015-07-22 07:47] ketanbhatt commented on #22
So I am trying to do this,

`
QB.chat.connect({jid: '201278_55sdsd3434d3412068d000c6f@muc.chat.quickblox.com', password: 'password'}, function(err, roster) {
      console.log("connected")
})
`

But I get the error message that "This function isn't supported outside of the browser (...yet)"
I traced it back to the `qbchat.js` file in the quickblox SDK, made isBrowser true there, but then there is

[2015-07-22 08:32] ketanbhatt commented on #22
I searched and found that Strophe is a XMPP library for Javascript, that enables applications to use XMPP on the web, and quickblox uses it too.
But I need to listen to the channels in real time from my node backend, and since `window != browser`, Strophe wont work.

Any help would be appreciated, need it badly for my application

[2015-07-22 08:57] alexbassy commented on #22
There's no support for chat in the Node.js version of the QB library, unfortunately. For internal stuff we used the 'node-xmpp-client' module - when provided with the host, jid, password and port (can grab from the config file of this repo) - it works right out of the box. Though, it is a different API.

[2015-07-22 08:59] ketanbhatt commented on #22
Yes, that is what i thought of doing too.
Thank you for guiding in the right direction, I will try to connect with that, will post if I face any issue.
Thanks a lot

[2015-07-22 09:00] soulfly commented on #22
You can find some useful helpers here https://github.com/QuickBlox/Status/blob/master/helpers/chat.js

[2015-07-22 09:00] #22 closed

[2015-07-23 07:52] ketanbhatt commented on #22
Hey, I tried making node-xmpp-client work, but I am unable to. I looked into how QB's JS SDK is using it but couldn't find node-xmpp anywhere there, or the implementation. Could you please help?

[2015-07-23 08:11] soulfly commented on #22
https://github.com/QuickBlox/Status/blob/master/package.json#L33

[2015-07-23 08:14] ketanbhatt commented on #22
Both the links you gave don't exist :'D

[2015-07-24 08:17] soulfly commented on #22
You mean this link returns 404 for you?

https://github.com/QuickBlox/Status/blob/master/package.json#L33

[2015-07-24 08:23] ketanbhatt commented on #22
Yes, I changed "status" in the link to "quickblox-status-checker-2.0", then it works:

https://github.com/QuickBlox/quickblox-status-checker-2.0/blob/master/package.json#L33

I was able to connect to chat and receiving messages now. Struggling for getting online users in a group.

[2015-08-07 14:14] soulfly commented on #21
Just checked with 2.2.6 - works fine on both sides

[2015-09-16 15:42] #21 closed

[2015-09-18 13:42] #8 closed

[2015-09-18 13:44] soulfly commented on #20
This is on Mozilla Firefox only because they are going to replace url with urls

So now it works as is

you don't need any changes and can ignore this warning for now

[2015-09-18 13:44] #20 closed

[2015-09-21 08:30] fc opened #23 "Creating a user with non-numeric number external_user_id says "External user id must be less than 11 characters""
The external user id can only be an integer but the error "External user id must be less than 11 characters" doesn't correctly describe why the external user id is invalid if I enter in a non-numeric value.  In the admin interface there is client side validation to test if it is a number.  If it is not a number it will say 'Please enter a valid number.'

So... if I try to create or update a user w

[2015-09-23 09:01] fc opened #24 "debug setting is not honored and fills the debug console with "[QBChat] ....""
The debug check is commented out here:
https://github.com/QuickBlox/quickblox-javascript-sdk/blob/master/quickblox.js#L2957

and... commented out here:
https://github.com/QuickBlox/quickblox-javascript-sdk/blob/master/quickblox.js#L1076

Perhaps there should also be a setting for debug levels: none, informational, verbose, etc

[2015-09-23 09:04] soulfly commented on #24
You are right, thanks for the feedback

will enable this in the upcoming release

[2015-09-24 02:46] criticerz opened #25 "Compatibility with React Native"
Hi there,

Trying to use Quickblox to build a React Native app, but when I require the Quickblox package, it fails to build. I'm not sure if this is a bug in React Native (https://github.com/facebook/react-native/issues/2949) or that the package just needs to be updated to be compatible.

All I'm doing is requiring the Quickblox package like this: `var Quickblox = require('quickblox');` and runnin

[2015-09-24 13:31] Vladlukhanin commented on #7
Hi! What is the format of the file you try upload?

[2015-09-25 07:18] soulfly commented on #7
Also please provide the whole code how you use a FormData object

[2015-09-25 19:24] soulfly commented on #25
Hi there,

I can confirm the issue, getting the same

Will review why it can happen

thank you for reporting

[2015-10-01 07:27] fc opened #28 "JS error when passing an extraParams object with a null value when making a call"
The error:
Uncaught TypeError: Cannot convert undefined or null to object

How to reproduce:
[code]

The error is caused when it expects obj to not be null in _JStoXML:
[code]

The workaround:
Set the value to an empty string instead of null.

[2015-10-01 15:48] soulfly commented on #28
What is the reason to send 'null' ?

null means nothing, so the following 2 cases are the same for me

    var extraParams = {
        someProperty: null
    };

    var extraParams = {
    };

[2015-10-02 01:43] fc commented on #28
It was an object I had serialized to JSON and it had a null property.  Sometimes the property null, sometimes not, an optional value.

And... I just realized I didn't send you an accurate way to reproduce the issue.

It was actually something like this:
[code]

[2015-10-02 04:00] fc commented on #28
also, you can't send an array although maybe that is already documented somewhere but seems like it should be supported...
[code]

[2015-10-02 04:17] fc commented on #28
there is a typo in _getExtension, a variable is called 'oponnent' instead of 'opponent' (it's not a 'real' bug) -- not trying to nitpick or anything, just browsing through the code.

[2015-10-02 05:13] fc opened #29 "Strophe hides errors in a try..catch block then removes all of its handlers leading to unexpected behavior"
Steps to reproduce the error modifying the main.js in your peer-to-peer example.

1. Add this line in the QB.webrtc.onRejectCallListener callback function:
[code]

2.  Now, call someone using the peer-to-peer code.

3.  When there is an incoming call click 'Reject'

4.  This will work correctly the first time but Strophe's handlers are removed when this happens. The exception thrown slips by unnot

[2015-10-02 08:31] soulfly commented on #28
Thank you
we will include the 'null' fix in  our next release

[2015-10-02 08:53] soulfly commented on #29
Very interesting case,
will check and get back to you

[2015-10-02 12:14] fc opened #31 "User X calling User Y who has 2 connections open can lead to the call being aborted since the 2nd connection isn't notified the call was accepted"
Steps to reproduce.
1. Open this URL into three separate windows: http://quickblox.github.io/quickblox-javascript-sdk/samples/webrtc/peer-to-peer/
2. In the first two windows, select user 9 but in the third window select user 10.
3. User 10 now initiates a call to user 9 by clicking the 'Video Call' button
4. Both of the windows that are open and connected to user 9 will receive a prompt to accept

[2015-10-02 12:36] soulfly commented on #24
This is fixed in 1.14.0

http://quickblox.com/developers/Javascript#Framework_changelog

[2015-10-02 12:36] #24 closed

[2015-10-05 02:59] fc opened #33 "'MediaStream.stop()' is deprecated and will be removed in M47, around November 2015. Please use 'MediaStream.active' instead."
In Chrome, when clicking hangup from a video/voice call it will output the notice that MediaStream.stop() will soon be deprecated and be removed quite soon.

For more information, check here:
https://developers.google.com/web/updates/2015/07/mediastream-deprecations?hl=en

[2015-10-05 06:58] soulfly commented on #33
We are working on next webrtc lib and code sample release
This is also will be fixed there

[2015-10-05 06:58] #33 closed, assigned to nobody

[2015-10-05 06:58] soulfly commented on #25
Looks like this is fixed

https://github.com/facebook/react-native/issues/2949#event-426280868

[2015-10-06 07:17] soulfly commented on #28
The null issue is fixed in
https://github.com/QuickBlox/quickblox-javascript-sdk/tree/develop.webrtc

[2015-10-06 07:17] #28 closed

[2015-10-07 08:11] soulfly commented on #25
I guess I can close as not QB SDK related

[2015-10-07 08:11] #25 closed

[2015-10-07 08:12] soulfly commented on #7
Closing for now, didn't receive more details

[2015-10-07 08:12] #7 closed

[2015-10-07 17:29] criticerz commented on #25
:+1:

[2015-10-26 10:14] hash1492 opened #57 "onMessageListener not being called"
I am using quickblox Javascript SDK version 1.15.1 in my cordova app (using Ionic Framework)

There is a chat dialog between users A and B.
User A sends a message to user B, using the code shown below:

[code]

I have to use the REST API for sending message as the `QB.chat.send(opponentId, msg);` call throws an error  like "Cannot find send of undefined"

Anyways, the message is sent using the RES

[2015-10-28 12:26] soulfly commented on #57
You are right, but you have to add the 'send_to_chat' param

more info here http://quickblox.com/developers/Chat#Create_message

[2015-10-28 12:43] hash1492 commented on #57
Hey man thanks for replying! But as you can see above, I do have the "send_to_chat" param in my data object. So what am I doing wrong? The message is being added to the dialog, because when I manually re-fetch the messages of my dialog, I do get the new message also.

But the listener is not being called. Please help. Thanks

[2015-10-28 13:28] gremlinLee commented on #57
Good day. Could you provide additional info about how you init QB?

[2015-10-28 13:50] hash1492 commented on #57
[code]

I am using Quickblox and connecting through Facebook access token rather than normal username password.

As soon as my app opens I initialize quickblox and create a session. I do this process in my base controller.
Then I fetch the list of dialogs, in another page (Works fine)
Then I click on a dialog so that it opens another page,and I can see its messages (Works fine)
When a user sends

[2015-10-28 14:06] soulfly commented on #57
Use the following sequence to login to chat and send a message:

[code]

[code]

[2015-10-28 14:11] gremlinLee commented on #57
And wrong config

[code]

[2015-10-28 19:18] hash1492 commented on #57
@soulfly As I mentioned above, I am using Facebook access token in Quickblox. So the login and pass procedure you mentioned above is not for me I guess because the method `QB.chat.connect()`  requires an object with userId and password.

Also, this is the error I get when I use the `QB.chat.send(opponentId, msg);` method. That is why I have to use the REST API for sending the message

[code]

[2015-10-28 19:22] hash1492 commented on #57
@gremlinLee Hey I am a really new with this. I copied the config from the sample code so I am not sure what to do here. There is a property called "bosh", "websocket" and "active" and I am not sure which one I am supposed to use and what the value for each will be. I feel like I am really close. Could you tell me?

[2015-10-29 09:17] soulfly commented on #57
You can login to chat also with Facebook user, just use session's token as a password as mentioned here

http://quickblox.com/developers/Chat#Password

[code]

[2015-10-29 09:18] soulfly commented on #57
Can you also connect quickblox.js instead of quickblox.min.js

and post here a crash log when you call QB.chat.send(opponentId, msg);

[2015-10-29 10:55] hash1492 commented on #57
OMG thank you so much @soulfly !! Calling  `QB.chat.connect()` using the user_id and token as the password did the trick. Now the listener is being called. Thanks once again!

[2015-10-29 10:55] #57 closed, assigned to nobody

[2015-11-20 02:46] fc opened #72 "application_id not set for session when using a token, calling with a token does not work"
When using a token to connect the application_id in getSession() is undefined.

In QB.init the call to setSession looks like this:

[code]

Then later when calling `QB.webrtc.call(...)` it executes the following:

[code]

When making a call the "to" attribute will look something like this in the debug output `12348092-undefined@chat.quickblox.com`

Workaround if you have this issue:

[code]

Two u

[2015-11-23 22:55] yloeza commented on #13
does anyone had an issue with `webpack` and `strophe-pollyfill`?
I also needed to add `json loader` and the not listed `fs`, `net` and `tls` dependencies on package json.

[2015-11-27 05:39] dipakdas opened #77 "Query about QuickBlox for user cteation"
sir ,

[code]

[2015-11-27 08:57] soulfly commented on #77
You have 2 ways:

1) Buy enterprise plan and host QuickBlox infrastructure on your own server. Read more here http://quickblox.com/plans/

2) Create a separate QuickBlox account on shared server https://admin.quickblox.com
Read more here http://quickblox.com/developers/Sample-webrtc-web#Get_QuickBlox_application_and_SDK_initialization

[2015-11-27 10:18] dipakdas commented on #77
can you inform me about any free javascript library class file for create user in video chat conference.

[2015-11-27 10:34] soulfly commented on #77
http://quickblox.com/developers/Sample-users-javascript#Signing_Up

[2015-12-02 05:11] fc opened #80 "Should throw an error when no element id is defined"
If the element does not exist it should throw an error

Here is what I think would make sense:

[code]

[2015-12-02 15:25] soulfly commented on #80
Thanks, merged!

[2015-12-02 15:25] #80 closed, assigned to nobody

[2015-12-07 04:11] fc commented on #72
Additionally... it should throw an exception in createSession if you are using a token which can lead to a confusing experience, refer to this http://stackoverflow.com/questions/34124381/questions-using-quickblox-javascript-sdk/

[2015-12-07 08:52] soulfly commented on #72
Thanks for reporting this,
will review and prepare a fix

[2015-12-07 09:42] soulfly commented on #72
//1. quickblox.js is not in your current release when previously it was included. It's nice to have.

you can build it by yourself, just run 'grunt'

[2015-12-07 10:18] soulfly commented on #72
Released 1.17.1 http://quickblox.com/developers/Javascript#Framework_changelog

[2015-12-07 10:18] #72 closed, assigned to nobody

[2015-12-07 10:48] fc commented on #72
getSession().application_id is still undefined and doing a webrtc video call still does not work.

[code]

This would probably fix it:

[code]

[2015-12-07 10:55] soulfly commented on #72
Better to replace

[code]

with

[code]

[2015-12-07 10:57] fc commented on #72
definitely, booya! 😀

[2015-12-07 11:01] soulfly commented on #72
Here it is

https://github.com/QuickBlox/quickblox-javascript-sdk/commit/1bb46b537189ce6ea16f951a54940f0717238ff1

[2015-12-24 15:28] mobileDevNativeCross commented on #25
sorry guys How your esolved this issue with Quickblox?

[2015-12-24 15:32] mobileDevNativeCross commented on #25
I have issue "quickblox requires jQuery or Zepto"

[2015-12-24 15:37] openGeeksLab commented on #25
Hi. I have an issue "'Error: Quickblox requires jQuery or Zepto".
And in packeger i see Unable to resolve module from quickblox
"react-native": "^0.13.0"
Please help me.

[2015-12-24 15:47] mobileDevNativeCross commented on #25
And in packeger i see Unable to resolve module from quickblox

[2015-12-24 16:22] soulfly commented on #25
This issues should be fixed in React Native 0.13 version  according to their feedback

https://github.com/facebook/react-native/releases

[2015-12-24 16:40] openGeeksLab commented on #25
@soulfly but seems I already using react native version 0.13
Here my package.json
{
  "name": "AppDemo",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node_modules/react-native/packager/packager.sh"
  },
  "dependencies": {
    "quickblox": "^1.17.2",
    "react-native": "^0.17.0",
    "socket.io-client":"^1.3.7"
  }
}
Error is:
Unable to resolve module fs from /Users/mac/D

[2015-12-26 22:43] firehawk895 opened #94 "unreadcount is retrieved for all dialogs, irrespective of dialogs passed"
Reference : http://quickblox.com/developers/Web_XMPP_Chat_Sample#Unread_messages_count

[code]

In the above example, unread count should only be retrieved for the dialog with id : 12788459823458761223123124, however it is retrieving unread-count for all dialogs (all chat rooms)

using version "quickblox": "1.17.2", - https://www.npmjs.com/package/quickblox
## My snippet of code:

[code]

[2015-12-28 08:08] soulfly commented on #94
Could you post the response you receive from backend

[2016-01-18 15:08] coredream opened #100 "Create chat message in history with date_sent in the past"
I'm trying to inject some old messages to an existing Quickblox group chat dialog. The links below describe what I'm trying to do:

http://quickblox.com/developers/Web_XMPP_Chat_Sample#Put_chat_messages_to_history http://quickblox.com/developers/Chat#Create_message

I'm using the code below, and it runs successfully:

[code]

However, it seems that the date_sent parameter is ignored. Is setting a

[2016-01-18 16:23] soulfly commented on #100
Can you show your request and response log?

[2016-01-18 17:21] tomahn commented on #100
Here is my request and response log.  The message gets created successfully, but it gets saved with the current date:
[code]

Callback result:
[code]

[2016-01-18 17:21] coredream commented on #100
Here is my request and response log.  The message gets created successfully, but it gets saved with the current date:

[code]

Callback result:

[code]

[2016-01-20 16:18] soulfly commented on #100
1443072988 -> Thu, 24 Sep 2015 05:36:28 GMT (your time)

1453137335 -> Mon, 18 Jan 2016 17:15:35 GMT (chat backend time)

by some reason you have wrong time on your machine
that's why the backend overrides it

[2016-01-20 16:23] coredream commented on #100
Yes, that was my original question.  I want the timestamp of the message to be Thu, 24 Sep 2015 05:36:28 GMT.
So it sounds like Quickblox does not allow setting the date_sent parameter to a custom time in the past.

[2016-01-20 16:25] soulfly commented on #100
Yes, it doesn't

[2016-01-21 18:10] dimaspirit commented on #13
Thanks, we know about this issue and will fix in next version (2.0.4).

[2016-01-22 16:48] 123AndGo opened #102 "No response from QB.chat.muc.join(dialogJid) method"
Hello, since yesterday (21/01/2016) our group chats aren't working because we get no response after calling the QB.chat.muc.join(dialogJid) method. We also see that automatic "presence" messages also don't get any responses.

The users login and connect to the chat (QB.chat.connect()) without any problem, but the join method suddenly stopped working without us having made any changes.

You can tes

[2016-01-22 17:48] 123AndGo commented on #102
Hello again! I've just performed a new test by creating a test app on a co-developer's account and on that account everything is working well, so the problem seems to be with my developer's account.

I checked if maybe there was some mistake that caused a massive API calls avalanche but I see in the stats page that the amount of my app's API calls count is very low. So, I don't know what caused th

[2016-01-23 05:58] juvaly commented on #102
I'm having the same issue. Callback from join not firing.

EDIT: The callback is fired, and i can send messages, when i use the account owner user. For any other user it doesn't work.

[2016-01-24 03:24] coredream commented on #102
I'm experiencing the exact same problem, but with the quickblox-ios-sdk (just adding to this thread since I was curious if anyone else was having this problem).  Callback from join not firing in my iOS app:

[dialog joinWithCompletionBlock:^(NSError *error)

I also started seeing this on Jan 21.

[2016-01-25 12:47] dimaspirit commented on #102
Hi everyone, could you check this one more time? And will confirm if the issue still reproduce.

[2016-01-25 16:44] juvaly commented on #102
seems to be working now. what was the problem?

[2016-01-25 16:58] dimaspirit commented on #102
Good!
It looks like we had a problem on the server side, but we fixed.

[2016-01-25 17:45] 123AndGo commented on #102
It is working for us too. Thank you very much!

[2016-01-25 21:16] tonchis opened #103 "undefined `this.socket` when sending message."
Hello Quickblox people! I'm trying out the SDK to build a simple chat (very much like the example one in this repository) and I'm running with an issue when calling `QB.chat.send`. Below is my code.

[code]

Both `Buyer` and `Operator` are existing Quickblox users. The JS error I get is the following:

![screen shot 2016-01-25 at 18 09 54](https://cloud.githubusercontent.com/assets/106882/12564610

[2016-01-26 08:50] dimaspirit commented on #103
Hi, are you sure that you created session and connected to chat by `QB.chat.connect(param, callback)` ?
You could see tutorial - http://quickblox.com/developers/Web_XMPP_Chat_Sample#Login_to_Chat
or get more info / code of your app for deleted help.

[2016-01-26 09:42] dimaspirit commented on #23
Hi, yep, you are right)
We are working on this issue and thinking how to upgrade id of users.

[2016-01-26 09:42] #23 closed

[2016-01-26 09:49] #77 closed, assigned to nobody

[2016-01-26 10:04] #100 closed, assigned to nobody

[2016-01-26 10:39] dimaspirit commented on #31
Thanks, this issue we have in all devices.
It's issue of samples, not of SDK,  we are working on enhancement of samples.

[2016-01-26 11:56] tonchis commented on #103
@dimaspirit ahá! I didn't find that guide the first time. I was missing a `QB.chat.connect` that was it. Before we close, one question about that.

I see that in the example the session is created with the user. In my use case I first create a session, then create a user and log in with it. What would be the best time to call `QB.chat.connect`? before or after creating the `chat.dialog`?

[2016-01-26 13:08] dimaspirit commented on #103
In first you call `QB.chat.connect`, then you use others methods.
In this methods set handlers - https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/js/modules/qbChat.js#L309

Is it clear?

[2016-01-26 13:25] dimaspirit commented on #94
@firehawk895, could you show response? We will try to help you.

[2016-01-26 13:30] dimaspirit commented on #18
@ramansinghpadda and @raghuarvapally1 are you got the answer? Or update yours questions, please.

[2016-01-26 14:45] tonchis commented on #103
@dimaspirit ahhh! yes. Thank you for the help. I'll close now :)

[2016-01-26 14:45] #103 closed, assigned to nobody

[2016-01-26 15:03] dimaspirit commented on #29
@fc, we added safe callbacks in Chat and now working on WebRTC module.

[2016-01-27 10:49] firehawk895 commented on #94
@soulfly @dimaspirit thanks for the response. I'm sorry I couldn't get time to revert back. I will post the response very soon.

In any case, the response is always the same - QB.chat.message.unreadCount returns the same value always - irrespective of which list of dialogs I pass.

[2016-01-27 16:14] highelf commented on #18
i use the latest version 2.0.3 but in safari the problem still .
is there any configuration that we must to apply ?

[2016-01-27 17:13] dimaspirit commented on #18
@highelf, what OS and version of Safari are you use?

[2016-01-28 08:46] highelf commented on #18
@dimaspirit in mac OS and Windows 7

[2016-01-28 08:51] dimaspirit commented on #18
The last version of Safari for Window is 5.x
And now Windows version was discontinue, we are support Safari from 6.x ( http://quickblox.com/developers/Javascript#Browsers_support )

Could you show your logs on Safari for MacOS? We will trying to help you.

[2016-01-28 23:11] sibelius commented on #25
@mobileDevNativeCross did you manage to handle `Unable to resolve module fs from`

[2016-01-29 13:24] n8m opened #106 "Can't mark messages as read"
I call this function to mark messages as read:

[code]

All my messages are **markable**

Websockets generating this request when calling function above:

`<message from='8573277-31311@chat.quickblox.com/1220770403-quickblox-38228' to='8380862-31311@chat.quickblox.com' type='chat' id='56a8f241e0e5d03669000001' xmlns='jabber:client'><displayed xmlns='urn:xmpp:chat-markers:0'/><extraParams xmlns='ja

[2016-01-29 22:47] #106 closed, assigned to nobody

[2016-02-01 13:08] dimaspirit commented on #29
@fc we added safeCallbacks for all modules. So, use Function Declaration that SDK could identify what function(listener) has error. For example, https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/samples/webrtc/js/app.js#L515

[2016-02-01 13:14] dimaspirit commented on #13
Hey everyone, in version [v2.0.4](http://quickblox.com/developers/Javascript#Framework_changelog) we added all dependencies via npm. If this will not fix issue, we must waiting when will be fix this [issue](https://github.com/strophe/strophejs/issues/166)

[2016-02-02 13:23] #29 closed

[2016-02-10 11:41] n8m opened #110 "XSS attack"
If I pass some XSS strings to text chat - it will break dialogs list in admin section on quickblox website. Since js can't parse message with xss string it's displaying empty screen on 'chat' page on admin. It can also break something else

[2016-02-10 13:31] Vladlukhanin commented on #110
Thanks for the information, we will correct this problem

[2016-02-11 03:07] byronrode opened #111 "Private messages when using the SDK doesn't fire the eventListener or don't save to history/created dialog."
Guys, I have spent the last 2 days working non-stop on this, and between your documentation, issues here on GH or tagged questions on SO, I haven't been able to get anywhere. Firstly, your main documentation is behind some of your recommendations on SO. That said here is a problem that I really hope you can help resolve.

if I create private chat by first creating a dialog:
##### Step 1

[code]

T

[2016-02-11 12:52] Vladlukhanin commented on #111
We reproduced this actions and, in any case, we can get `dialog_id` from received message object. Please provide us with a response from the creation of the dialog and object of the received message so that we could explore further your problem.
Also, we need to know your version of the JS SDK.

[2016-02-11 14:11] byronrode commented on #111
Here you go. Please see comments in code below. We are using version 2.0.4 of the SDK and have as a workaround in the meantime, started sending messages using the REST API, but would really like to get the listener and chat working properly so that we can listen for incoming messages.

[code]

[code]

[code]

[code]

[2016-02-12 13:33] Vladlukhanin commented on #111
If you want to get the `dialog_id` of outgoing messages this way, it will not work, because the message itself does not go throught this dialog. You can get a `dialog_id` through your application when you select the dialog (see our samples: https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/chat).
Later, we plan to track delivered/not delivered to dialog messages status on

[2016-02-12 20:41] fiorin opened #112 "Listeners with session token previously obtained wont work"
Im building an external chat for a social network. Users just login at main page and the clean password is discarded after success. We store a MD5 version at BD, but its useless to connect at our quickblox account.

So, at login controller we call QB API with user data and store same QM.session JSON used at local storage, with token, user login and crypto password. We cant pass clean password to J

[2016-02-13 10:24] soulfly commented on #112
Is it possible to receive from you some logs from browsers console?
will help to understand what errors you are receiving

[2016-02-13 21:49] fiorin commented on #112
Had no errors. Everything else works fine: receive and send message, manage conctat list, and constant output 'presence' at console. The only things doesnt work are the listeners. So, i cant handle real time messages or status, cause doesnt trigger.

The code was at my work pc, just monday to have acess, but running two instances: first with local create session then connect; a second one with my

[2016-02-15 17:17] fiorin commented on #112
Theres console output from loading app until establish pinging presence '_presence xmlns="jabber:client"_'

`[QBChat]: Status.CONNECTING quickblox.js:874:5`
`[QBChat]: Chat Protocol - BOSH quickblox.js:874:5`
`[QBChat]: Status.CONNECTING quickblox.js:874:5`
`[QBChat]: Chat Protocol - BOSH quickblox.js:874:5`

`[QBChat RECV]: <stream:features xmlns="jabber:client"> quickblox.js:2540:127`
`[QBChat S

[2016-02-15 21:05] ritesh-nitw opened #113 "Question: Is it possible to use login ids instead of occupants_ids"
In order to perform any operation in chat api, **occupants_id** seems to be only way in docs:

[code]

Can I pass logins_ids, as I have to make an un-necessary query to my nosql db for login_ids and occupants_ids mapping?

[2016-02-16 07:49] soulfly commented on #113
No, it's not possible at this stage, only users' ids
you have to store them in your application in a some way

[2016-02-16 07:49] #113 closed, assigned to nobody

[2016-02-16 14:22] dimaspirit commented on #112
@fiorin could you show the snippet of code where you set listeners?

[2016-02-16 16:13] fiorin commented on #112
How i call the listeners:
`chatCallbacksInit: function() {`
`var ContactListView = this.app.views.ContactList,`
`MessageView = this.app.views.Message;`

`QB.chat.onMessageListener = MessageView.onMessage;`
`QB.chat.onSubscribeListener = ContactListView.onSubscribe;`
`QB.chat.onMessageTypingListener = MessageView.onMessageTyping;`
`QB.chat.onContactListListener = ContactListView.onPresence;`
`},`
S

[2016-02-17 13:02] fiorin commented on #112
@soulfly @dimaspirit Im gonna change the way how handle this process, so.. thanks for attention.

Cya guys

[2016-02-17 13:02] #112 closed, assigned to nobody

[2016-02-22 10:34] Vladlukhanin commented on #110
This problem has been fixed in our backend, but will be applied after the next release of REST API.

[2016-02-26 14:48] farwayer opened #114 "Using fetch API for requests"
It is new standard API like XMLHttpRequest but more powerful.
https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API
Not all browsers are supporting `fetch` API now but you can use polyfill.
Using `fetch` API will help to remove extra dependencies like jQuery and Zepto and will help to make easy integration with `React Native`  #25 , `Native Scripts` and some other frameworks.

[2016-02-26 15:07] dimaspirit commented on #114
It's a good idea. Thanks for your advice.

[2016-03-02 23:52] vespakoen commented on #25
Working on supporting this **native**ly: https://github.com/facebook/node-haste/pull/46

[2016-03-09 14:29] vamsi0391 opened #118 "How to delete a quickblox user from node js or javasript"
Hi, I'm trying to delete quickblox user from node js using  the following function.
 var params;
 params = parseInt(user_id); In user_id I'm passing quickblox id(9070123)
QB.users.delete(params, function(err, user){
                                      if (user) {
                                        console.log("   Quickboxid deleted "+JSON.stringify(user))

[2016-03-10 13:08] hash1492 opened #119 "Different 1-1 Private Chat Dialogs for same occupants based on data properties"
I have a use case in my project where two people can have multiple chat dialogs between them depending the the topic. For Example: Person A and Person B have a chat dialog for topic X. Same two people also have another chat dialog for topic Y.

I tried creating dialogs by provding topic related details in the params object. Here is my code:

[code]

What is happening is that the first dialog is cr

[2016-03-10 13:59] Vladlukhanin commented on #119
Hello. You can have only one Private chat for 2 occupants. But you could use Group dialog for your goals.

[2016-03-10 15:56] Vladlukhanin commented on #118
Hey. In what line the error? What a file?

This method could not reproduce the error, even if specifically allow:

[code]

[2016-03-11 04:58] #119 closed, assigned to nobody

[2016-03-11 04:58] hash1492 commented on #119
Thanks

[2016-03-11 06:56] vamsi0391 commented on #118
fdfdfdfdfdfdfd

[2016-03-11 06:57] vamsi0391 commented on #118
I created my admin like xxxx@gmail.com and password like 123456 and i'm initiating  as follows:
var QBUser = {
 login: "xxxx@gmail.com",
 password: "123456s"
};
QB.init(29781, 'gp2aT-jtR32rtcU', 'pBJhJ8JOrGdntpQ');
I'm getting error : QB >>> Something went wrong: {"code":401,"status":"401 Unauthorized","message":{"errors":["Unauthorized"]},"detail":["Unauthorized"]}
I used login (11100122001) as w

[2016-03-11 09:33] Vladlukhanin commented on #118
Most likely your **login** or **password** is incorrect. Please authorized as an administrator in the session, it the only way you can delete another user.
"Object.keys called on non-object" is manifested in the callback, which should return an error from the server.
Use Node.js v4.0.0 (need ES6) or higher to avoid TypeError errors (we will fix it for ES5 later).

[2016-03-11 09:39] vamsi0391 commented on #118
ok i will try as your suggestion

[2016-03-11 09:53] vamsi0391 commented on #118
I registered quickblox as Sign in with Google, then what credentials to be passed in code to create session

[2016-03-11 10:09] Vladlukhanin commented on #118
http://quickblox.com/developers/Javascript#Authorization
Only need to log in the owner of an admin panel (admin) to have the right to delete users.
A normal QB User can delete only himself.

[2016-03-11 11:03] vamsi0391 commented on #118
Please check my situation:
I have a situation like this, in my app,  user can be deactivated, so at the time I'm deleting the user from database through node js API, so in that service I'm writing quickblox logic to dynamically delete from quickblox panel also. So the steps i following is as follows:
var QB = require('quickblox');
QB.init(2123xx45, 'gp2aY-jtQxxxx32mmnU', 'phUtxxxIoPq');
var QBUser

[2016-03-11 13:48] soulfly commented on #13
We also release 2.1 version with other updates for it, please check
http://quickblox.com/developers/Javascript#Framework_changelog

[2016-03-11 13:48] #13 closed

[2016-03-18 09:28] rooswelt opened #121 "No auto-reconnection after disconnect (i.e. after application in background on iOS)"
I'm using JS SDK with Ionic to develop an iOS (and Android) app.

When the app goes to background the socket disconnects and does not reconnect automatically when the app comes back to foreground.
Is this the intended behavior? Do I need to manually intercept resume and forse reconnect (calling QB.chat.connect method)?

[2016-03-18 09:56] rooswelt commented on #121
Digging more in quickblox source let me found the problem.

I was calling QB.chat.disconnect during initialization to empty previous connection but this caused parameter _isLogout to true. That parameter controls auto-reconnection.

Hope this helps

Issue resolved

[2016-03-18 09:56] #121 closed, assigned to nobody

[2016-03-21 12:33] vamsi0391 commented on #118
Hi please give any suggestion

[2016-03-21 13:02] dimaspirit commented on #118
@vamsi0391 Hi, sorry, but I don't understand what is wrong.
Could you specify a question?

[2016-03-21 13:09] vamsi0391 commented on #118
Hi, Please see the above comment started with "Please check my situation:"

[2016-03-21 13:12] vamsi0391 commented on #118
Question is How to delete quickblox user in admin panel using node service.

Please check my situation:
I have a situation like this, in my app, user can be deactivated, so at the time I'm deleting the user from database through node js API, so in that service I'm writing quickblox logic to dynamically delete from quickblox panel also. So the steps i following is as follows:
var QB = require('quic

[2016-03-21 13:18] dimaspirit commented on #118
I understood that you want to deactivate user and delete from QB. You wrote the snippet.
What is wrong? Is you get a error?

[2016-03-21 13:23] vamsi0391 commented on #118
yes I'm getting error here: Unable to create admin session

var QB = require('quickblox');
QB.init(2123xx45, 'gp2aY-jtQxxxx32mmnU', 'phUtxxxIoPq');
var QBUser = {
email: "xxxx@gmail.com",
password: "123456xxxx"
}; // only admin can delete users

QB.createSession(QBUser, function(err, result) { //Creating session with above credentials
if (err) {
console.log('QB >>> Something went wrong: ' + JSON.s

[2016-03-21 14:02] dimaspirit commented on #118
@vamsi0391, is this message ('unable to create a session with admin') of error?

[2016-03-21 14:08] vamsi0391 commented on #118
I'm getting error like this:
QB >>> Something went wrong: {"code":401,"status":"401 Unauthorized","message":{"errors":["Unauthorized"]},"detail":["Unauthorized"]}

[2016-03-21 14:10] vamsi0391 commented on #118
I'm giving correct admin credentials. I login with gmail account

[2016-03-21 16:08] dimaspirit commented on #118
@vamse0391, try create QB.createSession  and also login in chat QB.chat.connect.
http://quickblox.com/developers/Web_XMPP_Chat_Sample#Login_to_Chat

[2016-03-22 02:30] vamsi0391 commented on #118
Yes I will check
On Mar 21, 2016 9:38 PM, "dima" notifications@github.com wrote:

[2016-03-23 15:06] BrunoSalerno opened #123 "Crash in the background in mobile browser when receiving a msg"
If I have the chat running in a browser in a mobile device, and the browser is not in the foreground, receiving a msg makes quickblox crash.

Remote debbuging outputs this:

`quickblox.min.js:4 Error: TypeError: Failed to construct 'Notification': Illegal constructor. Use ServiceWorkerRegistration.showNotification() instead.`

[2016-03-23 15:13] dimaspirit commented on #123
@BrunoSalerno , do you want to get a PushNotification by QBSDK?

[2016-03-23 15:28] BrunoSalerno commented on #123
@dimaspirit I solved it! Sorry :S. The problem was that window.Notification is not working in mobile browsers. I thought It was related to Quickblox because of the `quickblox.min.js:4 ...` thing in the log message. But it looks like it's not.

[2016-03-23 15:33] dimaspirit commented on #123
Good, can I close the issue?) Also, we have SDK for all platform if you need.

[2016-03-23 15:37] BrunoSalerno commented on #123
Yes @dimaspirit thanks! Yes I know, we are using iOS and Android SDK too.

[2016-03-23 16:05] #123 closed, assigned to nobody

[2016-03-31 21:02] Sirsendu786 opened #125 "QuickBlox Video Chat Demo Sample: "this.socket is undefined" after calling start call"
I am getting "**this.socket is undefined**" error  in QuickBlox Video Chat Demo Sample. It's works fine when I run it locally (from local file system) but if I integrate it to a ASP.NET MVC application which running on local IIS Espress (Visual Studio 2015) I am getting below error in Firefox console window the moment I click on "Start Call" and accept to share audio/video deviec media:

Here "QB.

[2016-03-31 21:17] Sirsendu786 commented on #125
related stackoverflow question thread

http://stackoverflow.com/questions/36343943/quickblox-video-chat-demo-web-sample-this-socket-is-undefined-after-calling-s

[2016-04-01 12:14] soulfly commented on #125
Hi

thanks for reporting this

here is how the **socket** var is initialised

`this.socket = new WebSocket(this._conn.service, "xmpp");`

so can you make sure that WebSocket are supported on your server environment?

[2016-04-01 17:27] Sirsendu786 commented on #125
@soulfly I enabled websocket in IIS but still receiving the same error. Any other suggestion?

[2016-04-04 07:30] soulfly commented on #125
Does it work well if you just run this sample via **grunt server** ?

[2016-04-04 10:52] Sirsendu786 commented on #125
@soulfly, No worries, I have solved the issue and it was **not** because of "WebSocket". It was due to a mistake I was doing but it's weird that you guys JS SDK doesn't give a helpful error information.

I will soon post an answer both here and in stackoverflow for anyone facing the same issue in future.

Thanks.

[2016-04-04 10:59] soulfly commented on #125
Thanks, looking forward to your answer

[2016-04-20 15:44] dimaspirit commented on #125
@Sirsendu786 ,can you share the answer with everyone, please?

[2016-04-22 05:28] hash1492 opened #132 "QB.chat.connect taking too long to respond"
Hi, I am using the Quickblox javascript sdk V 2.1.0 in my Ionic Framework App. For login, I am using the Facebook access token and not normal username and password. Here is my code:

[code]

Here, QB.createSession is called and the response comes immediately. But for QB.chat.connect, it takes about 10 seconds to connect and get its response. So every time the user opens my app , quickblox starts i

[2016-04-22 10:11] dimaspirit commented on #132
@hash1492 , could you share with us full log and made a screenshot of Network tab from Inspector?

[2016-04-22 11:21] hash1492 commented on #132
![image](https://cloud.githubusercontent.com/assets/8502490/14740132/3ea3f2ea-08aa-11e6-837d-d585d1412f76.png)

In the logs, the time taken between "=====QB connect called====" and "=====QB connected ====" is about 10 seconds

[2016-04-22 11:26] hash1492 commented on #132
![image](https://cloud.githubusercontent.com/assets/8502490/14740240/1911530a-08ab-11e6-9306-90eee70bb534.png)

[2016-04-23 10:33] hash1492 commented on #132
@dimaspirit could you please tell me whats wrong with this call? I am unable to proceed due to this long delay.

Thanks

[2016-04-25 08:44] dimaspirit commented on #132
@hash1492 , where do you live? And share your config (endpoints), please.

[2016-04-25 10:14] hash1492 commented on #132
@dimaspirit  I live in Gujarat, India. And what config are you talking about? The quickblox code is mentioned above. And QB.chat.connect is whats talking too long.

[2016-04-25 14:02] dimaspirit commented on #132
http://quickblox.com/developers/Javascript#Configuration

[2016-04-25 14:47] hash1492 commented on #132
@dimaspirit Here is my config that I am using in my code:

[code]

 I don't have the "endpoints" property inside the CONFIG object, like in the link you shared above. Everything is working fine with this config, EXCEPT that QB.chat.connect call is taking about 10 seconds.

Do I need to change my config?

[2016-04-26 12:29] dimaspirit commented on #125
@Sirsendu786 , can you share the answer with everyone, please? Do you have other questions?

[2016-04-27 09:02] dimaspirit commented on #125
@Sirsendu786 what is the result if you use `grunt server` ?  If all is ok it's means the problem in  IIS Express (env.). Do you have another point?

[2016-04-27 18:46] Sirsendu786 commented on #125
@soulfly and @dimaspirit sorry, couldn't post a comment before since I was stuck in other task and now fully involved in QuickBlox integration (We went for Enterprise license). Below is the brief:

After debugging found that, sole reason I was facing the issue because
1. I already did a "QB.Init()" and again were doing another "QB.Init()"

I fixed that and ran but was still facing the same issue a

[2016-04-27 18:53] Sirsendu786 commented on #125
Posted an answer in stackoverflow thread as well only with specific workaround.

[2016-04-28 08:14] dimaspirit commented on #125
@Sirsendu786 ok, we will handle the error with a right message.

Sorry, I don't understand what is a solution / workaround  you need? We are talking about `this.socket is undefined` issue ?

[2016-04-28 11:21] hash1492 commented on #132
@dimaspirit , hello update on this? Let me know if I need to change my config.

[2016-04-28 12:41] dimaspirit commented on #132
Sure, we will continue to research an issue. Could you make a test of your connection and share with us?

[2016-04-29 08:03] Sirsendu786 commented on #125
@dimaspirit, What I am trying to say is: I am not much confident on the workaround I am using current (i.e, destroying the other session before opening a video session). So I was asking, if guys can try to reproduce the same at your end and if issue found then probably can propose a better solution / workaround for this issue.

For betterment, can you please follow the reproduction step I have men

[2016-05-26 05:16] bhaumik-gandhi commented on #132
@dimaspirit , hello We have same issue and I have config as same as @hash1492 you can see connection details in this URL: http://www.speedtest.net/result/5354984982.png

[2016-05-26 08:20] Vladlukhanin commented on #132
Hi guys!
The improvements will be added in the next release.

[2016-05-26 17:31] jguillen1984 opened #138 "Is wss://chat.quickblox.com:5291 down?"
**Environment details**
_(Operating system, browser information, SDK version)_
MacOSX, Chrome Browser, Latest SDK

**Did this work before?**
I don't know

**Expected behavior**
I would expect your sample example to connect to the provided endpoint ( chat.quickblox.com:5291 ) I also tried port :5290 when chatProtocol.active set to 2, as well as both http and https endpoints when  chatProtocol.activ

[2016-06-02 10:57] shide1989 opened #139 "Update user tags"
Hi,
i would LOVE if it was possible to update a user's tags using the Javascript SDK,
i tried to update a user's tags using the following parameters in `QB.users.update` :

[code]

such as :
`
    var params = {
        user_tags: ["testing"]
    };
`

if you know a way of doing this, please let me know asap.
I even posted a question on stackoverflow
thank you !

[2016-06-02 11:05] shide1989 commented on #139
even on iOS they can do it :
`updateParameters.tags = [[self.tagsTextField.text componentsSeparatedByString:@","] mutableCopy];
`

[2016-06-02 11:42] dimaspirit commented on #139
@shide1989 , sure.
Are you trying http://quickblox.com/developers/Sample-users-javascript#Update_your_own_profile ? or you can set any parameters in a custom data.
Also, see how to update a tags list here https://gist.github.com/dimaspirit/c26b4d61e7db2e63fdbb#file-join_anonym-js-L64

[2016-06-02 11:53] shide1989 commented on #139
@dimaspirit thank you so much ! i couldn't find the right parameter name "tag_list" anywhere....
you made my day, thanks !

[2016-06-02 11:53] #139 closed, assigned to nobody

[2016-06-02 11:56] shide1989 opened #140 "Quickblox Javacsript SDK Documentation is outdated"
Hi guys,
if you could update the Quickblox Documentation you would actualy bring peace to earth.
I don't know how many hours/days i've wasted all because the documentation is outdated.

Please do something about it, the only examples/sources working are the that you can download...

Oh and please add the following parameter "tag_list" on the QB.users.update fonction documentation.

Thanks

[2016-06-02 14:47] soulfly commented on #140
Hi Sebastien, it's up to date

what exactly is not working on your side? please let us know

[2016-06-13 05:11] sanjaytaneja commented on #132
Hi,
 Any updates? I'm facing the same issue. Please let me know if there is a workaround until it is fixed.

[2016-06-16 06:47] himanshunimje opened #142 "401 Unauthorized Error while using QB.createSession"
I am using Javascript SDK and its chat sample code to get started. The code works perfectly fine with the test users 'quick' and 'blox'. Though I am having issues while using other user's credentials with the same code.

Following are the changes that I have done:
1. In addition to this code in config.js:

[code]

I have added the following variable with new user's credentials.

[code]
1. In order

[2016-06-16 09:48] dimaspirit commented on #142
@himanshunimje , in this [sample](http://quickblox.github.io/quickblox-javascript-sdk/samples/chat/) we don't create a new user. So, you can't just change params and create a new user like [here](https://gist.github.com/dimaspirit/c26b4d61e7db2e63fdbb).

If you want to see how it work https://github.com/QuickBlox/q-municate-web.

Also, we have sample how to work with users - http://quickblox.com/d

[2016-06-16 13:52] himanshunimje commented on #142
@dimaspirit Thanks a lot dima. This solved my issue with the user registration and user login.

I was getting confused with the two types of user authentication present in the docs. Anyways, it is sorted now and again, thanks for the same :)

[2016-06-16 13:52] #142 closed, assigned to dimaspirit

[2016-06-17 09:30] himanshunimje commented on #102
I seem to be having this problem now. While using the function retrieveChatDialogs(), browser console is showing an error on the following lines of code:

[code]

Attaching the browser console for further clarity.

<img width="1280" alt="screen shot 2016-06-17 at 2 57 50 pm" src="https://cloud.githubusercontent.com/assets/11310866/16146503/f9e564c2-349b-11e6-85cb-ff2593f2a983.png">

Is this an iss

[2016-06-18 07:52] ajeeshcitrus commented on #132
Any updates around this??

[2016-06-21 07:52] k1master commented on #102
I also have that issue. Code is nearly all the same with sample chat app. Finally, I replaced all the credentials in the sample chat app, and it's not working either. It seems like my qb account is not working for group chat. Why is this happening?
There aren't many api calls.

[2016-06-21 08:44] #111 closed, assigned to Vladlukhanin

[2016-06-21 09:03] #18 closed

[2016-06-21 09:03] #110 closed, assigned to nobody

[2016-06-22 01:07] k1master commented on #102
I have found the a thing. Maybe it could help solving this issue.
It works with the users I made in admin panel when I join to group chat. That group chat was also made in admin panel. But when I try to join the group chat that is made from server backend, which calls QB Restful API, it doesn't work.

[2016-06-22 07:57] dimaspirit commented on #102
Hi everybody,
yes, we have the issue on backend side.
We need to know endpoints of your instance (if you don't use QB instance) to fix that issue.
So, write here what instance you use and we will fix it.

[2016-06-22 09:59] k1master commented on #102
I have figured out.
In my case, the reason was from your session creation API.
API Documentation says to use [POST] /session.json, but the users with this API is not working for group chat. I used /auth.json for session creation and used signup RESTful api, and it is working now.
This is not account problem.
I think you should check that API or update documentation.

[2016-06-23 06:14] himanshunimje commented on #102
Hi,

I am using the javascript SDK to create session and login a QB user. Hence, following are the javascript lines of code which uses quickblox.min.js to access the API's:

`var params = { 'login': 'testuser_1', 'password': '*********'};
QB.createSession(function(err, res) {
    QB.login(params, function(err, user){
        setupStickerPipe();
        retrieveChatDialogs();
        setupAllListen

[2016-06-23 07:00] k1master commented on #102
@himanshunimje , your problem can be fixed by calling QB.chat.connect() function.
Please refer this code.

[code]

This code works with users that are created using session from /auth.json API, but /session.json API.

[2016-06-23 07:26] himanshunimje commented on #102
@Alex--Jin : That solves the issue. Thanks for helping out.

PS: I am getting the following error in browser console while retrieving chat dialogs of a user i.e. using the same retrieveChatDialogs() function:

Uncaught InvalidStateError: Failed to execute 'send' on 'WebSocket': Still in CONNECTING state.

I am assuming that this is an invalid state error which gets solved when the WebSocket is con

[2016-06-23 10:46] k1master commented on #102
No. You don't need.
@himanshunimje

[2016-07-01 09:14] varunsaini3150 commented on #18
@soulfly
sir i am trying to connect qb jdk with node js
session is created but when i use
var user = {
      id: 4448514,
      name: 'chatuserweb1',
      login: 'chatuserweb1',
      pass: 'chatuserweb1'
    };

QB.createSession({login: user.login, password: user.pass}, function(err, res) {
  if (res) {
    QB.chat.connect({userId: user.id, password: user.pass}, function(err, roster) {
      if

[2016-07-01 11:48] dimaspirit commented on #18
@varunsaini3150 hey, JS SDK don't support Node env.
We are working on this.
Now https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/spec/QB-ChatSpec.js#L19

[2016-07-01 12:42] varunsaini3150 commented on #18
@soulfly  @dimaspirit  ,sir
i want to listen to all messages sent+receive through running script on console all the time
my full task is to connect qb through console nd when i connect qb with my company credentials and super admin id. it ll start listening all the messages which are coming to every group which are connected by super admin and with all the groups that are going to be created. by d

[2016-07-05 12:13] shide1989 commented on #140
hi,
there's missing info on many functions (user subscriptions listing for example)
http://quickblox.com/developers/Sample-push_notifications-javascript#Sending_Push_Notifications

[2016-07-05 12:23] shide1989 opened #146 "QB.pushnotifications.subscriptions.list 404 error"
Hi,
after successfuly creating a session:

i tried to retrieve a user's subscription but i get this error :

how can i solve this ???
ps : again, there's no info in the QB Javascript documentation, and i had to use the example given in the ZIP Archive we can download here : http://quickblox.com/developers/Javascript#Node.js_and_NPM_integration

[2016-07-05 15:08] Vladlukhanin commented on #146
Hi, @shide1989 !
`error : {"code":404,"status":"404 Not Found","message":" ","detail":null}` - it means that you don't have  subscriptions for the device which is specified in the authorization token.
Here is the code of [pushNotification](https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/spec/QB-PushnotificationsSpec.js) test, it may be helpful for you.

[2016-07-05 15:19] shide1989 commented on #146
thanx @Vladlukhanin,

i found out we were loosing subscriptions for some obscure reason i'm still looking for.
Thank you for your answer, they could at least return a proper result with an empty set....
It's quickblox anyway, you can't have a proper response and documentation haha

[2016-07-06 16:10] shide1989 commented on #146
@Vladlukhanin  i spoke too fast, actualy i still get the 404 error even thought i have a user sbubscription

[2016-07-07 11:59] shide1989 commented on #146
anyone ??

[2016-07-08 13:17] dimaspirit commented on #146
Hi, @shide1989
Are you sure you have subscriptions ? Do you see in the admin panel?

If you are sure share to us code snippet and logs, please

[2016-07-09 10:14] shide1989 commented on #146
@dimaspirit :
yes / yes. btw i'm using the js sdk w NodeJS.

[code]

[2016-07-14 13:33] arpit87 opened #147 "Android sdk doesnt ignore invalid session when simultaneous call on web and android app"
I have implemented video call on website and android app. Same call when comes to both web and app and is accepted from web then android app crashes because null session to which it tries to attach icecandidates. The javascript sdk ignore invalid session.

07-14 19:01:09.595  13888-15858/in.yolohealth.yolo_doctorapp_android D/QBASDK﹕ Receive Video signal ' call', from User: 4068269, sessionId: b49

[2016-07-14 13:41] dimaspirit commented on #147
Hi, @arpit87 It's JavaScript SDK, you need to share your question to [Android SDK](https://github.com/QuickBlox/quickblox-android-sdk)

[2016-07-14 13:45] dimaspirit commented on #147
Could you switch on logs on JS SDK and share to us, please
http://quickblox.com/developers/Javascript#Configuration

[2016-07-14 13:46] dimaspirit commented on #147
Please, use issue template to make your request.

[2016-07-18 20:33] kfiroo commented on #25
Hey, any news here?

[2016-07-28 15:22] Buooy opened #149 "Getting notified when a new chat room is created."
We are trying to get notified when a new chat room is created so that we can trigger a backend workflow such as scheduling a follow up email.

How can we do that? Can we have a nodejs process continually running and listening for a new chatroom?

[2016-08-11 10:10] rooswelt opened #151 "Unable to create message with attachments in Node.js"
When creating a message using this code
`var message = {
                message: 'bbbbbb'
            };
            message.attachments = [{
                    type: 'image/jpeg',
                    id: 6296283
                }];
            message.chat_dialog_id = dialogId;
            message.send_to_chat = 1;
            QB.chat.message.create(message, function (err, createdMessage) {

[2016-08-11 13:09] Vladlukhanin commented on #151
Hi, @rooswelt !

Try to create a message with attachments like an object where is object's key is number(index):
message.attachments = [{ type: 'image/jpeg', id: 6296283 }]; => {'0': { 'type': 'image/jpeg', 'id': 6296283 }};

[2016-08-11 14:49] rooswelt commented on #151
Hi, @Vladlukhanin

thanks for your help, it works!

[2016-08-11 14:49] #151 closed, assigned to nobody

[2016-09-19 13:20] IegorKozakov commented on #118
@vamsi0391, Hello. Can you try again on a  new version of quickblox-javascript-sdk?

[2016-10-04 09:57] IegorKozakov commented on #125
@Sirsendu786. As I see, you found a solution to your problem.
I can't reproduce this issue. Now, if you will create a new session, the old one will be rewritten.
Can you try to reproduce this issue using a new version of JS SDK?

[2016-10-05 16:43] jmanlapid opened #164 "QB.chat.onMessageListener firing twice"
I'm having an issue where the QB.chat.onMessageListener is firing twice at the exact same time in group chat messages so then I'm appending duplicate messages on the client. I tried updated the SDK to the latest version but I'm still receiving the error. Any insight into why this may be happening? My tech stack is Ionic/Angular.

[2016-10-09 05:14] wandonye commented on #25
Hi @criticerz, @soulfly, @mobileDevNativeCross, @vespakoen, do you guys use voice/video chat feature of quickblox? If so, could you pls recommend a react native package for voice/video chat? Thanks a lot~!

[2016-10-12 14:26] arpit-icreate opened #167 "QB.chat._autoSendPresence method not found can you please provide alternate for that."
_Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)_

**Environment details**
_(Operating system, browser information, SDK version)_

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
_(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#Configuration) and share us outpu

[2016-10-12 21:03] jmanlapid opened #168 "Public groups (type 1) always have 0 unread_message_count"
`QuickBlox JavaScript SDK - v2.2.1 - 2016-09-07`

My public group chats (type 1) always have an unread_messages_count of 0. Was this meant to be? Do private group chats (type 2) have their unread_message_count update?

Here is my code for sending out messages.

[code]

[2016-10-13 08:54] dimaspirit commented on #168
https://quickblox.com/developers/Web_XMPP_Chat_Sample#Create_a_Public_group_chat_dialog
The public doesn't have a list of occupants, so unread_messages_count is equal zero always.

Use group chat dialog if you need to get unread_messages_count .

[2016-10-13 08:54] #168 closed, assigned to nobody

[2016-10-13 08:59] dimaspirit commented on #167
QB.chat._autoSendPresence is private methods.
Don't use private methods, please.

Why do you need this method?

[2016-10-13 10:32] arpit-icreate commented on #167
Hello,
 we need this to stay connected with QUICKBOX. i am disconnected after few mins so we are using it to stay connected with Server.

[2016-10-13 11:30] dimaspirit commented on #167
What is your environment details (Operating system, browser information, SDK version)?
What is broken?

[2016-10-17 16:25] gvijaydhanasekaran opened #170 "How can I delete a quickblox unwanted/duplicate user from javascript."
I need to implement the quickblox application in various platform like Android, IOS, and Web also. Duplicate user entry has been created during user change their devices many times. In web user closing browser without logout, in that time duplicate entry has been created.
How can I handle this situation ?

Even I had tried to delete a duplicate users during login. But I can not delete the duplicat

[2016-11-03 17:34] IegorKozakov commented on #164
Hallo @jmanlapid. First of all, you should check does server send you duplicated messages.
For this, you need to enable debugging. Here is the link, where you can read more: https://quickblox.com/developers/Javascript#Configuration.

Please check it, and send us your log file.

[2016-11-04 15:38] IegorKozakov commented on #170
Hello, @gvijaydhanasekaran.
To delete users from the app, you need to be logged in  as the owner of the QB application or as the current user (which you want to delete).

For example, you logged in as the user with id 123456, wich is not the owner of your application. You tried to delete the user with id 654321. The server will send you an error, but if you will try to delete the user with id 1234

[2016-11-04 17:30] IegorKozakov commented on #149
Hallo @Buooy! As I understood, you need to send email notifications to all users, which was added to the group chat. Now we are in develop of this functionality.

But you can create a chat bot, using node.js.
http://quickblox.com/developers/ChatBots
When you will do this, you can configure system messages, and send them to the chat bot.
https://quickblox.com/developers/Web_XMPP_Chat_Sample#System_

[2016-11-05 20:22] dimaspirit commented on #31
@fc we have implemented a new way to log in the sample. Check it https://quickblox.github.io/quickblox-javascript-sdk/samples/webrtc/ , so is it solve your case?

[2016-11-10 21:35] gvijaydhanasekaran commented on #170
Thanks for your reply :)
Ok, we cannot delete every user manually. As a owner, it will irritate this process. Is any snippet available for delete duplicate user or old logged in users (one or more months older). Because I need a requirement for limit the QB users.

[2016-12-05 22:57] EleDiaz opened #181 "Need API documentation"
In general is difficult find API documentation.

This example, don't have full API description:
https://quickblox.com/developers/Web_XMPP_Chat_Sample#Guide:_Getting_Started_with_Chat_API

No there are full modules documentation (QB.users, QB.content....):
http://quickblox.github.io/quickblox-javascript-sdk/docs/

Switch between source code of SDK and my own application to know what methods there a

[2016-12-06 08:48] dimaspirit commented on #181
@EleDiaz Hi, sorry, API docs. in progress.
We are working on this case.

I will notify when we are finished.

What do you mean? Are you speaking about versions?

[2016-12-07 09:54] olimjon opened #185 "JS SDK: Can not send custom data while audio/video call to IOS SDK"
**Environment details**
*(Operating system, browser information, SDK version)*

1 Side:  QuickBlox JavaScript SDK - v2.1.2 - 2016-05-16

2 Side: iOS version: 9.3.2
Quickblox iOS SDK version: 2.7.6
QuickbloxWebRTC SDK version: 2.2
Language: Objective-C
XCode version: 8.1

**Did this work before?**
No

**Expected behavior**
We want send extra data while call. We are using session object's call metho

[2016-12-07 11:06] dimaspirit commented on #185
So you need to ask about this issue our iOS team in this [repo](https://github.com/QuickBlox/quickblox-ios-sdk).

[2016-12-07 11:06] #185 closed, assigned to nobody

[2016-12-09 10:34] mitaltank commented on #22
quickblox login and new app id etc. create and app id is user my code and connection success. but chat is not work and error is "Uncaught This function isn't supported outside of the browser (...yet)"

[2016-12-09 16:36] dimaspirit commented on #22
@mitaltank what's the version of sdk?

[2016-12-12 06:23] mitaltank commented on #22
v1.17.2

[2016-12-12 06:28] dimaspirit commented on #22
You need to upgrade the SDK.
https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.3.0

[2016-12-12 06:45] mitaltank commented on #22
ok, thank you.

[2016-12-12 08:23] mitaltank commented on #22
new upgrade SDK and new appID use my code. connection success but error "Uncaught Error: The method "jidOrUserId" may take jid or id(…)".

[2016-12-12 08:27] dimaspirit commented on #22
Could you share your snippet and what are you pass (typeof also) ?

[2016-12-12 09:13] mitaltank commented on #22
var QBApp = {
  appId: 50855,
  authKey: 'rE9yv27DevsLGyR',
  authSecret: 'ZFwsym7tdn6-B9y'
};

var config = {
  chatProtocol: {
    active: 2
  },
  debug: {
    mode: 1,
    file: null
  },
  stickerpipe: {
    elId: 'stickers_btn',

    apiKey: '847b82c49db21ecec88c510e377b452c',

    enableEmojiTab: false,
    enableHistoryTab: true,
    enableStoreTab: true,

    userId: null,

    priceB: '0

[2016-12-12 09:15] mitaltank commented on #22
this is my config file and add my Credentials in this file.

[2016-12-12 09:27] dimaspirit commented on #22
No, please provide what exactly are you doing? Which method is get error and what are you pass there?
For example, you try to send a msg.
[code]

[2016-12-12 09:57] mitaltank commented on #22
function sendMessage(text, attachmentFileId) {
    stickerpipe.onUserMessageSent(stickerpipe.isSticker(text));

    var msg = {
        type: currentDialog.type === 3 ? 'chat' : 'groupchat',
        body: text,
        extension: {
            save_to_history: 1,
        },
        markable: 1
    };

    if(attachmentFileId !== null){
        msg['extension']['attachments'] = [{id: attachmentFile

[2016-12-12 09:58] mitaltank commented on #22
send text method

[2016-12-12 10:03] mitaltank commented on #22
QB.chat.send(opponentId, msg);

[2016-12-12 10:10] dimaspirit commented on #22
Could you show logs ?

[2016-12-12 10:28] mitaltank commented on #22
![log](https://cloud.githubusercontent.com/assets/24246062/21095945/b635142e-c083-11e6-9839-4a0b41588360.png)

[2016-12-12 10:34] dimaspirit commented on #22
And where is the error?

[2016-12-12 10:41] mitaltank commented on #22
message send that time error "Uncaught TypeError: Cannot read property 'onUserMessageSent' of null(…)"

![log2](https://cloud.githubusercontent.com/assets/24246062/21096330/83aa8712-c085-11e6-9676-a2514710ee53.png)

[2016-12-12 10:50] dimaspirit commented on #22
It's a stickerpipe error.
Before start chatting, you need to join in group or create a chat with someone. Are you made this case?

[2016-12-12 11:16] mitaltank commented on #22
how to set chat someone?

[2016-12-15 17:37] ganeshub opened #190 "Message with attachments in node.js"
This code from  [q-municate web](https://github.com/QuickBlox/q-municate-web/blob/master/app/scripts/views/attach.js#L196) app works when executed in browser. But breaks in node.js.
Messages with attachment are getting received as text messages with body text as 'Attachment'

[code]

Reason seem to be this code from [sdk](https://github.com/QuickBlox/quickblox-javascript-sdk/blob/1b2002c3e4d8a16ad

[2016-12-15 17:56] ganeshub commented on #181
+1 for API Docs
+1 for Node.js code samples

[2016-12-15 19:32] dimaspirit commented on #190
Yeap, we will fix it next release.

[2016-12-16 02:47] ganeshub commented on #190
@dimaspirit Thanks. But Is there a workaround for time being ?

[2016-12-17 06:38] mitaltank commented on #22
hello. in quickblox multiple  admin side user and multiple client side user chat ?

[2016-12-18 17:33] dimaspirit commented on #22
http://quickblox.com/developers/Javascript Looking information here.

What do you mean?

[2016-12-18 17:59] ganeshub opened #191 "Logging out and Destroying Session"
[code]
How/Where to call QB.chat.disconnect() (sync call) and QB.destroySession (async call) so the node process will exit properly. (when using in worker server process)

[2016-12-19 05:11] mitaltank commented on #22
example
1) "user1" chat is "user2"
2) "user3" chat is "user4"
3) "user5" chat is "user6"
4) "user7" free

so that  time "user8" request for chat and "user8" chat to "user7".

[2016-12-19 07:48] Vladlukhanin commented on #191
You can do these actions anytime and anywhere.

Logout from chat:
https://quickblox.com/developers/Web_XMPP_Chat_Sample#Logout_from_Chat

Destroy a session:
[code]
Or what do you mean?

[2016-12-19 08:06] Vladlukhanin commented on #22
You ask about our chat (http://quickblox.github.io/quickblox-javascript-sdk/samples/chat/) or admin panel (https://admin.quickblox.com)?
Sorry, but we don't understand your problem. Try to describe your issue.

[2016-12-19 08:53] ganeshub commented on #191
Thanks @Vladlukhanin

- Create Session (async call)
  - Connect (async call)
    - Send (sync call) // Is it ok to Call disconnect immediately after this call
  - Disconnect (sync call)
- Destroy Session (async call)

I am confused about Send call, It is a sync call but I've to wait for it to finish until I call disconnect and destroySession right ?

Note: I am using Node.js (worker process) not b

[2016-12-19 11:27] Vladlukhanin commented on #191
We need create a session for call REST API methods. It's almost all QB methods where we have callbacks functions, send some request and get a response or an error.
And we need connect to chat for comunicate with chat (live). Chat's methods can send something and recieve by listeners functions. For example **QB.chat.send(userId, msg) - QB.chat.onMessageListener(userId, msg)**. In our SDK we using c

[2016-12-20 05:03] ganeshub commented on #191
[code]
This is a Node.js worker process so there is no separate logout event (like in browser) to call disconnect(). So I have to call disconnect from the connect's callback call itself.

For example think of code like which do these things in order in a worker process
[code]
For example, This code will properly exit the running Node.js process after 2 Seconds

[code]

How do I achieve the same wi

[2016-12-23 01:36] koolll opened #194 "onCallListener not working"
I am using quickblox sdk to integrate webrtc video call to my application.I am trying to use user1 to call another user. But user2 **onCallListener**  seem like not response. Please see my code below .
First Page
`

        QB.init(xxxx, 'xxxxxxx', 'xxxxxx', true);
        var user = {
            id: 19404224,
            name: 'user1',
            login: 'fe523eb3-95a8-461a-9fa9-1223dea943c9',

[2016-12-23 15:02] IegorKozakov commented on #190
Hello @ganeshub. We fixed this bug and will update our repo next week. But you can take changes from the develop branch.
I'll notify you when we will upload our changes to the npm repository.

[2016-12-23 16:06] IegorKozakov commented on #194
@koolll As I see, the user from the first page trying to call to the user from the second page.

you need to get mediaParams at the first page. In the getUserMedia callback you should make a call
`
var mediaParams = {
    audio: true,
    video: true,
    options: {
        muted: true,
        mirror: true
    },
    elemId: 'localVideo'
};

session.getUserMedia(mediaParams, function (err, stream

[2016-12-23 17:49] koolll commented on #194
@IegorKozakov Thanks I had change my code for the first page. Yes ,it able to get the alert message after make a call. But for the second page I still not able to get the **onCallListener** , alert.Can you please give some idea? Sorry I am beginner for the javascript

Update my code here
First Page
[code]

Second page
[code]

[2016-12-23 18:15] koolll commented on #194
Thanks I find a solution , issue solved

[2016-12-23 18:15] #194 closed, assigned to nobody

[2016-12-28 05:03] ganeshub commented on #190
Thanks @IegorKozakov for considering my request. Looking forward for npm update.

[2017-01-11 10:20] shishram opened #196 "Android Webview unable to disable/enable video, mute/unmute audio and record/download video"
My Code is mentioned below, Please let me know if anything else I have to add to make it working.

NOTE: and permissions(camera,audio) also not being accepted using webview for that I have used Manifest permission and its working.

public class MainActivity extends AppCompatActivity {

    private static final String TAG = "WEB";
    @Bind(R.id.web_view)
    WebView mWebView;
    private String LO

[2017-01-11 10:37] startappsolution opened #197 "Microphone not working in cordova video chat"
In cordova Android 6.0 for video chat video works very well, but microphone not working..Also i gave permission for microphone...please tell me the solution for this.......

[2017-01-11 12:59] dimaspirit commented on #196
@shishram are you using Cordova or Phonegap?

[2017-01-11 13:27] shishram commented on #196
@dimaspirit I am trying to implement it directly in WebView native in Android Studio by putting all the quickblox SDK code in assets.

[2017-01-11 14:03] dimaspirit commented on #196
@shishram What is a type of SDK you use?
Javascript SDK of Java SDK ?

[2017-01-11 14:18] shishram commented on #196
@dimaspirit I have used Javascript SDK

[2017-01-11 15:21] dimaspirit commented on #196
Are you using React Native?
Sorry, the question still doesn't clear for me.

WebView is part of what?
If you write by  Android Studio and using Java why are you using JS SDK?
Maybe you need look at Java SDK?

[2017-01-11 16:03] shishram commented on #196
Webview is part of Android native development, I am not using react too.
The reason I am using this is because I wanna capture video frames and save
them or video recording feature I need, but I am not sure of video
recording is there in Java SDK. Let me know if it's there then it will do
too.

On Wed, Jan 11, 2017, 8:51 PM dimaspirit <notifications@github.com> wrote:

[2017-01-12 13:02] dimaspirit commented on #196
Are you sure that you have a permission on audio?
You can check stream what you have by MediaStream.getAudioTracks()

[2017-01-12 21:25] lierox opened #198 "'ERROR WebRTC is not available in your browser"
That 'ERROR WebRTC is not available in your browser' error on Android device is about device version or something else? No error on console.

[2017-01-16 10:35] shishram commented on #196
Permissions are there call is connecting properly only record video and mute/unmute and camera turn on/off not working. For Java SDK I am not sure of video
recording is there in Java SDK. Let me know if it's there then it will do
too.

[2017-01-24 07:42] pknath commented on #197
Same for me. microphone not working even in android 5.0 and 6.0

[2017-01-24 12:08] soulfly commented on #197
Here is a solution

http://quickblox.com/developers/Sample-webrtc-cordova#Android_WebRTC_support

proper permissions for config.xml

also commit with the changes https://github.com/QuickBlox/quickblox-javascript-sdk/commit/772cea80428e23a0ceec01918e54df4a0a9aeb23#diff-5f1e743bd47e1286a6f57330e79e0c22

[2017-01-24 12:29] pknath commented on #197
Thanks @soulfly ,

just fixed sometime back. Yes did the same and it worked added the permissions. :)

[2017-01-28 14:40] rtoepfer commented on #25
What's status of this?

[2017-01-30 16:06] rooswelt opened #201 "Unable to retrieve message by ID"
**Environment details**
*(Operating system, browser information, SDK version)*
NodeJS, QB 2.5.1

**Did this work before?**
Never tested

**Pseudocode-tested**
[code]

**Expected behavior**

Load single message identified by messageId

**Actual behavior**
Nothing found

**Logs**
`GET https://api.quickblox.com/chat/Message.json?588f5d8b15a3670b9a000000 404 (Not Found)`

**Steps to reproduce the beha

[2017-01-30 16:43] rooswelt commented on #201
[Resolved] - chat_dialog_id must be present even if searching by messageId.

This code works:
[code]

[2017-01-30 16:43] #201 closed, assigned to nobody

[2017-02-02 02:16] vespakoen commented on #25
I have used [react-native-webrtc](https://github.com/oney/react-native-webrtc) successfully in the past, together with [simple-peer](https://github.com/feross/simple-peer) and a dockerized [turnserver](https://github.com/bprodoehl/docker-turnserver).
For signaling I have used a hand-rolled node.js script with [uws](https://github.com/uWebSockets/uWebSockets) and for another project i've (ab)used f

[2017-02-02 10:45] Uday-1985 opened #202 "How can i integrate chatbot to my iOS mobile app?."
Hi there,

I have an iOS, Android and web app.I want to implement a chatbot like feature into all these three apps.I would like to know how to integrate your bot to my apps?.

Thanks,
Uday

[2017-02-02 13:47] dimaspirit commented on #202
@udaymedic Hi, we have an article to help you https://quickblox.com/developers/ChatBots

[2017-02-02 13:50] Uday-1985 commented on #202
I have checked that article but with no luck.It doesn't let users know
about how to use it for mobile app.

Best Regards,
Uday

On Thu, Feb 2, 2017 at 7:17 PM, dima <notifications@github.com> wrote:

[2017-02-02 13:53] dimaspirit commented on #202
You don't make a chatbot for each platform. We recommend using user as chatbot.
https://chatbotsmagazine.com/the-complete-beginner-s-guide-to-chatbots-8280b7b906ca#.6y89ffj32 Recommend reading.

[2017-02-02 13:56] Uday-1985 commented on #202
Okay, perfect.I will read it and will let you know if there is any
confusions.Thanks dima.

Best Regards,
Uday

On Thu, Feb 2, 2017 at 7:23 PM, dima <notifications@github.com> wrote:

[2017-02-03 11:08] utkarshmaximess opened #203 "Adding a video stream to audio call after the call has started."
**Expected behavior**

**Actual behavior**

**Logs**
*(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#Configuration) and share us outputs uses github [gist](https://gist.github.com/))*

**Steps to reproduce the behavior**

**Any others comments?**

[2017-02-03 12:15] Kraignos opened #204 "react-native failure"
Hi,

I couldn't get it working for a react-native app.
I always have an error during module transformation:

`Transforming modules  ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░░░░░░░  75.8% (356/409)...(node:28525) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2391): UnableToResolveError: Unable to resolve module fs from /Users/me/Development/quickblox_app/node_modules/quickblox/src/qbU

[2017-02-03 12:56] dimaspirit commented on #203
Hi, now this features doesn't include in our SDK.
Recommend use video call with muted video and switch on if you need.

[2017-02-10 13:44] sharma08ankit opened #206 "undefined in userLogin.login"
I am getting user login name as undefined in group chat in JavaScript SDK. But the same chat messages view shows those user names which have registered before 08-02-2017.

[2017-02-11 23:28] bilby91 opened #207 "ES6 browser usage"
Hello, I'm trying to use the SDK with ES6 in the browser, using babel for transpiling code. When I try to import Quickblox `import QuickBlox from 'quickblox'` I get multiple errors because there are multiple node modules that are not defined obviously.

Is there a way to use npm quickblox package in a setup like the mentioned before ?

Thanks!

[2017-02-13 13:05] IegorKozakov commented on #207
JS SDK supports UMD (Universal Module Definition) pattern for JavaScript modules. So it is possible to use SDK everywhere (as browser global variable, with AMD module loader like RequireJS or as CommonJS module).

So, you can get access to the SDK using window.QB

[2017-02-13 16:45] bilby91 commented on #207
@IegorKozakov Thanks for the tip!

Another question, what about `react-native` support, I guess window won't be available on a `react-native` environment, is this supported yet ?

[2017-02-13 16:45] #207 closed, assigned to nobody

[2017-02-15 14:42] pkaneriya1 opened #208 "core data error when i start chat with other user"
CoreData`+[NSManagedObjectContext __Multithreading_Violation_AllThatIsLeftToUsIsHonor__]:

*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, switch on a [d

[2017-02-22 22:26] ztana opened #209 "how to add a user status, like busy, chatting, now available."
question as title.

[2017-02-23 15:22] dimaspirit commented on #209
@ztana , now isn't available.
You can use system messages and save in custom data for user (https://quickblox.com/developers/Sample-users-javascript#Custom_data)

[2017-02-23 15:54] ztana commented on #209
got it, thank you!

2017-02-23 9:22 GMT-06:00 dima <notifications@github.com>:

--
Best Regards,

Peng

Peng Zuo
phone: 641-451-0784
email : peng.zuo.1990@gmail.com

[2017-02-23 15:57] #209 closed, assigned to nobody

[2017-02-25 16:18] arpit87 opened #210 "Any REST API to get last_presence_at ?"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
I want to know when last a user logged in and sent presence packet. Want to do it using REST APIs from server

**Did this work before?**
The last_request_at field doesn't work as it only tells whe

[2017-02-27 15:04] alvarezloaiciga commented on #207
hi @bilby91 were you able to add it to react-native?

[2017-02-28 14:04] bilby91 commented on #207
@alvarezloaiciga Moved to `twilio-chat`. Didn't try quickblox at the end. You will probably need to change a couple of things in order to make it work.

[2017-02-28 21:53] ztana opened #211 "any example of how to inviting another user during call, or join an existing conversation?"
I'm trying to let a user join an existing conversation, for now I tried break the current one and start a new one with everybody, but everyone has to click accept again. Is there a way to let that user join silently?

[2017-03-01 08:06] TonyHaddad91 commented on #204
Hey,
are u able to manage this because I'm facing same issue

[2017-03-02 13:46] arpit87 opened #212 "Periodic presence packet not sent in latest js sdk"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*
in browser console I dont see periodic presence packets being sent
**Environment details**
*(Operating system, browser information, SDK version)*
chrome

**Did this work before?**
yes. QuickBlox JavaScript SDK - v2.1.2

**Expected behavior**
want periodic presence packets to

[2017-03-02 14:56] dimaspirit commented on #212
Yes, we removed 'sent present' every 55 seconds. Why do you need it?

[2017-03-02 15:19] arpit87 commented on #212
I have a custom application built over quickblox in which I am maintaining
a list on online users on my server. On every presence packet received i am
calling presence api to my server.

Anyway to directly query quickblox from server to know last_presence_time
of some user?

On 02-Mar-2017 8:26 PM, "dima" <notifications@github.com> wrote:

[2017-03-02 16:10] dimaspirit commented on #212
It's not used for ast_presence_time.
https://xmpp.org/extensions/xep-0012.html doesn't make yet.

[2017-03-07 17:01] ztana opened #213 "javascript screen sharing"
I want to add screen sharing to my js function. Is your getusermedia support custom stream? Please tell me how to apply my screen sharing stream to current session.

[2017-03-08 17:34] lvl99 opened #214 "List group chat dialogs which include specific multiple occupants"
**Environment details**
*(Operating system, browser information, SDK version)*
macOS Sierra 10.12.2
Google Chrome 56.0.2924.87
Node.JS 6.9.5
Ember 2.11
Quickblox 2.5.1

**Did this work before?**
Not sure if its supported since the documentation mentions `occupants_ids` in the [REST API](https://quickblox.com/developers/Chat#Retrieve_dialogs) but not in the [JS API](https://quickblox.com/developers

[2017-03-08 18:53] lvl99 opened #215 "Retrieving dialogs with custom data"
**Environment details**
(Operating system, browser information, SDK version)
macOS Sierra 10.12.2
Google Chrome 56.0.2924.87
Node.JS 6.9.5
Ember 2.11
Quickblox 2.5.1

**Did this work before?**
Not sure, have only tried now

**Expected behavior**
To get a list of dialogs which match the custom data filters.

**Actual behavior**
Gets all of the dialogs for the user.

**Logs**
I'm trying to locate a

[2017-03-09 17:14] IegorKozakov commented on #215
Hello. First of all, you need to create [CustomObject](https://quickblox.com/developers/Chat#Custom_parameters) class in admin panel. More info [here](https://quickblox.com/developers/Custom_Objects#Create_data_schema).

After that, you need to create dialogs with custom parameters.

[Here](https://quickblox.com/developers/Chat#Filter_dialogs_by_custom_parameters) you can read more about retrievin

[2017-03-10 10:42] IegorKozakov commented on #214
It is possible to get dialogs by `occupants_ids`.

As example, you can use this curl request

`curl -X GET -H "QB-Token: YOUR TOKEN" -d "type=2&occupants_ids[all]=COMMA SEPARATED OCCUPANTS_IDS" https://api.quickblox.com/chat/Dialog.json`

Using JS SDK you can send request in a this way:

[code]

[2017-03-10 10:42] #214 closed, assigned to nobody

[2017-03-10 10:43] #215 closed, assigned to nobody

[2017-03-13 09:22] ibabchanik opened #216 "total message count"
Hello!
Is it possible to get total message count of chat room?
In JS SDK I haven't found information about it.

Thanks in advance.

[2017-03-13 10:42] dimaspirit commented on #216
@ibabchanik  https://quickblox.com/developers/Web_XMPP_Chat_Sample#Get_a_number_of_chat_messages

[2017-03-13 11:34] #216 closed, assigned to nobody

[2017-03-13 11:35] ibabchanik commented on #216
@dimaspirit Thanks a lot!

[2017-03-20 10:54] priyankpatel40 opened #218 "QUICKBLOX ERROR:Error: Failed to execute 'send' on 'WebSocket': Still in CONNECTING state."
Hello,
I am getting Error: Failed to execute 'send' on 'WebSocket': Still in CONNECTING state. because of that i am not able to send or receive any messages or calls.
Please, help me how to resolve this Connecting state error through code.

[2017-03-23 04:42] lufyitbkdn opened #219 "Android stuck after calling with web"
1. Environment details
- Android: QB SDK 3.3.0
- Web RTC - Web: 2.4

2. Expected behavior:
- App can receive call after calling with Web

3. Actual behavior (100%):
- App cannot receive call  calling with Web (call started and web ends the call).

4. Steps to reproduce the behavior:
 - Android call to web (or web call Android).
 - Web accept call
 - After started call, web end the call. Android ca

[2017-03-23 21:18] mironcaius opened #220 "integrate quickblox with ionic 2"
Hello,
I am trying to make the javascript SDK work with ionic 2 but I am missing something.
This sample works on my android device
https://quickblox.com/developers/Sample-webrtc-cordova
but the amount of code there and lack of documentation makes it impossible for me to reuse anything from there.

So i tried to add the init QB after the platform is ready.

[code]

**Environment details**
"quickblo

[2017-03-24 07:27] mironcaius commented on #220
I managed to make this work. For future reference and documentation, this is how i made it work.
I added this in index.html inside the ionic project
[code]

then in app.components.ts I added this on device ready:
[code]

The login works but when i try to call QB.chat it connects and disconnects indefintly:
[code]

What i am doing wrong ?

[2017-03-27 06:05] utkarshmaximess opened #221 "Replacing the existing video stream of current call with screen sharing video stream."
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#Configuration) and share us outpu

[2017-03-28 19:23] rcorin opened #224 "Uploading File doesn't work with ngCordova File plugin"
Hi, I made an app with Ionic 2 and integrated Quickblox.
But I have a problem uploading files.
Here is the Stack Overflow question with full details:
http://stackoverflow.com/questions/42905720/problems-with-file-plugin-in-ionic2/

The problem resides using the File plugin, because using this approach it works fine:

Step1: IN view File
`<input (change)="uploadmedia()" type="file">`

Step2: in com

[2017-03-28 20:42] Vladlukhanin commented on #224
Hi, @rcorin
Do you have any error from console.error?
Or you can [set necessary debug mode in your config and look all logs](https://quickblox.com/developers/Javascript#Configuration) for QB.content.createAndUpload API call

I looked at your question on Stack Overflow and everything looks fine.
If you want to get file's source ([file's url](https://github.com/QuickBlox/quickblox-javascript-sdk/blo

[2017-03-29 08:12] dimaspirit commented on #210
Hi, @arpit87
If you are talking about last activity (https://xmpp.org/extensions/xep-0012.html) we don't make it yet.
We are planning to make this XEP soon, but we will use websocket not API request

[2017-03-29 08:13] Vladlukhanin commented on #220
Hi, @mironcaius !

Did you use the config like wrote in here? Did you change endpoints?
[code]
"apicustomdomain.quickblox.com" and "chatcustomdomain.quickblox.com" it's just an example.
Set "api.quickblox.com" and "chat.quickblox.com" instead, if you want to develop in our production server.

[2017-03-29 08:14] dimaspirit commented on #210
I will notify you when we make it by this issue.

[2017-03-29 08:20] dimaspirit commented on #219
@lufyitbkdn  Are you using Qmunicate? Which version of QM are you using?

[2017-03-29 08:22] dimaspirit commented on #218
@priyankpatel40 , please use the form and give us initial information.

FORM:
**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#Configuration) and share us outputs uses github [gist](https://gist.github.com/)

[2017-03-29 10:09] lufyitbkdn commented on #219
@dimaspirit I don't use Qmunicate. I do as [sample from Quick Blox](https://github.com/QuickBlox/quickblox-android-sdk/tree/master/sample-videochat-webrtc)

[2017-03-29 14:21] rcorin commented on #224
Hi @Vladlukhanin, yes I used `QB.content.privateUrl(response.uid);`
But it's the path of a empty Image.
In the Admin console of Quickblox I can see the Image it's uploaded but have Size 0.
I attach also a recent capture of the console with debug mode enabled.
http://imgur.com/a/QyAVi

[2017-03-29 15:14] Vladlukhanin commented on #224
from my console: https://gyazo.com/c372d448b72e50a3a0ce5c95a271dc00
printscreen from the admin panel: https://gyazo.com/c63959af63f60188d899298a63036ecf

I have seen that we have problem (size: null), but as you can see I uploaded image without any problems and have displayed in chat.
Have you used our prod for developing? Can you say the number of your QB sdk version?

[2017-03-29 17:31] rcorin commented on #224
From the package.json:
[code]
That was I get when a I did `npm install quickblox --save`

PS: The code I made looks right ? Just to be pretty sure that there is no problem in the logic.

[2017-03-30 08:01] Vladlukhanin commented on #224
I didn't see any problems from your log :(

Can you make QB.content.createAndUpload with file and public = true? I want to look at your data responce from the QB.content.createAndUpload call. Then I'll try to get image

[2017-03-30 12:24] rcorin commented on #224
Screens: http://imgur.com/a/sKww3
url of uploaded img: https://api.quickblox.com/blobs/49ec0789234b48a99b5ebcaef98a112900?token=3a7af95bb3fbe83aa440523a001073afef00d45b

[2017-03-30 13:10] Vladlukhanin commented on #224
Try to start [our sample content](https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/content) with you creds [in the config file](https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/samples/content/js/config.js). If all will be OK then try to start your app with [this creds](https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/samples/content

[2017-03-30 13:32] rcorin commented on #224
The sample content worked fine with my credentials, and I can see all the empty images I uploaded:
http://imgur.com/a/xug1Q

I would need to you create a chat room (My development app only can list already created chat room and join them) so then test the upload with your credentials. Sorry for bothering you with this.

[2017-03-30 14:25] Vladlukhanin commented on #224
No problems. Try this:
[code]

[2017-03-30 15:47] rcorin commented on #224
Ok, it took me a while, because I need to use the File plugin of Ionic 2:
Didn't work, here is the screen: http://imgur.com/a/gV1U5
Link to uploaded file: https://api.quickblox.com/blobs/1818f5a8bd7f4ff29d3aaca2c9973a9400
And here is the code I used:
[code]

[2017-04-03 17:43] rcorin commented on #224
Any updates ?

[2017-04-04 10:09] priyankpatel40 commented on #218
![untitled2](https://cloud.githubusercontent.com/assets/26541975/24693268/5e3b1202-19fa-11e7-9cc9-93a0b91218b8.png)
Environment details
(Operating system, browser information, SDK version)
Windows 10,Mac
Chrome,Safari,opera
SDK:2.2.2

Did this work before?
It is working mostly but sometime it shows above error

Expected behavior
Should not stay in Connecting State with websockets.

Actual behavior

[2017-04-11 23:46] Esvux opened #226 "Server is unavailable on ping of video call between android and webapp"
**Environment details**
* Android app - SDK v3.0
* Android Studio v2.3
* Target Android SDK 4.4 (API 19 KitKat)
* Javascript app - SDK v2.1.2

**Did this work before?**
Never

**Description**
I'm developing an app (android) to comunicate with another Web app (Html+javascript) for chat and video chat. The app (android & js) have an user with caller role and another user with receiver role (this nev

[2017-04-14 07:50] dimaspirit commented on #226
@Esvux , I recommend writing to android repo issues https://github.com/QuickBlox/quickblox-android-sdk
they will help you

[2017-04-14 07:50] #226 closed, assigned to nobody

[2017-04-14 11:37] dimaspirit commented on #138
@jguillen1984 hi, could you check one more time this sample http://quickblox.github.io/quickblox-javascript-sdk/samples/chat ?
It's possible, we make some work on our shared server.

[2017-04-14 12:22] dimaspirit commented on #138
Also, you could use bosh instead of websocket.
uses
[code]
in config

[2017-04-17 13:44] anton87gp opened #227 "quickblox.min.js for 2.5.2 is not minified"
**quickblox.min.js** for 2.5.2 doesn't seem to be minified and contains sourcemaps, in the repo as well as embedded from cloudflare.
As result file size is 8.2MB vs 1.3MB for previous 2.5.1 (1.8MB vs. 380KB gzipped).

Thanks!

[2017-04-17 20:09] Esvux commented on #226
Ok @dimaspirit, thanks.

[2017-04-18 08:25] dimaspirit commented on #227
@anton87gp , thanks a lot for the issue.
Fixed in the patch [2.5.3](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.5.3)

[2017-04-18 08:25] #227 closed, assigned to nobody

[2017-04-18 09:03] anton87gp commented on #227
@dimaspirit Many thanks for such quick response and fix!

[2017-04-24 10:26] pankajmanay opened #230 "How to add small window frame in the right bottom of the calling user in video calling"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#Configuration) and share us outpu

[2017-04-27 19:21] arhided opened #233 "PhoneGap/Cordova sample"
Very good to have a nice example of how it works! thx

Why the Hell do we need login ID to display as Names in dialogs ?
Any way to change UserByID function to display Full_Name in this example? no, never.

I did try user.full_name... no glue.

A to lot to do here.

[2017-05-09 00:54] egonzalez-T opened #235 "Ionic 3 Integration"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
Mac OSX EL Capitan 10.11.5, Google Chrome 57.0.2987.133

**Did this work before?**
Ionic 1, yes.

**Expected behavior**
Correct launch of Quickblox init call.

**Actual behavior**
Error on qb.init(); Error complains about missing strophe.js dependency

[2017-05-10 22:25] ruffin-- opened #236 "Unable to submit pull request because gh-pages fails unit tests before edits."
**Environment details**
*(Operating system, browser information, SDK version)*

Hitting SpecRunner.html with Chrome 58.0.3029.96 (64-bit)

**Did this work before?**

Unsure

**Expected behavior**

All tests pass after pulling gh-pages with no edits performed.

**Actual behavior**

[code]

**Logs**
*(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#Configuration) and

[2017-05-11 07:04] dimaspirit commented on #236
@ruffin-- , hi, we fixed this issues. Changes are in `develop` branch. Could you merge with develop branch and make pull request to `quickblox-javascript-sdk\develop` ?

[2017-05-11 15:01] ruffin-- commented on #236
Yep, works. Thanks!

[2017-05-12 13:14] shide1989 opened #237 "Chat messages aren't sent"
Hi,
i've been struggling this morning with the js sdk to send a chat message.
In our case, the dialog types are 'groupchat' / type2, and while it seems to work,
the message isn't sent at all.

here's the code i used :
[code]
here's the output i get :
[code]
and when i open the chat history, nothing is sent.
i tried to send a msg the the chat, using the `dialog._id` but i get a 403 "insufficient pr

[2017-05-13 06:44] sbchamadiya opened #239 "Not getting Users list on click of Create Dialog button"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#Configuration) and share us outpu

[2017-05-15 09:00] dimaspirit commented on #239
Hi, are you talking about some sample?

[2017-05-15 09:02] dimaspirit commented on #236
Thanks for your pull request

[2017-05-15 09:02] #236 closed, assigned to nobody

[2017-05-15 09:09] #31 closed

[2017-05-15 09:14] dimaspirit commented on #132
Hi, we add servers based in Asia, so could anyone confirm this issue?

[2017-05-15 09:17] dimaspirit commented on #118
Checkout this page https://quickblox.com/developers/Errors

[2017-05-15 09:19] #125 closed, assigned to nobody

[2017-05-15 09:19] dimaspirit commented on #125
See the solution here http://stackoverflow.com/questions/36343943/quickblox-video-chat-demo-web-sample-this-socket-is-undefined-after-calling-s

[2017-05-15 09:20] dimaspirit commented on #138
@jguillen1984 , could you confirm this issue?

[2017-05-15 09:22] dimaspirit commented on #140
@shide1989 , we are starting to write the [API ref](https://quickblox.github.io/quickblox-javascript-sdk/docs/).

[2017-05-15 09:22] #140 closed, assigned to dimaspirit

[2017-05-15 09:23] #147 closed, assigned to nobody

[2017-05-15 09:26] dimaspirit commented on #149
@Buooy , is this solution for you?

[2017-05-15 09:27] dimaspirit commented on #164
@jmanlapid , is this pull request resolve your issue?
https://github.com/QuickBlox/quickblox-javascript-sdk/pull/238

[2017-05-15 09:27] shide1989 commented on #237
and when i use the `QB.chat.send(dialog.xmpp_room_jid, msg);`
i get a "Insufficient privileges error"..

[2017-05-15 09:28] dimaspirit commented on #167
@arpit-icreate , could you confirm the issue and give us more information?

[2017-05-15 09:31] dimaspirit commented on #170
@gvijaydhanasekaran you need to be login as owner/admin and use https://quickblox.com/developers/Sample-users-javascript#Delete_a_user

[2017-05-15 09:31] #170 closed, assigned to nobody

[2017-05-15 09:33] dimaspirit commented on #190
@ganeshub , are you update the SDK? Could you confirm the issue?

[2017-05-15 09:39] dimaspirit commented on #230
Sorry, it's not the issue of SDK.
You can attach the stream to any element.
https://quickblox.com/developers/Sample-webrtc-web#Attach_stream_on_the_page
Sure this ref. will help you https://developer.mozilla.org/en-US/docs/Web/HTML, https://developer.mozilla.org/en-US/docs/Web/CSS

[2017-05-15 09:39] #230 closed, assigned to nobody

[2017-05-15 09:43] dimaspirit commented on #211
Hi, it's not possible. You could use existed logic + auto accepted calling instead of the user.

[2017-05-15 09:43] #211 closed, assigned to nobody

[2017-05-15 09:45] dimaspirit commented on #208
Hi, what is a platform you use? I am not sure that is JS. Am I right?

[2017-05-15 09:45] #203 closed, assigned to nobody

[2017-05-15 09:46] dimaspirit commented on #202
@Uday-1985 , do you need any help?

[2017-05-15 09:47] #197 closed, assigned to nobody

[2017-05-15 09:48] shide1989 opened #240 "doc outdated for QB.chat.muc.join"
Hi guys,
can you check the QB.chat.muc.join documentation ?
https://quickblox.com/developers/Web_XMPP_Chat_Sample#Chat_in_dialog

i got the error 'cannot read length of undefined' when using childNodes,
and instead i found this code in the code samples :
[code]

[2017-05-15 09:51] shide1989 commented on #237
i just found out i wasn't "joining" a chat, in which my user was already.... what a waste of time..

you can close the issue.

[2017-05-15 09:52] Uday-1985 commented on #202
I have done with it and created a sample chat bot. Thanks

Thanks,

Uday

On Mon, May 15, 2017 at 3:16 PM, dima <notifications@github.com> wrote:

[2017-05-15 09:52] dimaspirit commented on #213
Hi, we don't impliment screensharing. May be this will help you http://stackoverflow.com/questions/41721931/screen-sharing-over-quickblox-javascript-sdk

[2017-05-15 09:52] #213 closed, assigned to nobody

[2017-05-15 10:10] #202 closed, assigned to nobody

[2017-05-15 10:10] #237 closed, assigned to Vladlukhanin

[2017-05-16 05:40] sbchamadiya commented on #239
Yes,That error have been solved.Now i want to get user full name instead of
login ID and I want to change the view of chat conversion.How it is
possible?

On Mon, May 15, 2017 at 2:30 PM, dima <notifications@github.com> wrote:

[2017-05-16 08:45] dimaspirit commented on #239
This will help you with users https://quickblox.com/developers/Sample-users-javascript#Retrieve_users

What about the view - it's simple HTML, CSS. Change as you want.

[2017-05-16 08:53] Vladlukhanin commented on #239
Verify you settings in an admin panel before. "Allow to retrieve a list of users" must be checked.

[2017-05-16 09:03] sbchamadiya commented on #239
Ok.Thanks for help.But now issue is i am not getting user full name while
chat.

On Tue, May 16, 2017 at 2:23 PM, Vladyslav Lukhanin <
notifications@github.com> wrote:

[2017-05-16 10:01] dimaspirit commented on #239
You can retrieve all user info by ID.
Look up quickblox documentation

[2017-05-16 10:16] sbchamadiya commented on #239
I have read documentation but i can't understand where to place the
snippet.Please help!

On Tue, May 16, 2017 at 3:31 PM, dima <notifications@github.com> wrote:

[2017-05-28 11:06] developercakephp opened #246 "TypeError: undefined is not an object (evaluating 'this.socket.send')"
Hi,

I an using ionic with quickblox i am getting below error in ios. android its fine.

![screen](https://cloud.githubusercontent.com/assets/3120484/26528203/75548a02-43c3-11e7-9e23-3798feb2433c.png)

**My Environment:**

global packages:

    @ionic/cli-utils : 1.2.0
    Cordova CLI      : 6.5.0
    Ionic CLI        : 3.2.0

local packages:

    @ionic/app-scripts              : 1.3.7
    @ionic

[2017-05-29 15:41] soulfly commented on #246
- Can you expand the 'TypeError' block, what's the stack trace there
- did you connect properly all this stuff for iOS? https://quickblox.com/developers/Sample-webrtc-cordova#Integration_details

[2017-05-30 02:55] iamdeadman opened #247 "Group Chat Update Dialog ( Add Users to Rooms Operation ) - getting 403 errors"
I have a WebApp backend with whom I am trying to connect QuickBlox API.

I have written a set of helper functions in qbchat which I am using in the below code, please refer to the attached file for more details:

[code]

and this is my config data for ["qb-test"] -
`  "qb-test": {
    "authKey": "...",
    "appId": 58465,
    "authSecret": "...",
    "params": {
        "login": "zapprep",

[2017-05-30 06:58] developercakephp commented on #246
![screen2](https://cloud.githubusercontent.com/assets/3120484/26571418/849ba286-4533-11e7-86ad-b9f1ab24566b.png)

[2017-05-30 07:06] developercakephp commented on #246
Yes i have connected properly. and also follow all step for  iosrtc integration define in Docs.
it is working fine in android, but not in IOS

[2017-05-30 11:40] soulfly commented on #246
It's definitely something wrong with iosrtc plugin..
We are going to fully replicate ionic like environment and get back to you

[2017-05-30 14:12] soulfly commented on #246
@developercakephp do you use IONIC NATIVE in your app?

[2017-05-30 15:28] developercakephp commented on #246
Yes I am using native ionic. I had share above my project environment details

[2017-05-31 13:28] developercakephp commented on #246
i am waiting for your reply. have you reproduce it.

[2017-05-31 13:37] dimaspirit commented on #246
Hi, could you check how many times you call `QB.init` method?

[2017-05-31 13:39] developercakephp commented on #246
I called it one time when device ready.

[2017-05-31 14:40] soulfly commented on #246
@developercakephp  how do you connect QuickBLox to your app?
via HTML <script> tag or via npm/TypeScript file, e.g. app.component.ts ?

[2017-05-31 15:03] developercakephp commented on #246
See attached index file. created provider for quickblox and import that class in app.component.ts. in app.component.ts created an object of it. in quickblox provider I have called

![index](https://cloud.githubusercontent.com/assets/3120484/26638687/5d67a404-4640-11e7-8c52-10a9669104e0.png)

[2017-06-01 13:28] developercakephp commented on #246
Any success ?

[2017-06-02 15:26] arsewizz commented on #235
did you resolve the issue? need a help too @dimaspirit

[2017-06-02 15:31] arsewizz commented on #220
sameone cana share a exemple who works?

[2017-06-05 07:48] swati-bothra opened #249 "How to switch between Multiple cameras during video calling?"
Can anyone please guide me how to switch camera during the video call if I have multiple cameras?

[2017-06-07 16:41] egonzalez-T commented on #235
@arsewizz I found workaround the issue by copying the strophe.js file into the /www directory and including   <script src="strophe.js"></script> in index.html.

[2017-06-08 22:36] arsewizz commented on #235
@egonzalez-T me too, but i have the error that it says error toke. can you help me with the auth system

[2017-06-12 08:48] hiteshagja opened #250 "Video/Audio Chat disconnects after random time interval"
I have integrated quickblox refering your webrtc javascript example and I am facing call disconnection issue. Call is getting disconnect between 20-28 seconds. Why is this happening? Is there any API limitation for starter plan? Help me solve this issue.

[2017-06-12 08:50] dimaspirit commented on #250
Hi, we don't have any limits on call. Could you check any issues in developer's cosole?

[2017-06-12 11:57] hiteshagja commented on #250
@dimaspirit

Getting error like this

[QBWebRTC]: Error on 'addIceCandidate': OperationError: Error processing ICE candidate

[QBWebRTC]: Ignore 'onStop', there is no information about session c3f96224-7db7-48d9-8689-2e50c82542a6 by some reason.

I am getting connectionState=6 and then connectionState=5 in onSessionConnectionStateChangedListener after 20+ seconds. And this is persistent.

[2017-06-13 09:25] lvl99 opened #251 "Issue with checking unread messages on dialogs"
**Environment details**
*(Operating system, browser information, SDK version)*
Google Chrome 58.0.3029.110 (64-bit)
Mac OS X 10.12.5

**Did this work before?**
Yes, this did work before

**Expected behavior**
When I use the `quickblox.chat.message.unreadCount` endpoint with `chat_dialog_ids` specified as an array, I should receive an object with the dialogs' IDs as the keys and the accurate `unrea

[2017-06-13 11:54] hiteshagja commented on #250
@dimaspirit

[QBWebRTC]: 'setRemoteSessionDescription' error: OperationError: Failed to set remote offer sdp: Called in wrong state: STATE_SENTOFFER

this error always comes when someone accept my call.

[2017-06-19 05:39] shide1989 opened #252 "Cannot read property 'indexOf' of null"
Hi,
in quickblox sdk 2.5.4 using NodeJS,
when calling `QB.chat.helpers.getRoomJidFromDialogId` we are getting the following error :
`TypeError: Cannot read property 'indexOf' of null`

**Did this work before?**
This used to work well in quickblox 2.4

**Environment details**
Running in NodeJS 8.1.0
*(Operating system, browser information, SDK version)*
QB sdk 2.5.4

**Expected behavior**
Expected

[2017-06-20 06:16] shide1989 opened #253 "TypeError: Cannot read property 'errors' of undefined"
Hi,
here's another error Sentry spotted out today in the QB SDK :

in File `/node_modules/quickblox/src/qbProxy.js` ,Line 146 :
` Utils.QBLog('[Response][' + _this.reqCount + ']', 'error', response.statusCode, body || error || body.errors);`
**Environment details**
Running in NodeJS 8.1.0
*(Operating system, browser information, SDK version)*
QB sdk 2.5.4

**Logs**
[code]

**Steps to reproduce the

[2017-06-20 06:34] swati-bothra commented on #249
Is there any update regarding the issue?

[2017-06-20 12:48] lvl99 commented on #251
After checking today, it seems that it's back to working again. Thanks 👍

[2017-06-21 06:32] ashish-procentris opened #254 "Quickblox messages are not getting saved to history,the messages are delivered to other user but not view able in dialog history or not getting saved"
Quickblox messages are not getting saved to history,the messages are delivered to other user but not view able in dialog history or not getting saved

[2017-06-21 07:17] Vladlukhanin commented on #254
Don't forget about the parametr [save_to_history](https://quickblox.com/developers/Web_XMPP_Chat_Sample#Chat_in_dialog)

[2017-06-21 07:19] ashish-procentris commented on #254
yes sir already added and using the parameter ,its like some messages are getting saved some are not...
the percentage of messages not getting saved is very high

[2017-06-21 07:22] ashish-procentris commented on #254
also using latest sdk 2.6.0 and startup tier account

[2017-06-21 07:24] Vladlukhanin commented on #254
Do had some errors in console from our JS SDK or some other?

[2017-06-21 07:25] ashish-procentris commented on #254
no errors

[2017-06-21 07:36] Vladlukhanin commented on #254
Send a few messages and check them in your admin panel.

[2017-06-21 07:50] ashish-procentris commented on #254
![chat-error1](https://user-images.githubusercontent.com/29539268/27373040-5be08eee-5684-11e7-8298-03ed134b49f4.png)
![chaterror-2](https://user-images.githubusercontent.com/29539268/27373041-5be464ce-5684-11e7-80f4-e9fbfcc6cd54.png)
![chaterror-3](https://user-images.githubusercontent.com/29539268/27373038-5bd8cc18-5684-11e7-873e-3ccb71458711.png)
![chaterror-4](https://user-images.githubusercont

[2017-06-21 08:42] Vladlukhanin commented on #254
You provided screenshot where I can see just one message (latest from from chat on second image and first from chat on third image), not all history.

[2017-06-21 08:46] ashish-procentris commented on #254
![chaterror-6](https://user-images.githubusercontent.com/29539268/27375199-0960445e-568c-11e7-9dcc-7f1af2ce3172.png)

sir..this is the screenshot you are talking about ?..it has only one message saved

[2017-06-21 08:48] ashish-procentris commented on #254
![chaterror-7](https://user-images.githubusercontent.com/29539268/27375271-46097f7e-568c-11e7-8bf4-bc56a3eeea3d.png)
this is dialog ,the last message field contains the last message text but not in history

[2017-06-21 08:56] Vladlukhanin commented on #254
Could you provide a snippet of code where you send the message?

[2017-06-21 09:01] ashish-procentris commented on #254
![codesnippet](https://user-images.githubusercontent.com/29539268/27375923-3935a0c8-568e-11e7-962f-62ffae3f744a.png)
please find the code snippet to send message

[2017-06-21 09:54] Vladlukhanin commented on #254
Any other custom parameters must be contained in "extension"

[code]

[2017-06-21 09:57] ashish-procentris commented on #254
ok let me try this code

[2017-06-21 10:17] ashish-procentris commented on #254
![messagesnippet](https://user-images.githubusercontent.com/29539268/27379463-f1d37010-5698-11e7-9e06-7b2c58266231.png)
sir its still the same

[2017-06-21 11:52] Vladlukhanin commented on #254
What will console.log(msg) show before the callback(msg)?

[2017-06-21 12:40] ashish-procentris commented on #254
![console-msg](https://user-images.githubusercontent.com/29539268/27384531-cdf7b1ec-56ac-11e7-86dd-63a14da936b1.png)
here you go the console log of 2 messages sent out of which only the first is saved second is not

[2017-06-21 12:56] Vladlukhanin commented on #254
try to put "jid_or_user_id" in "extension"

[2017-06-21 13:05] ashish-procentris commented on #254
![log1](https://user-images.githubusercontent.com/29539268/27385429-4bc4e0c4-56b0-11e7-8ae6-b947aa16b3b6.png)
![log2](https://user-images.githubusercontent.com/29539268/27385430-4bc66cfa-56b0-11e7-9194-e2342e9c9c22.png)

![log3](https://user-images.githubusercontent.com/29539268/27385565-c5c0e36e-56b0-11e7-8c1e-9c8d3083ba78.png)

sir still the same, the first message is saved but not second one

[2017-06-21 13:28] Vladlukhanin commented on #254
possible properties for message, for QB.chat.send(jidOrUserId, messages): type, body, extension, markable

You can try to start [our chat sample](https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/chat) with your [app configs](https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/samples/chat/js/QBconfig.js#L4) and verify history. I think that you have some p

[2017-06-21 13:35] ashish-procentris commented on #254
ok sure ill let you know

[2017-06-21 13:43] Vladlukhanin commented on #254
ok) I want to say that I verified our samples and [q-municate dev](https://qmdev.quickblox.com) and didn't find any problems whith history. These apps use a production server to

[2017-06-21 13:46] ashish-procentris commented on #254
we are using free version could somehow that be the reason??

[2017-06-21 13:57] Vladlukhanin commented on #254
No, any limitations)

[2017-06-24 16:10] lucav opened #255 "After 50/60 seconds the connection goes down"
**Environment details**
*(Operating system, browser information, SDK version)*
PC mobile: Windows 10 + Firefox 54.0 + 2.6.0 sdk
Smartphone: LineageOS 14.1 (Android 7.1.2) + Firefox 54.0 + 2.6.0 sdk

**Did this work before?**
NO

**Expected behavior**
It should works more then 60 seconds.

**Actual behavior**
After 50/60 seconds the connection goes down.

**Logs**
Console logs from browser:

[QBWeb

[2017-06-27 12:53] lvl99 commented on #251
OK, it's broken again. We're also on an enterprise server now.

[2017-06-28 12:48] lvl99 opened #256 "Cannot receive group chat dialogs where no-one has posted a message yet (i.e. `last_message_date_sent` is empty)"
**Environment details**
Google Chrome 59.0.3071.115
Quickblox Javascript SDK 2.5.1

**Did this work before?**
I don't think so.

**Expected behaviour**
To receive all group chat dialogs for a user, even if a group chat has had no messages sent yet

**Actual behaviour**
I retrieve only dialogs that have had a message sent, probably due to the `last_message_date_sent` sorting property.

**Steps to r

[2017-06-28 12:56] lvl99 opened #257 "Bower package for quickblox is >50MB"
Kind of insane, isn't it?

<img width="828" alt="screen shot 2017-06-28 at 14 55 57" src="https://user-images.githubusercontent.com/238480/27637980-ee624540-5c11-11e7-8056-0e3c0fc650e6.png">

[2017-06-29 12:20] dimaspirit commented on #257
@lvl99 , it's something strange.
I don't understand where Bower gets 54MB.
https://i.gyazo.com/4fc625da42ff06dac44000b57dfb0e91.png

Could you explaine this?

[2017-06-29 13:58] lvl99 commented on #257
It's crazy, I don't understand it either. Unless bower is retrieving the whole git repo history as well? That's the only thing I could think of, but looking at the cached files they don't add up to ~60MB either:

![image](https://user-images.githubusercontent.com/238480/27691362-12b2497c-5ce4-11e7-91f1-8071f5366cfa.png)

[2017-06-30 11:23] #239 closed, assigned to dimaspirit

[2017-06-30 11:37] dimaspirit commented on #249
@swati-bothra , we haven't this feature.

[2017-06-30 11:37] #249 closed, assigned to Vladlukhanin

[2017-06-30 11:39] dimaspirit commented on #250
@hiteshagja what a browser / OS and steps to reproduce?

[2017-06-30 11:41] dimaspirit commented on #251
@lvl99 It seems as an issue on the backend, If you are enterprise write to our support department and we will fix.

[2017-06-30 11:41] #251 closed, assigned to dimaspirit

[2017-06-30 12:28] #94 closed, assigned to dimaspirit

[2017-06-30 12:28] #102 closed, assigned to Vladlukhanin

[2017-06-30 12:29] dimaspirit commented on #114
We are preparing 3x version of SDK, so we will use fetch there

[2017-06-30 12:29] #114 closed, assigned to dimaspirit

[2017-06-30 12:30] dimaspirit commented on #118
@vamsi0391 are you resolve the issue?

[2017-06-30 12:31] #132 closed, assigned to dimaspirit

[2017-06-30 12:31] netchkin commented on #114
@dimaspirit any ETA on 3x version of SDK?

[2017-06-30 12:32] #138 closed, assigned to dimaspirit

[2017-06-30 12:33] #149 closed, assigned to nobody

[2017-06-30 12:33] #164 closed, assigned to nobody

[2017-06-30 12:35] #190 closed, assigned to nobody

[2017-06-30 12:42] dimaspirit commented on #198
@lierox check out sample here https://quickblox.com/developers/Sample-webrtc-cordova
Notify if it's will not help you

[2017-06-30 12:43] #208 closed, assigned to nobody

[2017-06-30 12:46] dimaspirit commented on #221
Sorry, not screen sharing doesn't add to SDK, also you can't change stream online.

[2017-06-30 12:53] dimaspirit commented on #233
It's just example, not a working app.

[2017-06-30 12:53] #233 closed, assigned to soulfly

[2017-06-30 13:11] dimaspirit commented on #257
Anyway, Bower recommends use Yarn.
I will try to understand, but I think it's Bower sys files/information.

[2017-06-30 13:11] #257 closed, assigned to dimaspirit

[2017-07-03 13:08] shide1989 commented on #252
any updates ?

[2017-07-06 07:33] sbchamadiya commented on #239
I have a query in quickblox regarding attachment.Query is as below :--

1) How i will identify attachment type i.e image or audio or video?
2) Can i get attachment type on basis of attachment ID?

Response fast with SOLUTION...☺

On Fri, Jun 30, 2017 at 4:53 PM, dimanerdster <notifications@github.com>
wrote:

[2017-07-27 11:59] biplabmalakar commented on #15
I also have same problem

QB.init(appId, authKey, authSecret);
QB.createSession(QB, (err,data)=>{

})

TypeError: Cannot read property 'sigBytes' of undefined

[2017-07-27 12:19] gonzag opened #264 "Push Notifications with Ionic 3"
**Environment details**
*(Operating system, browser information, SDK version)*
Android with Ionic 3 Framework

**Did this work before?**
No

**Expected behavior**
Send Push Notification to Android devices with Firebase

**Actual behavior**
Notifications appear in the admin panel of Quickblox as sent, but never arrives to the devices.
But inside Firebase, I'm able to send push notifications and tho

[2017-08-07 14:11] #118 closed, assigned to nobody

[2017-08-14 05:52] #254 closed, assigned to Vladlukhanin

[2017-08-14 05:56] ashish-procentris opened #266 "Bad TImestamp ,Unprocessable Entity"
i am getting this unique issues on a specific machine it is Unprocessable Entity with error code 422 and error base as bad timestamp,can anybody guide me as to how to solve this
![01ea5bb51c0de12020c2001f3a77c314cee2a6d071a01cbc93 pimgpsh_thumbnail_win_distr](https://user-images.githubusercontent.com/29539268/29259852-61204e2e-80e3-11e7-86d9-5c9d64c52691.jpg)

[2017-08-14 06:41] Vladlukhanin commented on #266
@ashish-procentris , the screenshot is very small and has a bad quality. Can you make and show an other?

[2017-08-14 06:45] ashish-procentris commented on #266
![quickblox-badtimestamp](https://user-images.githubusercontent.com/29539268/29260883-33d7d886-80ea-11e7-8a16-8df8a33cb208.png)
hope this helps

[2017-08-14 06:54] Vladlukhanin commented on #266
ok, can you show code snippet where you create session?

...and we need to know other info from our markdown questions:
**Environment details**
*(Operating system, browser information, SDK version)*

[2017-08-14 06:58] ashish-procentris commented on #266
![image](https://user-images.githubusercontent.com/29539268/29261196-f3c9dfee-80eb-11e7-8441-b0064bfc45ea.png)
operating system windows 7 on all browser for this machine..actually this is only for this specific machine

[2017-08-14 07:00] ashish-procentris commented on #266
SDK 2.6.0 JSSDk

[2017-08-14 07:44] Vladlukhanin commented on #266
Check your local time, it's actual for your region?

[2017-08-14 07:53] ashish-procentris commented on #266
i didnt got you??can you explain me in detail

[2017-08-14 08:07] Vladlukhanin commented on #266
In your snippet code all are right. Set actual time in your Windows OS, because of your local time is incorrect you got error - bad timestamp.

[2017-08-14 09:41] ashish-procentris commented on #266
ok it means for example if i am from india and my machine timezone is from another region that this error occurs?

[2017-08-14 09:49] Vladlukhanin commented on #266
The difference in time on your computer (your OS) and your local time (your country/place) should not be more than one hour

[2017-08-14 10:08] ashish-procentris commented on #266
ok,but then how this other chat gaints handle this issuse like facebook,watsapp, skype or yahoo...in production enviornment we dont have control on user machines..

[2017-09-12 09:05] ashish-procentris commented on #266
any comments on this?

[2017-09-12 09:07] ashish-procentris opened #271 "quickblox api taking time for israel location"
i need to know the servers location or information of quickblox..for free tier some of our users located in Israel are facing speed issues

[2017-09-18 14:04] dimaspirit commented on #271
@ashish-procentris , hi, free servers are based in the USA.

[2017-09-19 07:34] ashish-procentris commented on #271
OK.. so what about paid instances can i get detail information about the server region wise ?? No of servers per region??

[2017-09-19 14:07] dimaspirit commented on #271
Yiu could contact with sales dept. for this https://quickblox.com/enterprise/

[2017-09-19 14:07] #271 closed, assigned to nobody

[2017-09-20 11:26] Parmenione opened #272 "Share Remote Screen in Chrome"
Hi,
I'd like to share screen window by chrome.
I'm using an extension (like https://chrome.google.com/webstore/detail/screen-capturing/ajhifddimkapgcifgcodmmfdlknahffk) and use getScreenId to retrieve source id and constraints, then i create an offer and set local description but never happen.
I see that the remote Android freeze video stream but it doesn't show the screen video instead of I see i

[2017-09-20 14:06] ashish-procentris opened #273 "frequently getting 502 error"
i am frequently getting 502 bad gateway error since 3 4 days? any details

[2017-09-20 14:14] Vladlukhanin commented on #273
Some updates have been on our server.

[2017-09-20 14:23] ashish-procentris commented on #273
ok

[2017-09-20 14:25] ashish-procentris commented on #273
any estimates till when would the services be up and running

[2017-09-20 14:33] Vladlukhanin commented on #273
try in half an hour or an hour

[2017-10-01 23:19] t-fritsch commented on #204
My 2 cents : looks like this bug is due to quickblox thinking that the app is running in node.js environment and thus requiring lots of unavailable packages (fs, crypto, etc.).
I tried to force env to browser by setting `isBrowser = true` everywhere and commenting every `require(...)` instruction that was firing an error with no result yet.

Another solution could be to force those packages to ins

[2017-10-03 09:31] t-fritsch commented on #204
So I tried to use rn-nodeify but after adding crypto, fs, util, events, http, https, url, stream and zlib (one after another, followed by a complete and long process : yarn install+react-native link+delete app/build folders+full rebuild cycle) it seems like a dead end : Adding child_process to rn-nodify was ineffective and I couldn't get rid of the "Unable to resolve module child_process".

So sad

[2017-10-03 12:28] Dandroas commented on #204
@tfritsch-km IMO I would use another. I have enterprise support, and when I initially asked, they said it should work fine, despite the fact that there is obvs issues (as you pointed out, Node modules.).

I wished we used firebase from the getgo

[2017-10-05 14:44] hitesh009 opened #274 "When I upload final code of webrtc on server than It cause problem when I am trying to call with my peer"
** Comments ***
I developed one system using "quickblox webrtc". Locally I tested everything it works fine but when I upload on a server than calling is not working. I am using them file app.js. I did not change anything just I changed the flow of calls. So please anybody knows what I have to do please suggest me. It may be server side issue or maybe on quickblox issue.

**Environment details**
I

[2017-10-17 12:54] sloutions3e commented on #219
# Android stuck after calling with web
Even I am facing the same issue
I've tested the following-

Between two android devices. - WORKED
Between Android Device and IOS Device - WORKED
Between Android Device and Desktop - DID NOT WORK

### Environment details
Android: QB SDK 3.0
Web RTC - Web: 2.5

### Expected behaviour:
App should get the accept acknowledgement once the other person accepts the c

[2017-10-27 14:59] sakthig opened #280 "Issue with group chat: onRemoteStreamListener not called for multiple users"
**Environment details**
OS: Mac
Browser: Chrome
SDK: Latest

**Did this work before?**
No. Infact facing similar issue in the official demo as well. If we create a room and login, the first two users are able to see each other. But when the 3rd person logs-in any of the previous user is getting kicked out. Only two users are visible in the room at any given point of time.

**Expected behavior**
Mu

[2017-10-30 11:01] vikas-polarisft commented on #204
Hi is there any update on this issue, was migrating from Ionic to React-Native and got blocked on this issue trying to require Quickblox and getting the fs module issue

[2017-11-05 22:06] shahriar opened #282 "Signing In with Firebase phone not working"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
macOS Sierra 10.12.6 , Google Chrome Version 61.0.3163.100 (Official Build) (64-bit)

**Did this work before?**
No

**Expected behavior**
Successfully login with Firebase Phone

**Actual behavior**
Shows error 404

**Logs**
*(please, switch on a [debu

[2017-11-06 08:01] Vladlukhanin commented on #282
Hi, @shahriar
From which server the error comes, quickblox or firebase?

[2017-11-06 08:40] shahriar commented on #282
@Vladlukhanin
It's from quickblox. Firebase login working great. It fails when I try to login Quickblox with firebase access_token.

https://quickblox.com/developers/Sample-users-javascript#Signing_In_with_Firebase_phone

[2017-11-06 09:05] Vladlukhanin commented on #282
Did you try this on our shared server (api.quickblox.com)?

[2017-11-06 09:20] Vladlukhanin commented on #282
You use [cordova-plugin-firebase](https://github.com/arnesson/cordova-plugin-firebase)?

[2017-11-06 09:52] shahriar commented on #282
No, I didn't try shared server. Just used quickblox js sdk.

Yes, I used that plugin to verifyPhoneNumber. To install the plugin
`cordova plugin add https://github.com/arnesson/cordova-plugin-firebase --save`

As I found verifyPhoneNumber is unavailable when I use
`cordova plugin add  cordova-plugin-firebase`

[2017-11-06 09:56] Vladlukhanin commented on #282
Your environment - macOS Sierra 10.12.6 , Google Chrome Version 61.0.3163.100 (Official Build) (64-bit)... did your read about this plugin - https://github.com/arnesson/cordova-plugin-firebase#verifyphonenumber-android-only ? As I see - This will only works on physical devices (Android only)

[2017-11-06 09:59] shahriar commented on #282
Sorry. My mistake. I had to mention that.
Yes. I am testing on real device and inspecting using google chrome.

I think quickblox sdk using api.quickblox.com

[2017-11-06 10:23] Vladlukhanin commented on #282
I tryed to loging by phone number on api.quickblox.com and everything worked fine. I hope you will do well.

[2017-11-06 10:48] shahriar commented on #282
@Vladlukhanin
Great! Can you share the quickblox login part?

[2017-11-06 11:01] Vladlukhanin commented on #282
## Authorization via Firebase (to create User session token based on Firebase phone user (SMS))

1. Open [Firebase Console](https://console.firebase.google.com) and create a new application if you need.

2. [Install the Firebase SDK](https://firebase.google.com/docs/web/setup) or just paste the code snippet into your application HTML:
[code]

3. Initialize the Firebase SDK:
[code]

### FirebaseUI

[2017-11-06 11:44] shahriar commented on #282
Thanks. Have you didn't tested on real device?
Last time I tried recaptcha requires running web domain which is not available on mobile devices. recaptcha works on browser.

[2017-11-06 12:10] shahriar commented on #282
Thanks a lot. It worked.

[2017-11-06 12:28] Vladlukhanin commented on #282
Our team haven't tried it with cordova/phonegap yet. Maybe a little later

[2017-11-07 17:35] t-fritsch commented on #204
Thanks @Dandroas I followed your advice and switched to firebase (I would have preferred not using a google service but it works fine so far).

I hope one day QuickBlox team will try to make their js sdk compatible with React Native since the tech is quite growing, and QB service seems very cool.

[2017-11-14 15:20] #282 closed, assigned to nobody

[2017-11-25 02:08] binhdxnexle commented on #255
How do you resolve it @dimaspirit ? I have the same issue.

[2017-11-30 11:57] ManojSolanki commented on #253
I am having same issue as above. Please help.

[2017-12-05 10:55] ManojSolanki commented on #252
Hi try call QB.init() each-time , you sending message like:

[code]

[2017-12-05 12:26] Vladlukhanin commented on #252
TypeError: Cannot read property 'indexOf' of null  - from Helpers.getIdFromNode() as I see.
https://quickblox.github.io/quickblox-javascript-sdk/docs/QB.chat.helpers.html#.getIdFromNode.
You need to call QB.init() just once, to init your application.

[2017-12-15 14:28] neerajbr opened #288 "audio video calling not working on Safari (11+) browser"
hello Team,

I am using the Javascript SDK latest 2.7 version.
Some time i am facing below error during video calling.
(device not found error)
but i attached camera and head phone in my system and it is showing device not found error message on the screen.
****Error Log:****
Unhandled Promise Rejection: NotAllowedError (DOM Exception 35): The request is not allowed by the user agent or the platfo

[2017-12-26 09:06] waelbentaleb commented on #146
I have the same issue here, I can't list my subscription for both REST API and JavaScript SDK.

[2018-01-04 01:05] db2crush opened #290 "duplicate login on other pc"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
latest chrome version, quickblox 2.7.0

**Did this work before?**
no

**Expected behavior**
1) Login by two PC by same ID.
2) Other PC or mobile calls to this ID.
3) Then call is rejected.

**Actu

[2018-01-10 20:11] limaneto opened #292 "Stream does not attach to video tag"
Phonegap/IOS/Android

I've been trying to make the tool work on ios/android with phonegap, and only made it work on android. On iOS using iPhone 6 and iOS 11.2.2 the video does not show on the screen, but on android it does. And it does not show error messages.

`QB.init(CREDENTIALS.appId, CREDENTIALS.authKey, CREDENTIALS.authSecret);

        var calleesIds = [89093];
        var sessionType = QB

[2018-01-11 07:06] ayushishah-easternts opened #293 "Update last message when delete message performed"
SDK version : 2.5

Hi ,

How to handle the display of last message in dialog listing if the user deletes the last message of that particular dialog for oneself i.e no force delete? In this case any workaround to update the dialog listing with updated last message?

Here we are using QB.chat.message.delete is the method we are using for deleting message.

[2018-01-18 05:48] ManojSolanki commented on #10
Hi, please let us know if you added the callback function for web?

[2018-01-23 05:23] itsaboutcode opened #299 "Is there any plan to give Typescript Definition File"
I was wondering if you guys are planning to give typescript definition files for your library. Thanks.

[2018-01-24 14:02] Vladlukhanin commented on #299
Hi, @itsaboutcode
Excuse me, what are you mean "typescript definition files"? Does our SDK work with your TypeScript project?

[2018-01-25 10:09] itsaboutcode commented on #299
@Vladlukhanin - It's working fine with our typescript project but would like to know if we can get TypeScript Type Definition file (d.ts).

[2018-01-25 12:16] Vladlukhanin commented on #299
Haven't thought about adding declaration files. And I can't promise you that we're going to do this at close time.
We will let you know if it happens.

[2018-01-25 13:14] manojintorque opened #302 "I am facing an issue in real time(Instant) chat"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

==>

$scope.sendMessage = function(){
var msg = {
			type: $scope.type == 3 ? 'chat' : 'groupchat',
			body: $("#chat-message").val(),
			extension: {
				save_to_history: 1,
				nick: $scope.ChatLogin
			},
			senderId: $scope.fromID,
			send_to_chat:1,
			delay:null,
			ma

[2018-01-25 13:36] Vladlukhanin commented on #302
"I am facing an issue in real time(Instant) chat" - what's the problem?

[2018-01-25 13:38] manojintorque commented on #302
The problem is that when i send a message to another person then that person not getting instant message he need to re fetch it and then he get it.

[2018-01-25 13:47] Vladlukhanin commented on #302
https://quickblox.com/developers/Web_XMPP_Chat_Sample#Chat_in_1-1_private_dialog

Have you used QB.chat.onMessageListener to get messages?

I've found a mistake (you must send custom parameters in "extension" field):
[code]

[2018-01-25 13:52] manojintorque commented on #302
'QB.chat.onMessageListener' - No i haven't use it, Can you tell me where i have to put in code?

[2018-01-25 13:55] manojintorque commented on #302
angular.min.js:92 TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at Object._JStoXML (http://localhost/test/Heyoo-Web/QB/quickblox.min.js:15236:40)
    at http://localhost/test/Heyoo-Web/QB/quickblox.min.js:15250:62
    at Array.forEach (<anonymous>)
    at Object.filledExtraParams (http://localhost/test/Heyoo-Web/QB/quickblox.min.js:15247:47)
    at r.

[2018-01-25 14:02] Vladlukhanin commented on #302
[code]

Use our code as example. Read more in [the chat guide].(https://quickblox.com/developers/Web_XMPP_Chat_Sample#Guide:_Getting_Started_with_Chat_API)

[2018-01-25 14:07] manojintorque commented on #302
i have to add  "QB.chat.onMessageListener = onMessage;" this after  "QB.chat.send(opponentId, msg);" this line line right? or when i connect chat ?

QB.chat.connect({userId: user['id'], password: $scope.U_Email+$scope.U_Mobile}, function(err, roster) {
						  if (err) {
							  console.log(err);
						  } else {
							  console.log(roster);
						  }
					});

[2018-01-25 14:18] Vladlukhanin commented on #302
QB.chat.onMessageListener is a function-listener.
The better way is define the QB.chat.onMessageListener after QB.chat.connect will return a response (not an error).
The QB.chat.onMessageListener will always execute if it has a new message.

[2018-01-25 14:25] manojintorque commented on #302
Thank you for quick response but when i tried above thing its also generate error, i will put "QB.chat.onMessageListener" like below  is okay?
QB.chat.connect({userId: user['id'], password: $scope.U_Email+$scope.U_Mobile}, function(err, roster) {
						  if (err) {
							  console.log(err);
						  } else {
							  console.log(roster);
							  QB.chat.onMessageListener = onMessage;
						  }

[2018-01-25 15:00] Vladlukhanin commented on #302
Yes, it's ok! And then you can define the function onMessage(userID, message) anywhere.
[code]

[2018-01-26 10:05] manojintorque commented on #302
Sorry be late
Yeah i declare same but it generate error like below !!

angular.min.js:92 TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at Object._JStoXML (http://localhost/test/Heyoo-Web/QB/quickblox.min.js:15236:40)
    at http://localhost/test/Heyoo-Web/QB/quickblox.min.js:15250:62
    at Array.forEach (<anonymous>)
    at Object.filledExtraParams (

[2018-01-26 10:17] Vladlukhanin commented on #302
I think that the error in your **message.extension** object (Cannot convert undefined or null to object). Possible it happens because you set **message.extension.delay** as _null_.

[2018-01-26 10:23] manojintorque commented on #302
QB.chat.connect({userId: user['id'], password: $scope.U_Email+$scope.U_Mobile}, function(err, roster) {
						  if (err) {
							  console.log(err);
						  } else {
							  console.log(roster);
							  QB.chat.onMessageListener = onMessage;
						  }
					});

function onMessage(id, msg) {

		console.log(msg);
		console.log(id);
	}

var msg = {
			type: $scope.type == 3 ? 'chat' : 'groupchat',

[2018-01-26 10:32] Vladlukhanin commented on #302
So, you have the message object from other user - just add the message on UI. The dialog where the message comes in will update on server. It always will be updated if you use save_to_history = 1.

[2018-01-26 10:37] manojintorque commented on #302
Yeah let try that one i will update you soon :)

[2018-01-26 11:03] manojintorque commented on #302
Yeeee Vladlu Khanin
 A BIG Thank you very much for quick response
 now is working Good :)

[2018-01-26 11:19] manojintorque commented on #302
I need one more help to load all messages in ui so i follow bellow syntax:
var params = {chat_dialog_id: dialogId, sort_asc: 'date_sent', limit: 100, skip: $scope.msgSkip};
but i want to load all messages
what i have to do?

[2018-01-27 06:03] manojintorque opened #303 "I facing issue in update profile !"
var user_id = localStorage.getItem('userid');
$scope.profile = data['user']['U_ProfileImage'];

QB.users.update(user_id, {full_name: user_fullname,custom_data:$scope.profile)}, function(err, user){
  if (user) {
	console.log(user);
  } else  {
	console.log(err);
  }
});

ERROR

{code: 404, status: "error", message: {…}, detail: null}
code
:
404
detail
:
null
message
:
{code: null, message: "Possib

[2018-01-28 22:36] garretblankenship commented on #18
Ran into this issue on a IPhone 6s running Safari. When I go to the web application everything connects just fine but if I close the phone and then unlock the phone and open the browser again I get the connection issue. I think this is happening because I am using ReactJS and the component remounts which recalls the `QB.chat.connect()`. Is there a method you can use to see if you are already conne

[2018-01-29 06:36] testaccnt0435 opened #304 "Error: devices (camera or microphone) are not found."
I have run the app using cordova in android. When I select the user and click video call button, I get this error "Error: devices (camera or microphone) are not found.". I have turned on the camera permissions and configured my config.xml file as mentioned in [url](https://github.com/QuickBlox/quickblox-javascript-sdk/commit/772cea80428e23a0ceec01918e54df4a0a9aeb23#diff-5f1e743bd47e1286a6f57330e79

[2018-01-31 09:15] SnuK87 commented on #118
I'm currently trying the same and get this error:
[code]

@Vladlukhanin What exactly is an admin user?
- Is it a user where I check `Is admin (read only)`? I tried it and got the error
- Is it the login I use for the QB admin panel? But what should I use as login? That user only has `Username` and `Email`
- Is there another admin user I missed?

I'm using the same code that you posted so I think I

[2018-02-15 10:27] dimaspirit commented on #146
Sorry for the long delay.
Could you specify this issue? Environment details, SDK version, logs and screenshots from Network (Developer tools) for this requests.
Also, you could check this case by [test cases](https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages/spec/QB-PushnotificationsSpec.js) to make sure that this SDK issue. Just change [config](https://github.com/QuickBlox/quick

[2018-02-15 10:28] #167 closed, assigned to nobody

[2018-02-15 10:33] dimaspirit commented on #181
To all,
we finished writing [docs](https://quickblox.github.io/quickblox-javascript-sdk/docs/) for all modules except call (WebRTC).
About Node.js code samples there is no difference between browsers or Node.js.
We have the little [example](https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/chat_bots) for bots in chat which help to start.

[2018-02-15 10:37] #198 closed, assigned to dimaspirit

[2018-02-15 10:40] dimaspirit commented on #204
To all,
in a few future sprints, we will research and will fix this issue.

[2018-02-15 10:45] dimaspirit commented on #212
@arpit87 , we implemented last activity features. Check out [v2.7.0](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.7.0)

[2018-02-15 10:45] #212 closed, assigned to dimaspirit

[2018-02-15 10:52] dimaspirit commented on #218
Sure you need to connected before make `send`. And call another request in callback which fire after connect.
Now we don't have `isConnect` methods so you need to realize this logic by yourself.

[2018-02-15 10:52] #218 closed, assigned to dimaspirit

[2018-02-15 10:52] Vladlukhanin commented on #206
Sorry, I can't understand how you got user's name from a group chat? It does not exist there. Can you describe your problem? May be some code snippets?

[2018-02-15 11:00] #181 closed, assigned to dimaspirit

[2018-02-15 11:00] #221 closed, assigned to dimaspirit

[2018-02-15 11:03] dimaspirit commented on #235
@arsewizz Check out [docs](https://quickblox.com/developers/Javascript#Getting_started) for auth.

[2018-02-15 11:03] #235 closed, assigned to soulfly

[2018-02-15 11:09] dimaspirit commented on #240
Hi, thanks for the report. We will make a handle for an answer to make him more useful and will fix this case.

[2018-02-15 11:17] dimaspirit commented on #250
@hiteshagja any updates? Are you fix this case?

[2018-02-15 11:21] dimaspirit commented on #252
@shide1989 the previously answer helps you?

[2018-02-15 11:29] soulfly commented on #196
As far as I remember, WebRTC is supported staring from Android 5 WebView

In modern versions of Android the WebView component is based on the Chromium open source project which already includes WebRTC ([more info](https://developer.chrome.com/multidevice/webview/overview)). As listed there all Android devices starting from Android 5.0 support WebRTC API in WebView.

So please check this first of a

[2018-02-15 13:32] dimaspirit commented on #303
@manojintorque , i am not sure but looks like you don't set right configuration.
In any way, if you want to get help fill issue by templete. Now we can't help you.

[2018-02-15 14:15] dimaspirit commented on #302
@manojintorque sorry, there is no way to all in one request.
Check out [docs](https://quickblox.com/developers/Web_XMPP_Chat_Sample#List_chat_messages).

[2018-02-15 14:15] #302 closed, assigned to nobody

[2018-02-15 14:18] dimaspirit commented on #299
@itsaboutcode sorry, now we are not planning add Typescript Definition File, but you could use SDK without it. Check out this [solution](https://hackernoon.com/angular-providers-how-to-inject-3rd-party-library-af4a78722864).

[2018-02-15 14:18] #299 closed, assigned to nobody

[2018-02-15 14:35] dimaspirit commented on #290
@runningo Hi, yes you can login with 2 or more times.
You could make workaround to prevent second login if you want.

But for call we make only 1 active login, what first make accept.

[2018-02-15 14:35] #290 closed, assigned to nobody

[2018-02-15 14:38] dimaspirit commented on #288
@neerajbr Hi, for Safari as like for Firefox you need to get permission each time when you mae a call.

Give us more information for reproduce this case if you can't to resolve it.

[2018-02-15 14:41] dimaspirit commented on #280
Hi all,
no, QB SDK support group calls.
Could you try to reproduce this issue on our [sample](https://quickblox.github.io/quickblox-javascript-sdk/samples/webrtc/#join)?

[2018-02-15 14:48] dimaspirit commented on #274
Could you provide what is means 'to call with my peer'?

[2018-02-15 14:49] #273 closed, assigned to nobody

[2018-02-15 15:00] dimaspirit commented on #272
We will research this case soon.

[2018-02-15 15:20] dimaspirit commented on #266
It's requirements from our server.
We don't know how another platforms handle this case.

[2018-02-15 15:20] #266 closed, assigned to nobody

[2018-02-16 04:53] manojintorque commented on #302
@dimaspirit Okay no problem thank you for response :)
 but any other way to fetch  all messages?

[2018-02-16 04:56] manojintorque commented on #303
@dimaspirit I got solution :) thank you for suggestion

[2018-02-16 04:56] #303 closed, assigned to nobody

[2018-02-16 08:30] dimaspirit commented on #302
No, there is no way. Need to make a loop and fetch messages by 100 items max.
Check out docs what are give you before.

[2018-02-16 09:04] manojintorque commented on #302
okay No Problem

[2018-02-19 22:26] GSebastian opened #309 "Filtering dialogs by custom parameters not working"
**Environment details**
*(Operating system, browser information, SDK version)*

Mac OS 10.13.1, Postman / CURL, N/A

**Did this work before?**

Not sure

**Expected behavior**

Return the dialogs where class name is ChatStatus and state == live

**Actual behavior**

Returns all dialogs the user is part of

**Logs**
*(please, switch on a [debugging mode](http://quickblox.com/developers/Javascript#C

[2018-02-21 11:47] itsaboutcode opened #310 "What features are ported to NativeScript?"
I was wondering what features have been ported for NS?

- [ ] Chat?

- [ ] Audio/Video Calling (Peer-to-Peer)?

- [ ] Conference Call?

[2018-02-23 07:38] roudikk opened #311 "Module not found: Error: Can't resolve 'child_process'"
**Environment details**
*(Operating system, browser information, SDK version)*
- Windows
- Chrome, Firefox
- QB 2.8.1 - 2.8.0 - 2.6.2
- Ionic v3
- Angular 5.2.5

**Did this work before?**
- No

**Expected behavior**
- Building a production build should work without throwing any error

**Actual behavior**
- Building a production build using` ionic build --prod` or `npm run build --prod` throwing be

[2018-02-26 04:56] manojintorque opened #312 "Facing problem with QB connect. not able to connect whenever credential is correct"
[**Environment](url) details**
*(Operating system, browser information, SDK version)*
Windows 10,chrom

**Did this work before?**
No

**code**

QB.chat.connect({userId: user['id'], password: $scope.U_Email+$scope.U_Mobile}, function(err, roster) {
						  if (err) {
							  console.log(err);
							  console.log('Not Connect');
						  } else {
							  //console.log(roster);
							  console.log

[2018-02-26 10:21] dimaspirit commented on #311
@RoudyK , thanks for report th issue. Yes, we don't optimize SDK for Ionic yet, now we are supporting Browers, Node.js and NativeScript. As I see, it's some issues with node-xmpp-client.
We will deal with this issue in the order of the queue and notify you of the updates.

[2018-02-26 10:23] dimaspirit commented on #309
@GSebastian Thanks for reporting, we will research this case and will give you more details.

[2018-02-26 11:42] dimaspirit commented on #312
@manojintorque Hi, last week there were some issues and now they are solved.
Can you confirm the error now?

[2018-02-26 12:05] manojintorque commented on #312
@dimaspirit  Yeah i will check it but it work sometime or sometime not so  i'm confused what happen actually problem in my code or some other issue so put code and error to got proper guideline and thank you for quick response ! :)

[2018-02-26 12:18] manojintorque commented on #312
@dimaspirit  but error still same not solved :( so i have to change quickblox.min.js file?
if yes than share link here

[2018-02-26 12:45] dimaspirit commented on #312
Could you share your config to check out this issue?
If you are Enterprise client better use [HelpDesk](https://quickblox.com/contact/).

To make sure that SDK working uses our [specs](https://quickblox.github.io/quickblox-javascript-sdk/spec/SpecRunner.html).
If you want to check your server change[ CREDS and CONFIG, add 2 users](https://github.com/QuickBlox/quickblox-javascript-sdk/blob/gh-pages

[2018-02-26 12:50] manojintorque commented on #312
Hello @dimaspirit  this is code which is implemented
var QBApp = {
  appId: 66237,
  authKey: 'jpzw3EL3e5yN-vz',
  authSecret: '68hYEeS7JEBqKDs'
};

$scope.QBInit = function(){
		// Init QuickBlox application here
		QB.init(QBApp.appId, QBApp.authKey, QBApp.authSecret);

		QB.createSession(function(err,result){
			//console.log('Session create callback', err);
			$rootScope.qbToken = result['token

[2018-02-26 13:03] dimaspirit commented on #312
Could you set in [config ](https://quickblox.com/developers/Javascript#Configuration) ?
[code]

[2018-02-27 04:43] manojintorque commented on #312
@dimaspirit  Yes i was set congif but after add config variable this request  "https://chat.quickblox.com:5281/" fire in background  again and again . and not able to get instant messages !!

[2018-02-28 20:33] kingtross88 opened #314 "unable to resolve module fs"
trying to install this package for a react native project. NSLocalizedDescription=Unable to resolve module `fs` from `/

[2018-03-01 01:46] kingtross88 commented on #25
is there a react native package for quickblox? I'm getting an error when i do "npm install quickblox --save"

[2018-03-01 08:59] Vladlukhanin commented on #25
We're not supported the React Native yet. Few months ago the Quickblox JS SDK got the Native Script support, but we're going to add RN compatibility with our SDK too. I think that it will take about 2-3 months.

[2018-03-01 12:14] dimaspirit commented on #310
Hi, @itsaboutcode .
NS was port Auth, Chat, Content Storage and Custom Objects, without Calls.

[2018-03-01 12:14] #310 closed, assigned to nobody

[2018-03-01 12:21] dimaspirit commented on #312
Ok, could you use our specs (uses your config) to check out that is it issues with SDK or your code?

[2018-03-01 12:21] dimaspirit commented on #312
Give us logs, please

[2018-03-01 12:25] dimaspirit commented on #288
@neerajbr , Hi, yes we know that issue. That's why Safari doesn't use autoplay (https://webkit.org/blog/7734/auto-play-policy-changes-for-macos/) and won't to get access from a user. We are working on a workaround.

[2018-03-01 12:29] manojintorque commented on #312
@dimaspirit
var QBApp = {
  appId: **id**,
  authKey: *authKey*,
  authSecret: **secret**
};
var CONFIG = {
  chatProtocol: {
    active: 1
  }
};

QB.init(QBApp.appId, QBApp.authKey, QBApp.authSecret,CONFIG);

After use CONFIG variable this happen in background ,so not able to get messages instant
![123456](https://user-images.githubusercontent.com/35804782/36844841-4ea945e6-1d7a-11e8-99da-02ccb6

[2018-03-01 13:35] dimaspirit commented on #288
@neerajbr also you could set up autoplay by settings in safari
![7d2b649a-e2a0-47b7-bfaa-07af363e20cb](https://user-images.githubusercontent.com/5120723/36847189-29ff5992-1d66-11e8-85ff-9ea18db9fcec.png)

[2018-03-01 13:35] #288 closed, assigned to nobody

[2018-03-01 14:16] kingtross88 commented on #25
Ok thank you!

On Thu, Mar 1, 2018 at 3:59 AM, Vladyslav Lukhanin <notifications@github.com

[2018-03-07 17:50] fhackenb opened #317 "Upload file error (<Code>InvalidArgument</Code>)"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
I'm running it on NativeScript on an iPad. Version 2.8.1

**Did this work before?**
No

**Expected behavior**

I'm attempting to upload image files (specifically png files) as part of a chat messa

[2018-03-26 18:24] datanotion commented on #317
Any update on this?

[2018-03-31 23:08] kdenaeem opened #324 "Installing QuickBlox on Ubuntu"
Im trying to install Quickblox on Ubuntu so I can use it on my site using the javasciprt sdk

**Environment details**
Im using KDE Plasma 5.12.13 OS-TYPE - 64-bit

**Did this work before?**
No this is the first time I have tried to download it

**Expected behavior**
I expected it to download Quickblox so I can use it on my website

**Actual behavior**
I typed in npm install quickblox --save at use

[2018-04-01 08:06] Vladlukhanin commented on #324
Update the Node.js and npm

[2018-04-03 15:39] zonaibasiddiqui commented on #249
do we have this feature in latest build ?

[2018-04-03 15:46] Vladlukhanin commented on #249
Not in the latest release and not in the next, unfortunately... But we have a task to implement switch between cameras during a call if it will be possible.

[2018-04-11 10:07] asdec opened #327 "Recorded Video not having audio stream from web (js), Only voice from Android Client being recorded"
So our product that we are trying to achieve is as follows:

1. Mobile App (The Client) : We have an Android App with QB Sdk.  The App logs into a chatroom and receives a call. The App can share screen as well.
2. Web Panel (Admin) : Here, the Admin user is logged into the same chat-room. The Admin is shown the list of users (App users) who have logged into the same chatroom. The Admin makes One-t

[2018-04-11 18:56] kdenaeem commented on #311
@dimaspirit I get the same error but I use vue.js
here is the error
`Failed to compile.

./node_modules/node-xmpp-client/lib/Client.js
Module not found: Error: Can't resolve 'child_process' in 'C:\Users\Naeem\Documents\doctoros\ui\html\node_modules\node-xmpp-client\lib'
 @ ./node_modules/node-xmpp-client/lib/Client.js 15:11-35
 @ ./node_modules/node-xmpp-client/index.js
 @ ./node_modules/quickblox

[2018-04-12 08:05] dimaspirit commented on #327
@asdec hi.
QBMediaRecorder based on [MediaRecorder](https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder), so first need to understand browser API recorder.

Also, note that QBMediaRecorder takes only 1 stream and record them. So, if you make a call you will get 2 streams (local and remote). And you need to create 2 instances of QBMediaRecorder and record both.

Thanks for your explanati

[2018-04-13 10:23] anilkumar007 opened #329 "ionic 3 integration"
how can we integrate the quickblox library in ionic 3?

[2018-04-18 05:32] asdec commented on #327
please help me with how to record multiple streams as i can see only 1 stream in QBMediaRecorder. We are using your core application downloaded from here  https://github.com/QuickBlox/quickblox-javascript-sdk

[2018-04-19 10:30] gaurav150493 opened #332 "Recorded blob is in readonly format. How to convert webm format to mp4?"
on recorded stop the blob i am getting is in readonly format i am not able to make any change in it so how can i convert its format from webm to mp4? Is there any specified function for it??

[2018-04-19 11:58] Vladlukhanin commented on #332
The first - the issue for [the javascript-media-recorder repository](https://github.com/QuickBlox/javascript-media-recorder/issues).

You can check which [mime types are supported](https://quickblox.github.io/javascript-media-recorder/docs/QBMediaRecorder.html#.getSupportedMimeTypes) by your browser. Here are [all possible mime types](https://github.com/QuickBlox/javascript-media-recorder/blob/mas

[2018-04-19 12:14] gaurav150493 commented on #332
I have used `mimeType: 'video/mp4'`  in my code but not working.

[2018-04-19 12:27] Vladlukhanin commented on #332
You can check which [mime types are supported](https://quickblox.github.io/javascript-media-recorder/docs/QBMediaRecorder.html#.getSupportedMimeTypes) by your browser...

QBMediaRecorder.getSupportedMimeTypes('video') - and you will see all supported video mime types.

https://quickblox.github.io/javascript-media-recorder/sample/ may be helpful

[2018-04-19 12:27] #332 closed, assigned to nobody

[2018-04-19 12:59] gaurav150493 commented on #332
This is the list i got for supported mimetypes

`["video/webm;codecs=vp9", "video/webm;codecs=vp8", "video/webm;codecs=h264", "video/webm;codecs=opus","video/webm"]`

so according to this `video/mp4` is not supported for my browser where i can see on other website that `video/mp4` format is working on my browser.

Is there any way i can download mp4 file?

[2018-04-20 16:46] RacknerFrank opened #333 "Android connection issue causing app crash"
**Environment details**
NativeScript running on android, sdk 2.11

**Did this work before?**
No

**Crash**
Using the js sdk seems to work perfect for iOS in NativeScript, but on android there is an issue with the connection continuously disconnecting. My program detects the disconnect and automatically attempts a reconnect. After awhile though, the app crashes on getIdFromNodeMethod because jid is

[2018-04-20 18:47] Vladlukhanin commented on #333
Hi, @RacknerFrank
We are solving this issue.
Here is prepared [pull-request](https://github.com/QuickBlox/quickblox-javascript-sdk/pull/331) and I hope that this PR will be helpful for you.
This update will go to the next release, but you can try it - `npm install git+https://github.com/QuickBlox/quickblox-javascript-sdk.git#dev.chat_stability_improvements`. Check it and let us know if there are s

[2018-04-20 22:29] RacknerFrank commented on #333
Thanks, that branch does seem better. It definitely isn't crashing as often as it was before, but after waiting awhile, the app did crash again with this error:

System.err: com.tns.NativeScriptException:
System.err: Calling js method onMessage failed
System.err:
System.err: TypeError: Cannot read property 'indexOf' of null
System.err: File: "file:///data/data/com.jsoftllc.loopmein/files/app/tns_m

[2018-04-23 12:26] Vladlukhanin commented on #317
Here is a link how to do it on iOS
https://gist.github.com/soulfly/b55d6c0dd9448bc1dc1133793a6ac22d

On Android it should be pretty the same, maybe some small changes with image picker

[2018-04-23 12:28] soulfly commented on #317
Unfortunately, the 'createAndUpload' method is not working on NativeScript because of some issues with FormData on NativeScript, so please try above snippet from Vlad and let us know

[2018-05-02 10:34] niccolofanton opened #335 "Can't accept the session in onCallListener"
I'm using Quickblox JS in my Ionic 3 project.

**Environment details**
*(Operating system, browser information, SDK version)*
I'm using iOS 10.3.3, ionic 3.20, cordova 8.0, quickblox.min.js 2.11, cordova-plugin-iosrtc

**Did this work before?**
No.

**Expected behavior**
Start the video-call.

**Actual behavior**
Error "Can't accept the call, there is no information about peer connection by some r

[2018-05-02 11:18] niccolofanton commented on #329
Hi you have to use this code in your index.html file:
[code]

Now in your controller use this (write under the imports):
`declare var QB: any;`

And now you have the QB object. To enable the iOS Webrtc you have to install this plugin:
https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc
Follow all the steps for the installation.

**Edit:**
I've made a simple demo, maybe it can help you.
https:

[2018-05-03 00:47] datanotion commented on #333
Thanks for pointing out that PR Vlad.  Now that it has been merged, is there another PR or branch that resolves the new issue that @RacknerFrank pointed out?  We're still seeing it randomly pop up.  Thank you!

[2018-05-03 01:03] datanotion commented on #317
The gist did appear work for iOS!  Thank you @soulfly and @Vladlukhanin

In case you didn't see the comment from @fhackenb here: https://gist.github.com/soulfly/b55d6c0dd9448bc1dc1133793a6ac22d

It does not work for Android.  Can you please explain to us what needs to be handled differently, or even provide a small code sample please?  Thank you!

[2018-05-03 07:51] Vladlukhanin commented on #317
OK, Thank you @datanotion
We will try to run this solution for Android and let you know!

[2018-05-03 08:18] Vladlukhanin commented on #333
@RacknerFrank , @datanotion , I have tried to look the problem, but have not met this issue.
Could you guys show some reproduction steps?

[2018-05-03 08:35] Vladlukhanin commented on #317
@datanotion
Could you [look my last comment here](https://gist.github.com/soulfly/b55d6c0dd9448bc1dc1133793a6ac22d)?

[2018-05-03 09:33] niccolofanton commented on #246
I'm having the same problem, have you solved somehow?

[2018-05-03 10:30] niccolofanton commented on #311
Hi, you can try import quickblox.min.js from the index.html:
[code]

Then in your provider outside the class, under the import:
`declare var QB: any;`

If you want to use it in iOS you have to follow the guide for the plugins installations:
https://quickblox.com/developers/Sample-webrtc-cordova
(Because iOS doesn't support the WebRTC by default)

[2018-05-03 10:34] ghost commented on #311
@niccolofanton @CodingAlien @dimaspirit if you're using ionic you're going to have to copy the entire js from <script src="https://cdnjs.cloudflare.com/ajax/libs/quickblox/2.11.0/quickblox.min.js"></script>
into a quikcblox.js file and include that file in index.html else your prod app won't work.

When done, using declare const QB: any and use it wherever you want. That works.

[2018-05-03 10:37] niccolofanton commented on #311
@PampaZiya  now I'm going to try. Have you used Quickblox js also in iOS side Ionic successfully?

[2018-05-03 11:29] ghost commented on #311
@niccolofanton Yes and it works

[2018-05-03 12:00] niccolofanton commented on #311
@PampaZiya sorry for bothering you, currently I'm working on an application (Ionic 3 iOS-Android) that allows user to make video-calls and I'm stuck in the iOS side of the project, I have a problem when answering a call ( session.accept({}) always log an error "Can't accept the call, there is no information about peer connection by some reason." ). Have you ever face this problem? Thanks.
(https:/

[2018-05-03 12:49] ghost commented on #311
@niccolofanton Hello, sorry I haven't integrated video call in my implementation, only chat. So I cannot help you :/

[2018-05-03 12:50] niccolofanton commented on #311
Ok nevermind thanks for the help :)

[2018-05-04 06:23] db2crush commented on #249
Hi, @Vladlukhanin
this feature applied ?

[2018-05-04 14:38] datanotion commented on #317
Thank you @Vladlukhanin!  We will be trying that solution today!

[2018-05-04 15:47] datanotion commented on #333
Yes, we will try to figure out how to replicate this.  So far we have not found a pattern.  Give us a few days to try some different things. Thank you @Vladlukhanin !

[2018-05-16 20:05] datanotion commented on #333
Hello @Vladlukhanin!  A quick update: we are still experiencing this, but have still not been able to find a solid replication pattern - its just happens randomly.  It certainly has to do with the app sleeping and waking - so its possible it's happening during reconnection or before it has a chance to reconnect.

Here is the error report we are getting from Sentry, not sure if it has anything new

[2018-05-16 20:26] RacknerFrank commented on #317
Hey @Vladlukhanin any update on this? I also posted here:[https://gist.github.com/soulfly/b55d6c0dd9448bc1dc1133793a6ac22d](url) but not sure if you'd see it there

[2018-05-17 18:29] MarcelOerlemans commented on #224
Hiya,
Did you get this working? I have the same problem: I upload the file, and it's size 0.

[2018-05-17 19:05] MarcelOerlemans commented on #224
Made a public url:
https://api.quickblox.com/blobs/da4a3a76338941119ba52c078114032e00

Logging says everything is ok..

Also tried the textfile example, but that too is empty/0lb.

[2018-05-22 09:01] williamtran1988 opened #341 "Could not login to Chat service."
Hi supporter,

I am having a problem on javascript SDK. I am using quickblox version:
/* QuickBlox JavaScript SDK - v2.3.3 - 2016-10-07 */

My script code:

WebRTCDesktop.prototype.login = function (user, successCallback, failureCallback) {
    var self = this;
    QB.chat.connect({
        jid: QB.chat.helpers.getUserJid(user.ID, self.QBApp.appID),
        password: user.password
    }, function

[2018-05-23 02:05] williamtran1988 commented on #312
I have a same the problem, is it resolved now?

I could login on my windows computer, but on our customer side could not and got exactly the same issue like this. I have tried to use customer's account to login it is working well from my side.
In my opinion, we have a problem with localization in request data or timestamp?

[2018-05-24 05:08] duyetnk commented on #329
@niccolofanton Thanks you for your work :))

[2018-05-25 11:02] ghost commented on #309
Hello!
Any updates regarding this issue?
We have free account for testing purposes and enterprise. And on free account we have same issue with retrieving chat with custom data.

[2018-05-30 07:10] db2crush opened #343 "data channel"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
window
chrome 66.0.3359.181
latest javascript sdk

**Did this work before?**
no

**Expected behavior**
use data channel

**Any others comments?**
How to use data channel by QB ?
Does any way or me

[2018-06-27 11:24] pankajsaw1122 opened #344 "Unable to send push notification getting error code: 422, status: 'error', message: { errors: [ 'No one can receive the message' ] },"

[2018-06-28 09:54] #344 closed, assigned to nobody

[2018-07-02 10:36] bsuyog16 opened #345 "Unable to access android camera in <iframe> tag in ionic3 project for quickblox"
Environment Details :

 - OS : ubuntu 16.04 lts
 - Angular : 4
 - cordova (Cordova CLI) : 7.0.1
 - Ionic Framework : 3.9.2
 - Android SDK Tools : 26.0.2

I am using `<iframe>` tag in ionic3 html page. `<iframe>` is referring to quickblox java-script SDK which is kept inside `src/assets` directory.

    `<iframe` class="quickblox-view" src="assets/webrtc/index.html"></iframe>`

But when I am trying

[2018-07-02 15:26] pournam commented on #204
Is there any update on this? We have a big project that started on web which is using quickblox for chat, now we are finishing a react native app but cannot get messaging to work. We are considering to rewrite all our messaging to use firebase on web so we can support on RN. Any chance quickblox will work on react native very soon?

[2018-07-06 15:13] ayatsaid opened #346 "i need to take user from database mysql"
hello im   run the chat and vedio call correct in laravel application but i need to update user to my database user  to do chat inside application how that ?/ pls help me

[2018-07-13 06:02] jpgarcia99 commented on #25
@Vladlukhanin It's been about 4 months now.  Do you know if htere is any updates to the React native and Quickblox progress ?  thanks.

[2018-07-13 13:22] Rumesh25 commented on #204
Guys, it looks like QuickBlox is not responding anymore. I spent 3 weeks to ping them on various support channels, but it looks like something completely broken…
I did my own investigation on the issues with React-Native, you can ping me at <rumeshtubalor@gmail.com>, I will share it with you. I do not wan’t to waste my time anymore here.. I need to finish my project

[2018-07-13 13:24] Rumesh25 commented on #25
Guys, it looks like QuickBlox is not responding anymore. I spent 3 weeks to ping them on various support channels, but it looks like something completely broken…
I did my own investigation on the issues with React-Native, you can ping me at <rumeshtubalor@gmail.com>, I will share it with you. I do not wan’t to waste my time anymore here.. I need to finish my project

[2018-07-16 09:59] tfritsch-km commented on #204
@Rumesh25 the latest commit on any of the quickblock's repositories (https://github.com/QuickBlox) was on 29th may...
looks like nothing happened since then

no good news.. 🙊

[2018-07-23 03:31] williamtran1988 opened #347 "Re-Initialization Quickblox (Javascript SDK)"
Hi All,

Are there any way to re-init by calling QB.init again with different configuration informations? I am facing an error when i did it:

Uncaught TypeError: Cannot read property 'send' of null
    at a.Websocket._onIdle (quickblox.min.js:15)

Could you please help me on this?
BR,
William Tran.

[2018-07-23 07:52] williamtran1988 opened #348 "Could not change Quickblox app setting"
Hi All,

I have a problem when i change the reference to Quickblox app. I have 2 difference apps on QuickBlox, and my application has feature that allow user choose server to connect. I always init QuickBlox before user login by using:

[QBSettings setApplicationID:appID];
    [QBSettings setAuthKey:authKey];
    [QBSettings setAuthSecret:authSec];
    [QBSettings setAccountKey:accountKey];
    [Q

[2018-07-23 09:05] williamtran1988 commented on #341
The issue is moved to iOS sdk

https://github.com/QuickBlox/quickblox-ios-sdk/issues/1072

[2018-07-23 09:05] #341 closed, assigned to nobody

[2018-07-23 10:39] williamtran1988 commented on #348
[QBRequest destroySessionWithSuccessBlock:^(QBResponse * _Nonnull response) {
        NSLog(@"destroy app session success");
    } errorBlock:^(QBResponse * _Nonnull response) {
        NSLog(@"destroy app session failed");
    }];

Call this when user logout

[2018-07-23 10:39] #348 closed, assigned to nobody

[2018-07-23 15:46] williamtran1988 commented on #347
<img width="1350" alt="screen shot 2018-07-23 at 10 46 08 pm" src="https://user-images.githubusercontent.com/22092643/43087519-45c46714-8eca-11e8-8944-7f6e93c29b4d.png">

[2018-07-24 03:22] williamtran1988 opened #349 "How to destroy app session?"
Hi All,

Could you please tell me how to destroy app session when i logout?

Thanks and regards,
William Tran.

[2018-07-24 05:11] SnuK87 opened #350 "Purge message history from nodejs"
Is it possible to delete all messages from the history in the backend?

When I delete a message with `QB.chat.message.delete` and `{force: 1}` I get the expected result but it's only possible for my own messages. For messages written by other users I get a `403` response as explained in the docs for the JS SDK and REST API.

Currently the only way I see is deleting messages manually via the admin

[2018-07-24 10:00] williamtran1988 opened #351 "Could not make a call"
I am facing the problem when i re-initialization Quickblox again

![screen shot 2018-07-24 at 4 57 30 pm](https://user-images.githubusercontent.com/22092643/43131262-cf86b96e-8f62-11e8-8a4c-3a4d4e9b49f8.png)

It will not happen if i do not init QB again. (Why do i need to re-init, because i support dynamic configuration QuickBlox app).

Are there anybody know how to resolve this issue?

[2018-07-27 13:16] Glebasty8 opened #352 "Ability to download image"
I am generating a download link with help of function QB.content.privateUrl(uid) and I want to give opportunity for user to download this file.
![image](https://user-images.githubusercontent.com/33228450/43322803-6fa9acf6-91b8-11e8-9e50-5514029666bd.png)

[2018-08-08 03:58] mrhocuong opened #354 "Cannot access to Quickblox"
Hi everyone,
I was pulling the project then change the config (AppId, AuthKey, AuthSecet) but it not working.
With default config, I can log in and chat but with my config, I cannot.

The first request to get the application session is done, I got the session token but the login request will throw the error 401 Auth Fail.

Can someone help me to solve this issue? I was trying to research on StackO

[2018-09-03 03:15] Ravi-Chudgar commented on #304
Add the  plugins cordova-plugin-media-capture so it will dectec the  device camera and microphone

[2018-09-10 10:36] itsaboutcode opened #355 "NPM Install Not Working Version 2.12.0"
**Environment details**
*SDK Version 2.12.0*

**Did this work before?**
No Idea

**Expected behavior**
Library should be installed

**Actual behavior**
Library is not installing properly due to npm security audits

**Steps to reproduce the behavior**
Just install the latest version with npm in React App

**Attached Screenshots**

<img width="570" alt="screen shot 2018-09-10 at 2 59 48 pm" src="htt

[2018-09-10 10:40] itsaboutcode opened #356 "NPM Install Not Working Version 2.7.0"
**Environment details**
SDK Version 2.7.0

**Did this work before?**
No Idea

**Expected behavior**
Library should be installed

**Actual behavior**
Library should work

**Steps to reproduce the behavior**
Install npm in React App
`
npm install quickblox@2.7.0`

**Screenshots**

<img width="1053" alt="screen shot 2018-09-10 at 3 32 11 pm" src="https://user-images.githubusercontent.com/204423/45292

[2018-09-12 16:19] tojotewve commented on #255
Any Fix for above issue? I have the same issue.

[2018-09-20 07:23] kasterlod opened #357 "Privacy list & authentication issues"
Hello! I have some problems with implementation. Docs are really unclear, I've tried almost everything and still without success..)

1. Configuration:
Feature: 1-1 chat, version: 2.12.0, browser environment. User is successfully created while signIn. User token is created exactly by docs and returns to user by backend. QB is initialized at first with correct params. (https://quickblox.com/develope

[2018-09-25 14:02] #357 closed, assigned to nobody

[2018-10-03 12:11] rajnishp commented on #255
Refer to [click here] (https://github.com/tornadoweb/tornado/issues/1070)

Nginx as a Websocket proxy and has a default value of 1 minute for proxy_read_timeout setting. Increased that to a sufficiently large value and my problem was fixed. :)

[2018-10-10 07:07] nileskh16 opened #358 "QB WebRTCClient returns old reference to _instance event after disconnecting from it"
**Environment details**

I have been using Quickblox library for enabling the Audio and Video web calls over WebRTC in our application but I am facing one issue. We are trying to open the chat modal and every time we close the modal, we are disconnecting the QB chat proxy. However, if we are trying to open the same modal again, the WebRTCClient is somehow persisting in the system and it returns th

[2018-10-17 20:42] zek opened #359 "Connection close signal comes late"
**Environment details**
IOS (React Native)

**Expected behavior**
All peer connections closed: true

**Actual behavior**
All peer connections closed: false

**Scenario**
Callee rejects call. I got reject event but still connection seems alive.

I think the issue is related to the check.
if (Helpers.getVersionSafari() >= 11)

I forced this function to return 11. After a while I am getting the messa

[2018-10-19 11:27] obrunsmann commented on #355
Any solution here? Same issue.

[2018-11-23 05:02] binita12345 opened #361 "[QBWebRTC]: 'setRemoteSessionDescription' error: OperationError: Failed to parse SessionDescription. null Expect line: v="
Hello,
I am getting Error: 'setRemoteSessionDescription' error: OperationError: Failed to parse SessionDescription. null Expect line: v= because of that i am not able to call AcceptCallListener.
Please, help me how to resolve this 'setRemoteSessionDescription' error through code.

Environment details
(Operating system, browser information, SDK version)
Mac
Chrome
SDK:^2.12.0

Did this work before?

[2018-11-23 05:03] binita12345 commented on #361
![screen shot 2018-11-23 at 10 30 52 am](https://user-images.githubusercontent.com/23699891/48929072-2ccb4d80-ef0b-11e8-9f22-cc93091aa5ff.png)

[2018-11-27 22:46] #359 closed, assigned to nobody

[2018-12-19 13:30] vadimkhmyrovqb commented on #354
@mrhocuong please check the following article in Quickblox documentation:
https://quickblox.com/developers/Authentication_and_Authorization#Request

[2018-12-19 13:37] vadimkhmyrovqb commented on #346
@ayatsaid please check this article explaining how to update API User by identifier:
https://quickblox.com/developers/Users#Update_API_User_by_identifier

[2018-12-19 13:41] vadimkhmyrovqb commented on #343
@runningo sorry for a late response.
Quickblox does support WebRTC. Please check this guide for more information:
https://quickblox.com/developers/Sample-webrtc-web#Browsers_support_of_WebRTC

[2018-12-19 16:01] vadimkhmyrovqb commented on #349
Hi @williamtran1988
The session destroys itself after 2 hours.
To force destroy a session, check this example request:

curl -X DELETE \
-H "QuickBlox-REST-API-Version: 0.1.0" \
-H "QB-Token: 8b75a6c7191285499d890a81df4ee7fe49bc732a" \
https://api.quickblox.com/session.json

(from Quickblox documentation: https://quickblox.com/developers/Authentication_and_Authorization#API_Session_Destroy )

[2018-12-19 16:13] vadimkhmyrovqb commented on #361
Hi @binita12345 Please provide detailed steps to reproduce this issue.

[2018-12-20 14:31] #255 closed, assigned to nobody

[2018-12-20 14:31] #304 closed, assigned to nobody

[2018-12-20 14:38] vadimkhmyrovqb commented on #355
@itsaboutcode @obrunsmann is this issue reproduced in latest SDK version 2.12.2 ?

[2018-12-20 14:38] #349 closed, assigned to nobody

[2018-12-20 14:39] vadimkhmyrovqb commented on #351
@williamtran1988 please provide steps to reproduce the issue.

[2018-12-20 14:43] vadimkhmyrovqb commented on #347
closing this issue as a duplicate of #351

[2018-12-20 14:43] #347 closed, assigned to nobody

[2018-12-21 09:35] anmol2615 commented on #303
@manojintorque what's the solution?

[2018-12-21 16:52] obrunsmann commented on #355
@vadimkhmyrovqb Sorry - we decided to not use Quickblox among other things because of the installation issues.

[2018-12-22 09:01] vadimkhmyrovqb commented on #355
The issue was resolved in version 2.12.1

[2018-12-22 09:01] #355 closed, assigned to nobody

[2018-12-22 09:47] vadimkhmyrovqb commented on #352
@Glebasty8 Was the file created private or public? This problem can occur if the file was created as public and you attempt to create a private link.

[2018-12-22 10:07] vadimkhmyrovqb commented on #358
@nileskh16 You can try to extend WebRTCClient with a method which will set __instance to null like this:
WebRTCClient.prototype.nullify = function ()
{ WebRTCClient.__instance = null; }
;
And call it after disconnection.

[2018-12-22 10:14] #324 closed, assigned to nobody

[2018-12-22 12:40] #252 closed, assigned to nobody

[2018-12-26 11:43] Glebasty8 commented on #352
@vadimkhmyrovqb its public file. So how to download this file by this link? Is it possible?

[2018-12-26 16:29] vadimkhmyrovqb commented on #356
Hi @itsaboutcode could you test it with SDK version 2.12.2 and let me know if it works as expected?

[2018-12-26 16:56] vadimkhmyrovqb commented on #309
Hi @GSebastian , @kirillkhlopko Searching by custom parameters is not implemented at the moment as per our documentation. Here is the list of available parameters: https://quickblox.com/developers/Chat#Retrieve_dialogs

[2018-12-26 16:56] #309 closed, assigned to nobody

[2018-12-29 10:10] vadimkhmyrovqb commented on #352
@Glebasty8 If the file was uploaded as public, try this method: QB.content.publicUrl(uid)

[2018-12-29 10:46] #358 closed, assigned to nobody

[2018-12-29 10:48] vadimkhmyrovqb commented on #253
@shide1989 @ManojSolanki Please try it with SDK version 2.12.2

[2018-12-29 10:48] #354 closed, assigned to nobody

[2018-12-29 10:49] #343 closed, assigned to nobody

[2018-12-29 12:11] #329 closed, assigned to nobody

[2018-12-29 14:11] Glebasty8 commented on #352
@vadimkhmyrovqb ok thanks I will try.

[2018-12-29 14:40] #346 closed, assigned to nobody

[2018-12-29 14:43] vadimkhmyrovqb commented on #240
@shide1989 This issue been fixed. Thanks again for the report.

[2018-12-29 14:43] #240 closed, assigned to nobody

[2019-01-07 13:26] mimrank opened #364 "Failed to execute 'createObjectURL' on 'URL': No function was found that matched the signature provided"
*Uncaught TypeError: Failed to execute 'createObjectURL' on 'URL': No function was found that matched the signature provided.*

**Environment details**
*Browser, IOS, Android App, Ionic, cordova*

**Did this work before?**
Yes.

**Expected behavior**
To work video calling

**Actual behavior**
Not start video calling at Ionic app side.

**Logs**
*Uncaught TypeError: Failed to execute 'createObjectU

[2019-01-09 08:15] devming opened #365 "Facing problem with QB.chat.connect ( Log : ERR_CONNECTION_TIMED_OUT )"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
OS: Mac OS( test temporary local server )
Browser: Chrome 71.0.3578.98
SDK: Javascript

I'm using node.js.

**Expected behavior**
I want to run [WebRTCSample](https://github.com/QuickBlox/quickblo

[2019-01-10 00:13] devming opened #366 "Is your example for webrtc deprecated??"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
Browser: Chrome 71.0.3578.98

This is site for your example.
![image](https://user-images.githubusercontent.com/8037446/50937439-f778c000-14b6-11e9-8ba5-bad5c16f8165.png)

I just ran your example

[2019-01-10 11:15] #146 closed, assigned to nobody

[2019-01-10 13:12] #196 closed, assigned to nobody

[2019-01-11 05:17] #366 closed, assigned to nobody

[2019-01-11 05:18] #365 closed, assigned to nobody

[2019-01-11 09:16] #356 closed, assigned to nobody

[2019-01-11 09:16] #352 closed, assigned to nobody

[2019-01-11 09:17] #351 closed, assigned to nobody

[2019-01-11 09:21] #361 closed, assigned to nobody

[2019-01-11 09:33] vadimkhmyrovqb commented on #335
@niccolofanton Can you reproduce it with JS SDK 2.12.2 ?

[2019-01-11 09:35] #333 closed, assigned to nobody

[2019-01-11 09:37] vadimkhmyrovqb commented on #314
@kingtross88 Our team is planning to publish ReactNative SDK in April-May 2019.

[2019-01-11 09:37] #314 closed, assigned to nobody

[2019-01-11 09:41] vadimkhmyrovqb commented on #317
@fhackenb @RacknerFrank Is this issue relevant? Could you confirm whether it is reproduced with latest Nativescript version?

[2019-01-11 09:57] vadimkhmyrovqb commented on #204
@Kraignos @pournam Our team is going to publish ReactNative SDK in Q2 2019.

[2019-01-11 09:57] #204 closed, assigned to nobody

[2019-01-11 09:58] #210 closed, assigned to nobody

[2019-01-11 10:11] vadimkhmyrovqb commented on #327
@asdec Please share a code snippet so we can investigate what part of QB functionality is not working correctly.

[2019-01-11 10:14] vadimkhmyrovqb commented on #272
@Parmenione As an update to this request, I would like to inform you that we are going to develop support of screen sharing in web platform in Q3 2019.

[2019-01-11 10:14] #272 closed, assigned to nobody

[2019-01-11 11:51] #311 closed, assigned to nobody

[2019-01-11 11:56] vadimkhmyrovqb commented on #292
@limaneto Hi, is this issue still relevant? Have you tried the latest version of Cordova and JS SDK?

[2019-01-11 12:57] vadimkhmyrovqb commented on #246
@developercakephp  We have not optimized our SDK to work with Ionic yet. We plan to support it in future but no plans for the nearest time.

[2019-01-11 12:57] #246 closed, assigned to nobody

[2019-01-11 13:50] kingtross88 commented on #314
good news!

On Fri, Jan 11, 2019 at 4:37 AM Vadim Khmyrov <notifications@github.com>
wrote:

[2019-01-11 14:06] vadimkhmyrovqb commented on #224
@rcorin Hi, can this issue be reproduced with SDK version 2.12.2 ?

[2019-01-11 14:59] vadimkhmyrovqb commented on #256
@lvl99 Hi, this issue is not related to Javascript SDK, but rather to API functionality. Regarding API, please refer to this documentation https://quickblox.com/developers/Chat .

[2019-01-11 14:59] #256 closed, assigned to nobody

[2019-01-11 15:04] vadimkhmyrovqb commented on #312
@manojintorque @williamtran1988 Is this issue still relevant?

[2019-01-11 15:04] #280 closed, assigned to nobody

[2019-01-11 15:05] #253 closed, assigned to nobody

[2019-01-11 15:11] vadimkhmyrovqb commented on #293
@AyushiBShah Hi, this issue is not related to Javascript SDK, but rather to API functionality. Regarding API, please refer to this documentation https://quickblox.com/developers/Chat . If you have more questions, please submit a [ticket](https://assist.quickblox.com/index.php?/Core/Default/Index) with Quickblox.

[2019-01-11 15:11] #293 closed, assigned to nobody