[2019-01-11 15:19] vadimkhmyrovqb commented on #350
Hi, this issue is not related to Javascript SDK, but rather to API functionality. Regarding API, please refer to this documentation https://quickblox.com/developers/Chat . If you have more questions, please submit a [ticket] (https://assist.quickblox.com/index.php?/Core/Default/Index) with Quickblox.

[2019-01-11 15:19] #350 closed, assigned to nobody

[2019-01-11 15:35] #206 closed, assigned to nobody

[2019-01-11 15:38] vadimkhmyrovqb commented on #364
@mimrank Could you try it with SDK version 2.12.2 ?

[2019-01-11 15:38] #274 closed, assigned to nobody

[2019-01-14 09:41] mimrank commented on #364
currently using quickblox2.4.0 with cordova plugin.

let we update it's SDK version.

[2019-01-14 11:44] mimrank commented on #364
Can you please share this video integration with ionic 3+ ? any sample or any guide or documents?

[2019-01-15 09:32] williamtran1988 opened #367 "getUserMedia - Audio"
Hi All,

I am building a WebRTC application by using QT as WebEngine. I used Quickblox Javascript SDK to build WebRTC feature.

In my application i used SetWindowsHookEx to trigger all keyboard event. Everything was working well until i make a WebRTC call. The keyboard trigger event could not be catched anymore. Exactly the problem happen when i use getUserMedia feature.

Do you have any ideas?

B

[2019-01-18 10:19] niccolofanton commented on #220
@arsewizz  https://github.com/niccolofanton/quickblox-ionic3 try this

[2019-01-19 21:43] qafuturex commented on #311
same issue in react.js

[2019-01-30 18:41] kingtross88 commented on #314
I keep getting an error message during the setup. Does this work for react
native?

https://github.com/vinayr/react-native-quickblox

On Fri, Jan 11, 2019 at 8:50 AM Kieran Tross <kstross88@gmail.com> wrote:

[2019-01-31 11:22] duyetnk commented on #364
hi @mimrank
i have the same issue, i integrated quickblox with ionic 3
did you make it work ?

[2019-01-31 11:41] duyetnk commented on #364
i tried version 2.12.2 and it worked :)

[2019-02-07 09:17] mimrank commented on #364
latest version work with android but not iOS. For iOS we use 2.4.

[2019-02-11 02:21] duyetnk commented on #364
Why doesn't the quickblox team fix it?

[2019-02-14 12:55] mimrank opened #368 "Latest SDK (2.12.2) not working with ionic 3."
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*
yes
**Environment details**
*(Operating system, browser information, SDK version)*
Browser, IOS, Android App, Ionic, cordova

**Did this work before?**
Yes.

**Expected behavior**
To work video calling with voice and video.

**Actual behavior**
On web I'm not listen voice of

[2019-02-18 14:58] ghost commented on #368
Hello, dear @mimrank

Thank you for contacting QuickBlox support.
We got a number of requests for Ionic from the users and we can see interest in this framework, but unfortunately, there is no ready to use solution for now.
According to internal QB client-side roadmap, team is going to prepare Ionic samples and documentation in Q3/Q4 of 2019.
We would like to point your attention that you have pri

[2019-02-19 11:17] itsmeasadali opened #369 "Frequently Getting 502 Bad Gateway. Demo is not working too"
Frequently Getting 502 Bad Gateway. Demo is not working too.

It worked really well before. I was getting lots of 502 today. Now I have checked your demo. And that is getting 502 too from server. What's the issue ?

[2019-02-20 13:25] #368 closed, assigned to nobody

[2019-02-20 13:42] ghost commented on #369
Hello, dear @areyasad

Thank you for contacting QuickBlox support.
There was a temporary issue that caused some interruptions on Shared instance. This issue affected part of our Starter, Advanced and Pro plan users.
Reason: functionality update.
Currently, all works as expected.

Take our apologies for the temporary inconvenience.

If you have any additional questions, please let us know.

[2019-02-20 13:42] #369 closed, assigned to nobody

[2019-02-20 14:09] ghost commented on #364
Hello, dear @mimrank @duyetnk

Thank you for contacting QuickBlox support.
In this ticket, you can see QB feedback about the current situation with supporting of Ionic framework: https://github.com/QuickBlox/quickblox-javascript-sdk/issues/368#

If you have any additional questions, please let us know.

[2019-02-20 14:09] #364 closed, assigned to nobody

[2019-02-21 16:42] vadimkhmyrovqb commented on #264
Closed due to inactivity.

[2019-02-21 16:42] #264 closed, assigned to nobody

[2019-03-04 10:03] vadimkhmyrovqb commented on #292
Closed due to inactivity.

[2019-03-04 10:03] #292 closed, assigned to nobody

[2019-03-04 10:07] vadimkhmyrovqb commented on #191
Closed due to inactivity.

[2019-03-04 10:07] #191 closed, assigned to nobody

[2019-03-12 08:49] HFMohammad opened #370 "call not receive audio"
I use quickblox javascript

After calling, video receive success but audio not receive

Video and audio send is work, but audio receive not work

[2019-03-18 13:58] aliabbas12 opened #371 "Safari Video Stream not seen on other browsers"
**Environment details**
Latest javascript web SDK 2.12.2.
Latest Safari browser: 12
Latest Chrome Broswer

**Did this work before?**
We have tested chrome to chrome call and firefox calls and it works fine. Safari is not streaming the video and we only see a black screen on the other device. Safari can see the video of the other device but there is not audio

**Expected behavior**
Expected behavio

[2019-03-18 14:08] aliabbas12 commented on #371
We have also tried using the javascript sdk on mobile by integrating it in ionic 3 as call receiving client and here is what we see there:

when the call is initiated from Chrome, we can see it working on both android and ios device
when the call is initiated from Safari web, we cannot see the stream on android or ios device.

The issue is a major release blocker for us and is really stopping the

[2019-06-07 04:51] konstantsolutions opened #372 "I am getting issue : ReferenceError: QB is not defined"
I am using this repository. When i run "ionic serve" after "npm install", it is showing error that
ReferenceError: QB is not defined

Please provide solutions.

Thanks.

[2019-06-26 11:36] vivekdoshi2 commented on #351
**How we init QuickBlox :**
Generating token from server side ( node js ) , then init QuickBlox with token and app id

**Step to produce issue :**
Serving angular project on host:port eg. http://192.168.15.100:4200 ( local server )
Now if me and my colleague opens the url and login with same user and init Quickblox then it throws error

**Error :**

[code]

`QB.init(token, appId , null , config);`

[2019-07-01 13:35] brazenvoid opened #375 "Can't make any browser work correctly with chat connect"
Am trying to implement the JS SDK with application session token from back-end. I have iOS and Android already integrated with little hassle.

Our goal is to only make a very simple 1-1 video/audio chat option, no texts required. Once that is done, we can think of making it richer.

**Environment details**
*(Operating system, browser information, SDK version)*

- Windows 10
- Firefox 68
- Chrome 7

[2019-07-18 07:09] sanjeet-iws commented on #351
Same issue with me.
Any solution for it?

I'm facing this issue from version 2.12.0 and on 2.11.0 it is working fine.
One more thing, code is working on ubuntu but not on windows. Whereas 2.11.0 is working on all systems.

[2019-07-19 10:19] vivekdoshi2 commented on #351
@sanjeet-iws ,

No, still having this issue. Have a create a new ticket #378

[2019-07-19 10:24] vivekdoshi2 opened #378 "TypeError: Cannot read property 'ondevicechange' of undefined"
**How we init QuickBlox :**
Generating token from server side ( node js ) , then init QuickBlox with token and app id

**Step to produce issue :**
Serving angular project on host:port eg. http://192.168.15.100:4200 ( local server )
Now if me and my colleague opens the url and login with same user and init Quickblox then it throws error

**Error :**

[code]

`QB.init(token, appId , null , config);`

[2019-07-22 21:22] Izrab opened #379 "NativeScript Crashes"
I am making Core+XML+TS Android app with NativeScript (version 5.4.2),
I want to make video call between users of my NativeScript apps.
I installed the quickblox javascript sdk package (version 2.12.3) to my app,
and this is my code:

[code]

But my app crashes when I open it and shows this **error log**:
[code]

[2019-07-24 07:48] Izrab opened #380 "How to make video calls in NativeScript"
I could not find any resources on how to make video calls in NativeScript.
QuickBlox provides very scarce and limited docs (if any) for NativeScript, no guide for installation and configuration at all!
I just want to make video calls in nativescript how?!

[2019-08-28 11:08] phyr0s opened #382 "Not working on iOS (cordova)"
**Environment details**
*(Operating system, browser information, SDK version)*
iOS lastest version
SDK Javascript Lastest https://cdnjs.cloudflare.com/ajax/libs/quickblox/2.12.4/quickblox.min.js

works on desktop but launching on  phone i always get  "Error: devices camera or microphone are not found.

All phone permission (camera and microphone) are requested

You can see easily that is not worki

[2019-09-26 08:41] tiny0101 opened #383 "Help me to record audio call into text."
Is there any way to record audio call into text.
Or how can I use google cloud speech to text api with quickblox.

[2019-12-17 08:08] mykhailovozniaklv1 opened #384 "Quickblox stringified notification"
Hello everyone. I create a question on StackOverflow https://stackoverflow.com/questions/59369632/quickblox-stringified-notification. Can anyone help with this issue?

[2020-01-30 08:26] vadimkhmyrovqb commented on #384
@mykhailovozniaklv1 The question was replied on Stackoverflow, please check.

[2020-01-30 08:26] #384 closed, assigned to nobody

[2020-01-31 11:27] Jignasa10 opened #386 "On page load, display all dialogs in left panel."
Currently, when I load an SDK I'm not getting all dialogs. Please assist me how can I do?
I'm Using Sample Chat for demo.

Currently what happens If someone sends me to message then show the dialog. if I send a message to another show left panel dialog. But  if a reload page I can not show dialog which has a previous chat.

[2020-05-07 12:33] zeljkocurcic commented on #378
Any news on this one? We still have the same issue and it's been almost a year

[2020-05-12 17:44] Ascold2017 opened #388 "Cannot recieve remote video on device without camera"
**Environment details**
Windows 10 x64
Chrome  81.0.4044.129
SDK 2.12.7
Vue.js 2.6.10

**Did this work before?**
I have two PC devices: with a camera and without. When I calling from a device with camera to a device without a camera, second device received a video track from the caller (first device). But, when I calling from a device without a camera - I don't receive a video track from the remot

[2020-05-27 15:16] akhildev296 opened #390 "Can not remove(delete) quickblox id"
When i try to delete a quickbloxid, i am getting an error

{ code: 404, status: 'error', message: '{"code":null,"message":"Possible subdomains: admin, api, billing"}', detail: null }

I really don't understand what this error message means.

[code]

And i also tried creating users sessions as well but welcomed with the same result

[2020-05-28 09:16] Umashankarsaw commented on #371
I have the same issue as mentioned @aliabbas12  with angular, but still not get any solution, I am requesting quickblox to develop a video call sample in angular(with well tested with iphone), so that we can buy quickblox paid platform.

Thanks

[2020-06-16 15:24] saymo23 commented on #378
Try running in secure protocol (https), works for my.

[2020-06-22 01:59] cleibertmora opened #391 "Issue with a dependency using Javascript SDK with Vue JS"
**Environment details**.
Operating system: mac OS 10.15
browser information: Chrome 83
Vue CLI version: 3.2.2
SDK version: ^2.12.7

**Expected behavior**
Try to run "npm run serve" in order to start the development of the app.

**Actual behavior**
It shows an error: ERROR  Failed to compile with 1 errors

**Logs**

[code]

I tried to install "nativescript-xmpp-client" as it says, but when it's alr

[2020-06-23 12:57] Suraj6198 commented on #378
Everything working fine on the localhost. But on the server it is giving the same error for me. If anyone solved, please help.

[2020-07-03 14:01] Rumman001 commented on #391
I am having the same issue with Vuejs
My node version is: v12.14.0
My NPM version is: 6.13.4

[2020-07-03 14:24] Rumman001 opened #392 "Having problem in integration of Quickblox with Vuejs. Error with dependencies using javascript SDK"
These are the following errors that i am getting when running npm run watch

ERROR in ./node_modules/node-xmpp-client/lib/Client.js
Module not found: Error: Can't resolve 'child_process' in 'C:\xampp\htdocs\blog\node_modules\node-xmpp-client\lib'

ERROR in ./node_modules/quickblox/src/qbUtils.js
Module not found: Error: Can't resolve 'fs' in 'C:\xampp\htdocs\blog\node_modules\quickblox\src'

ERROR

[2020-07-15 14:01] arme2401 opened #393 "Is there a way to change group chat admin/owner"
From the documentation: "Only dialog's creator(owner) can remove any users from occupants_ids"

Is there a way to change the admin/owner of a group-chat?
The problem is, if the owner leaves the group, no one can remove users from the chat.

[2020-07-29 12:24] UnikoveNeeraj commented on #365
Hi ,

I am also facing quickblox chat login issue in ipad chrome and iphone chrome using javascript sdk. No idea what error is coming bcz can't see the console. Someone please help.

[2020-07-30 13:18] afroz9008 commented on #392
i have same error ?

[2020-07-30 13:18] afroz9008 commented on #392
how you solved it @Rumman001  ?

[2020-07-30 14:12] dmartinezenfocado commented on #378
@Suraj6198  i have the same error

[2020-07-30 16:06] dmartinezenfocado commented on #378
@saymo23 Thanks, after installing the SSL certificate and access https works for my too

[2020-08-11 15:52] marxyes opened #396 "Can anyone provide sdk sample for Reactjs?"
hello can any one provide react js example how to start with quickblox ingratiation with react js web app ? they have not provided any single document how to start with that. they have just mentioned React js but when you try Quick Start guide you will stuck at very initial stage where we declare
var QB = require('quickblox');

I have also tried using  **import QB  from 'quickblox'**

but it dint

[2020-08-11 16:06] marxyes commented on #392
Same situation with react js. I think they have launch product without any support. Problem with their npm package.

https://developers.connectycube.com/js/code-samples

this lib have working react js example.

[2020-08-18 00:07] therajumandapati commented on #392
You cannot use the NPM module for frontend use. The best course of action is to simply use a script tag and get the minified JS file from a CDN. I ran into the same issue and found this out the hard way.

[2020-08-18 00:08] therajumandapati commented on #391
Please see my comment here: https://github.com/QuickBlox/quickblox-javascript-sdk/issues/392#issuecomment-675175836

[2020-08-26 16:10] samsonroymaben commented on #396
Same issue here ! Could anyone tell how do we solve it ?

[2020-08-29 08:01] samsonroymaben commented on #396
[code]
This will solve the issue.

[2020-09-22 06:48] ibrahimdolas opened #402 "Event Listener doesn't seem to work"
I'm developing a video chat web app with quickblox js sdk. Everything is fine until session.call(). QB.webrtc.onCallListener function doesn't work. QB.webrtc.onUserNotAnswerListener doesn't work either.

**Environment details**
MacOs 10.15.16, Google Chrome 85.0.4183.102, JavaScriptSDK 2.12.9

**Did this work before?**
Nope

**Expected behavior**
1-Opponent should have reach information that call

[2020-10-20 10:27] avinash-2021 opened #403 "In Iphone Safari browser loosing camera permission and video stream when we click on flip camera option in Quickblox JavaScript SDK"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
2.12.9 Javascript SDK

**Did this work before?** Working in android but not in iphone safari browser

**Expected behavior** When we flip camera we need to get the stream from the camera without lo

[2020-11-30 10:01] karan118 commented on #347
Thanks williamtran1988 it work for me

[2020-12-01 16:25] joelhelbling opened #406 "Unexpected `toLowerCase` exception thrown on unauthorized login"
*Help avoid duplicate issue reports, check [existing issues](https://github.com/QuickBlox/quickblox-javascript-sdk/issues)*

**Environment details**
*(Operating system, browser information, SDK version)*
Environment: NodeJS 12.16.2
SDK version 2.13.2

**Did this work before?**
This error was not thrown before.

**Expected behavior**
Invalid auth returns error with `401`.

**Actual behavior**
Excep

[2020-12-02 12:00] jaws97 commented on #378
If you see "Not Secure" on your browser URL, BigBlueButton will not load. Install SSL certificate and access from HTTPS

[2020-12-29 21:38] virtualixst opened #408 "Error in session.getUserMedia() trying to start a simple video session"
Good day. I am trying to create a simple video call session as I have just been testing the platform.
There was a problem when creating the session with getUserMedia (), hopefully you can help me. The code is the following:

`$("body").append("<div id='videoTemporal' style='position: fixed; top:100px; left:0; width: 500px; height: 500px; background: white'></div>");`
`var session = QB.webrtc.creat

[2020-12-29 23:55] #408 closed, assigned to nobody

[2021-01-11 00:57] stephanoparaskeva opened #409 "Retrieve Notification Events received by a particular user."
I would like to retrieve a list of notification events, but the events are all events received by the user (not created by user).
I am building a notifications screen for users to see all of their notifications, (all the ones that have been pushed to them by other users).

I think the current Server API is innapropriate for this, as it gets all those created BY a user. But correct me if I'm wrong.

[2021-01-19 04:54] nirajmchauhan commented on #406
Facing the same issue, any solution to this?

[2021-03-09 05:09] kjp90 opened #410 "Echo/Noise in Quickblox audio call"
I have develop the videochat in Angular. I can refer Javascript SDK Sample. The sample is working fine. But when i developing the example in angular I get a lot of noise and echo in audio call. Video Call Working perfectly there is no noise or echo. Why is that so in audio call?

[2021-03-19 08:55] TarunNarula commented on #408
I am facing same issue - Any update on this ?

[2021-03-19 10:48] TarunNarula commented on #194
Can you please share how you find the solution ?

[2021-03-19 11:34] TarunNarula commented on #335
have you found any solution of this ?

[2021-03-19 16:46] virtualixst commented on #408
Hello friend, yes I solved the issue. The problem was that I was trying to put the local video inside a div (like other platforms that create a video element). I select a video element and everything is alright 👍

[2021-03-23 08:36] austin92jus commented on #410
can you send your snapshot of the code (the function of getUserMedia) then only we can get to know what you are missed?

thank you

[2021-03-23 08:52] austin92jus commented on #410
var mediaParams = {
  audio: true,
  video: true,
  options: {
    muted: true,
    mirror: true,
  },
  elemId: "localVideo",
};

you need to mention muted as a true
else it will lead to echoing your voice ..

Noise webrtc defaulty suppress the noise

[2021-03-23 09:25] kjp90 commented on #410
Tahnk you for your reply.

 private getMediaParams(isAudio: boolean, localVideo: string): Object{
        let mediaParams = {};
        console.log("ISAUDIO--->",isAudio)
        if(isAudio){
            mediaParams = {
                audio: true,
                video: false,
                options: {
                    muted: true,
                    // mirror: true
                }

[2021-03-23 10:04] austin92jus commented on #410
i think you are facing this issues only on audio call?

[2021-03-23 10:08] kjp90 commented on #410
yes. Video call is working perfectly. no issues. audio call only having the echo & noise issue

[2021-03-23 10:22] austin92jus commented on #410
mediaParams = {
audio: true,
video: true,
elemId: localVideo,
options: {
muted: true,
}

you also need to mentioned elemId for audio call as well

in order to minimized the echoing we need to attach the stream to one element then only we can muthed the stream

Or else you can do another way
get the stream from getUsermedia
and mute the stream object

[2021-03-23 10:22] austin92jus commented on #410
mediaParams = {
audio: true,
video: true,
elemId: localVideo,
options: {
muted: true,
}

you also need to mentioned elemId for audio call as well

in order to minimized the echoing we need to attach the stream to one element then only we can muthed the stream

Or else you can do another way
get the stream from getUsermedia
and mute the stream object

[2021-03-23 10:26] austin92jus commented on #406
can you share the snapshot of your code ?

[2021-03-23 10:36] kjp90 commented on #410
ok . Thank You. I will try this.

[2021-03-23 10:48] kjp90 commented on #410
Hai I was tried this but it also not working. any other solutions. You have any code for this.

[2021-03-24 10:18] tarungomile opened #411 "Uncaught TypeError: Cannot create property 'onRemoteStreamListener' on boolean 'false'"
**Environment details**
Platform: React JS
SDK: Javascript SDK

*(Operating system, browser information, SDK version)*
OS: MacOs

**Did this work before?**
It is working on my local environment when i run 'npm start' it works as expected but when I migrate the build to server/hosting it is giving me this error

<img width="1440" alt="Screenshot 2021-03-24 at 3 35 58 PM" src="https://user-images.gi

[2021-04-24 09:05] MittalShruti commented on #332
Hi @gaurav150493  I am facing the same issue. Did you find any solution?

[2021-05-03 08:53] hi-kuldeep opened #413 "download attachents with content functions"
![image](https://user-images.githubusercontent.com/60335573/116857883-2765a780-ac1b-11eb-9ffd-69af5002225e.png)
![image](https://user-images.githubusercontent.com/60335573/116858216-a955d080-ac1b-11eb-83b7-32fe192b862a.png)
![image](https://user-images.githubusercontent.com/60335573/116858238-b1157500-ac1b-11eb-837c-09e95231f9f5.png)

When i use

`<a href="privateUrl" download> <img="privateUrl" /

[2021-05-05 08:41] hi-kuldeep opened #414 "Ability to download image or any type of attachments"
I am generating a download link with help of function QB.content.privateUrl(uid) and I want to give opportunity for user to download this file.

and its private file

![image](https://user-images.githubusercontent.com/60335573/117116219-b86b8880-adab-11eb-8702-40b199adf90f.png)

[2021-05-11 17:33] stephanoparaskeva opened #417 "QuickBlox Community Slack"
Here is the invite link:
https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

quickbloxcommunity.community.slack

@fc @jpascal @soulfly @xaka @dgem

[2021-08-20 11:20] developerabhishek1402 opened #419 "Conference call Integration"
I am trying to integrate video conference in Angular 9. I am not able to find the correct way to do it. Anyone here who can help me with the Angular 9 code for Video Conference integration of quickblox. ?

[2021-08-25 15:39] ghost commented on #419
Hello,

This is Nikolay from QuickBlox support.

Please be notified that we don’t provide support with Angular and other frameworks as we don’t have developers experienced in implementations like that.

At the moment, we have only an Angular chat sample that may help with integration of QuickBlox services: [Code Samples | QuickBlox](https://docs.quickblox.com/docs/code-samples#chat-samples)
Other

[2021-09-14 07:12] michelberbara commented on #390
did you find any solution to that issue?

[2021-09-30 14:59] #219 closed, assigned to dimaspirit

[2021-09-30 14:59] #220 closed, assigned to nobody

[2021-09-30 14:59] #224 closed, assigned to nobody

[2021-09-30 14:59] #247 closed, assigned to Vladlukhanin

[2021-09-30 14:59] #250 closed, assigned to dimaspirit

[2021-09-30 14:59] #312 closed, assigned to nobody

[2021-09-30 14:59] #317 closed, assigned to nobody

[2021-09-30 14:59] #327 closed, assigned to nobody

[2021-09-30 14:59] #335 closed, assigned to nobody

[2021-09-30 14:59] #345 closed, assigned to nobody

[2021-09-30 14:59] #367 closed, assigned to nobody

[2021-09-30 14:59] #370 closed, assigned to nobody

[2021-09-30 15:00] #371 closed, assigned to nobody

[2021-09-30 15:00] #372 closed, assigned to nobody

[2021-09-30 15:00] #375 closed, assigned to nobody

[2021-09-30 15:00] #378 closed, assigned to nobody

[2021-09-30 15:00] #379 closed, assigned to nobody

[2021-09-30 15:00] #380 closed, assigned to nobody

[2021-09-30 15:00] #382 closed, assigned to nobody

[2021-09-30 15:00] #383 closed, assigned to nobody

[2021-10-01 12:16] ghost commented on #219
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDKs to the latest versions:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](htt

[2021-10-01 12:19] ghost commented on #247
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-chat-dialogs#update-dialog](https://docs.quickblox.com/docs/js-chat-dialogs#update-dialog)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript

[2021-10-01 12:45] ghost commented on #250
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 12:47] ghost commented on #312
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-authentication](https://docs.quickblox.com/docs/js-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.1

[2021-10-01 12:50] ghost commented on #317
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-content#upload-file](https://docs.quickblox.com/docs/js-content#upload-file)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/

[2021-10-01 12:52] ghost commented on #327
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

The feature of recording audio/video calls is available only for conference calls.
Conference audio/video calls functionality is provided as an addon for all paid plans.
You may read more here:
[https://quickblox.com/pricing/](https://quickblox.com/pricing/)
In order to use the video confe

[2021-10-01 12:56] ghost commented on #335
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 12:57] ghost commented on #345
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 12:57] ghost commented on #367
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 12:58] ghost commented on #370
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 16:07] ghost commented on #371
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 16:08] ghost commented on #375
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 16:10] ghost commented on #378
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10)

Additionally, please check our new samples:
[https://github.com/QuickBlox/quickblox-javascr

[2021-10-01 16:10] ghost commented on #379
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10)

Additionally, please check our new samples:
[https://github.com/QuickBlox/quickblox-javascr

[2021-10-01 16:12] ghost commented on #380
ello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](

[2021-10-01 16:13] ghost commented on #382
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our Javascript documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/t

[2021-10-01 16:17] ghost commented on #383
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Unfortunately, we have not implemented a speech-to-text module. You may implement such a feature at the client-side part.

If it is still relevant after reviewing the updated information, feel free to open a new issue.

Have a nice day.

[2021-10-01 16:25] ghost commented on #220
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-video-calling](https://docs.quickblox.com/docs/js-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10]

[2021-10-01 16:27] ghost commented on #224
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/js-content](https://docs.quickblox.com/docs/js-content)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](https://git

[2021-10-01 16:27] ghost commented on #372
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10)

Additionally, please check our new sample:
[https://github.com/QuickBlox/quickblox-javascri

[2021-10-05 10:03] ghost commented on #413
Hi @hi-kuldeep .
You can try following code to download attachment(s):
[code]

[2021-10-05 10:04] ghost commented on #414
Hi @hi-kuldeep
Please refer to https://github.com/QuickBlox/quickblox-javascript-sdk/issues/413#issuecomment-934259839

[2021-10-05 10:08] ghost commented on #411
Hi @tarungomile ,
As the error says - you're trying to assign a function to `false`. This can happen if you're trying to assign some handler to `webrtc` module while QB JS SDK is not yet initialized or if WebRTC is not available. In such case `QB.webrtc` will have value `false`.

[2021-10-05 11:05] ghost commented on #410
Hi @kjp90 ,
You can pass [MediaTrackConstraints](https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints) for `audio` and / or `video` key(s)
[code]

[2021-10-07 14:50] ghost commented on #391
Hello,

This is Nikolay from QuickBlox support.

You may use this tutorial to the building an instant messaging app with QuickBlox and Vue.js:
[https://quickblox.com/blog/building-an-instant-messaging-app-with-quickblox-and-vue-js/](https://quickblox.com/blog/building-an-instant-messaging-app-with-quickblox-and-vue-js/)

Please note that integration of QuickBlox services with third-party framework

[2021-10-07 14:50] ghost commented on #392
Hello,

This is Nikolay from QuickBlox support.

You may use this tutorial to the building an instant messaging app with QuickBlox and Vue.js:
[https://quickblox.com/blog/building-an-instant-messaging-app-with-quickblox-and-vue-js/](https://quickblox.com/blog/building-an-instant-messaging-app-with-quickblox-and-vue-js/)

Please note that integration of QuickBlox services with third-party framework

[2021-10-07 14:58] ghost commented on #403
Hello,

This is Nikolay from QuickBlox support.

According to my check, it is possible to use both device cameras (front/back) in the mobile browsers of both Android and IOS devices.
Also, the browsers should have the resolution to use device cameras, especially for IOS devices, it's a very important point for the correct working of this functionality.

Please let me know if you tried to use this

[2021-10-07 15:01] ghost commented on #388
Hello,

This is Nikolay from QuickBlox support.

Please try updating the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10)

Also, please try using our updated sample:
[https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/webrtc](https://github.com

[2021-10-07 15:06] ghost commented on #390
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If you want to remove a user, please follow our documentation:
[https://docs.quickblox.com/docs/js-users#delete-user](https://docs.quickblox.com/docs/js-users#delete-user)

If the issue persists, please provide me with:
1. Full logs.
2. Steps to reproduce the issue.
3. More detailed description of

[2021-10-07 15:08] ghost commented on #396
@marxyes Hello,

This is Nikolay from QuickBlox support.

Unfortunately, we do not provide support with React.JS.

However, you are free to use our Javascript documentation and samples:
[https://docs.quickblox.com/docs/js-quick-start](https://docs.quickblox.com/docs/js-quick-start)
[https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/chat](https://github.com/QuickBlox/quick

[2021-10-07 15:10] ghost commented on #406
@joelhelbling Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if it can be reproduced with the last version of the SDK.

If yes, please provide be with more detailed instructions on how to reproduce the issue on my end.

[2021-10-07 15:17] ghost commented on #386
@Jignasa10
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if it is reproduced on the latest version of our SDK and on the updated sample:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10)
[https://github.com/QuickBlox/quickblox-javascript-sd

[2021-10-07 15:20] ghost commented on #402
@ibrahimdolas
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if it is reproduced on the latest version of our SDK and on the updated sample:
[https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10](https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.10)
[https://github.com/QuickBlox/quickblox-javascript

[2021-12-07 13:08] ghost commented on #386
@Jignasa10 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 13:08] #386 closed, assigned to nobody

[2021-12-07 13:08] ghost commented on #388
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 13:08] #388 closed, assigned to nobody

[2021-12-07 13:08] ghost commented on #390
@michelberbara @akhildev296 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 13:08] #390 closed, assigned to nobody

[2021-12-07 13:10] ghost commented on #402
@ibrahimdolas The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 13:10] #402 closed, assigned to nobody

[2021-12-07 13:10] ghost commented on #406
@joelhelbling @nirajmchauhan The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 13:10] #406 closed, assigned to nobody

[2021-12-08 13:16] ghost commented on #393
@arme2401 Hello,

This is Nikolay from QuickBlox support.

Unfortunately, it is not possible to change the dialog owner at this moment.

As an option, you can recreate a dialog.

[2021-12-08 13:23] ghost commented on #409
@stephanoparaskeva Hello,

This is Nikolay from QuickBlox support.

According to my check, you received an answer in a ticket.

If there are any questions, please let me know.

[2022-03-04 00:15] EderNocelo commented on #219
Hello, I have the same issue.

**JavaScript** environment  2.13.10
**Android** environment 3.9.15

After 4-5 minutes on call _QBRTCClientSessionCallbacks_ not works correctly. In the next image you can see the Logs of callbacks.

They are 13-15 Seconds between _onDisconnectedFromUser_ and _onConnectionFailedWithUser_ (I don't know why... I think _onReceiveHangUpFromUser_ should be called instead o

[2022-03-04 00:19] EderNocelo commented on #219
[](https://user-images.githubusercontent.com/5324231/156673686-468584d8-a88a-4fb9-a9bd-cbf2b8120d85.png)Hello, I have the same issue.

JavaScript environment 2.13.10
Android environment 3.9.15

After 4-5 minutes on call _QBRTCClientSessionCallbacks_ not works correctly. In the next image you can see the Android Logs of callbacks.

They are 13-15 Seconds between _onDisconnectedFromUser_ and _onConn

[2022-03-23 09:51] ghost commented on #219
@EderNocelo Hello,

This is Nikolay from QuickBlox support.

Please try reproducing the issue on our samples:
https://docs.quickblox.com/docs/code-samples#video-calling-samples

Also, please provide us with steps to reproduce the issue.

[2022-04-09 11:53] VishlDeveloper commented on #341
how to merge quick Blox chat SDK with audio-video call

[2022-04-13 08:14] ghost commented on #341
@VishlDeveloper hello, please clarify if you mean creating an application with chat and video calling functionalities. You can refer to the documentation:
https://docs.quickblox.com/docs/js-quick-start
If you have any specific question, I will be happy to help you

[2022-04-13 12:24] sanidhya1712 opened #425 "Getting error in sending system notification"
I am using quickblox system notification in my platform for sending live notifications in NodeJs.

First time I try to send live notification, It works perfectly fine but when I try to send notification afterwards, I am getting the following error, even though it send the notification.

TypeError: Cannot read property 'querySelector' of null
   at Object.getElementText (/abc/dropN/did/node_modules

[2022-04-13 12:47] ghost commented on #425
Hello, I assume that the issue is related to execution of code - the context.
Please make sure that QuickBlox JavaScript SDK is initialized correctly and you have already followed our official documentation: https://docs.quickblox.com/docs/js-users#before-you-begin

Please refactor your code as we can see that the issue is outside from QuickBlox JavaScript SDK and related to Node implementation.

[2022-04-18 11:56] sanidhya1712 commented on #425
var QuickBlox = require('quickblox').QuickBlox;
var QB = new QuickBlox();
QB.init(APPLICATION_ID, AUTH_KEY, AUTH_SECRET, ACCOUNT_KEY);

This is how I have initialized the quickblox. Is this an incorrect way to initialize because I have followed the documentation.
I have also added the code with I am using above. Is there any issue with that ?

Error which I am getting is in quickblox node modules,

[2022-04-25 16:26] ghost commented on #425
@sanidhya1712 The init seems to be correct.
You may check our sample:
https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/chat
Also, please make sure that you use the latest version of the SDK:
https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.11
You can modify the sample by adding your notification functionality to identify the issue.
Additionally, pl

[2022-04-26 07:52] sanidhya1712 commented on #425
Hi @QB-nikolay-zolotarov , All the sample chat code is from the frontend perspective. We already have a running code on our frontend application but the issue we are facing are on backend side(NodeJs) while send system notification.

Do you have any sample of code from backend perspective?

[2022-04-26 07:58] rahulconsagous commented on #419
quickblox-multiparty-video-conferencing-client-0.8.6.min.js file path not found. we see on document so below script are mention.

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="quickblox-multiparty-video-conferencing-client-0.8.6.min.js"></script>

[2022-04-26 09:08] ghost commented on #425
@sanidhya1712 Hello, unfortunately, we don't have backend (Node.js) samples. As the JS sample works as expected, I assume that the issue is related to the Node.js implementation. Unfortunately, we do not provide support with Node.js. Please review the implementation on your end.

[2022-04-26 09:47] ghost commented on #419
@rahulconsagous You can download the video conference library from GitHub and link it locally in your project or link it from our GitHub repository.
We suggest downloading the library: https://github.com/QuickBlox/quickblox-javascript-sdk/tree/gh-pages/samples/video_conferencing/libs

[2022-04-26 10:30] rahulconsagous commented on #419
Thanks

[2022-04-26 11:13] sanidhya1712 commented on #425
@QB-nikolay-zolotarov  This problem is not about Nodejs. We have written just a piece of javascript code, by referring Quickblox documentation .
Can we explain the reason that when this error occurs in quickblox node module?

[2022-04-26 15:11] ghost commented on #425
@sanidhya1712 To investigate the issue further, please provide a sample and step-by-step instructions on how to reproduce the issue.

[2022-04-27 18:11] sanidhya1712 commented on #425
@QB-nikolay-zolotarov
Sample code-
var QuickBlox = require('quickblox').QuickBlox;
var QB = new QuickBlox();
async function sendSystemNotification(req) {
    return new Promise(async (resolve, reject) => {
        console.log("here");
        // let adminSession = await createSession(req);
        QB.init(APPLICATION_ID, AUTH_KEY, AUTH_SECRET, ACCOUNT_KEY);
        var params = {
            userI

[2022-05-01 18:00] rahulconsagous opened #426 "Error: There is no videoroom plugin instance"
Showing error on web

<script src="https://unpkg.com/quickblox/quickblox.min.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="[assets/video/quickblox-multiparty-video-conferencing-client-0.8.8.min.js](https://educationcloud.app/teachers/assets/video/quickblox-multiparty-video-conferencing-client-0.8.8.min.js)"></script>
const config = {
  se

[2022-05-02 08:40] rahulconsagous commented on #419
Error: There is no videoroom plugin instance
when using the join method on video conference.
client.join(joinParams).then( () => {
      console.log('joined successfully');
    }).catch( (error) => {
      console.log(error);
    });
![Screen Shot 2022-05-01 at 23 35 36](https://user-images.githubusercontent.com/84760088/166207872-ebfbad5b-3e86-418e-b247-3f78bbbe8358.png)

[2022-05-04 09:20] ghost commented on #419
Let's continue the conversation here https://github.com/QuickBlox/quickblox-javascript-sdk/issues/426

[2022-05-04 09:57] ghost commented on #426
@rahulconsagous Hello,
Unfortunately, I am not able to reproduce the issue on my end.
Please make sure that you followed our documentation, created a session, and attached the video conferencing plugin:
https://docs.quickblox.com/docs/js-video-conference
If the issue persists, please provide more detailed steps to reproduce and a sample app

[2022-05-22 19:29] haarj commented on #417
Hi @stephanoparaskeva can I get an invite for the community slack channel too?

[2022-08-26 05:13] gyanish77 opened #430 "i am not able to get call from web to mobile Or Mobile to web but web to web working fine"

[2022-08-31 12:50] ghost commented on #430
Hello, please lemme know what SDKs you use for Mobile.
You need to use the latest versions you can find here:
https://github.com/quickblox

Make sure that you use the latest version of the Javascript SDK:
https://github.com/QuickBlox/quickblox-javascript-sdk/releases/tag/2.13.11

[2022-09-14 12:19] gyanish77 commented on #430
I am already using   "quickblox": "^2.13.11", the latest version of the Javascript SDK and in react native mobile app I use quickblox-react-native-sdk  0.5.0-beta facing issues please solve this issues

[2022-09-15 05:18] gyanish77 commented on #430
I am using ReactJS for the web and for mobile i use react native

[2022-09-15 05:19] gyanish77 opened #432 "i am not able to get call from web to mobile Or Mobile to web but web to web working fine"
I am already using "quickblox": "^2.13.11", the latest version of the Javascript SDK, and in react native mobile app I use quickblox-react-native-sdk 0.5.0-beta facing issues please solve these issues,
I am using ReactJS for the web and for mobile i use react native.

[2022-09-27 06:39] #430 closed, assigned to nobody

[2022-09-27 06:40] #432 closed, assigned to nobody

[2022-10-13 12:22] jigneshzala opened #433 "onSystemMessageListener Event not getting fired in Angular"
In my angular application j have used this quickblox API and currently facing issues with QB.chat.onSystemMessageListener when creating dialogue.
When I Manually on the button and click Try to call this event its listener gets called:

    try {
      QB.chat.sendSystemMessage(userIds, systemMessage);
      // or message.id = QB.chat.sendSystemMessage(opponentId, message) if message ID is needed

[2022-10-31 18:39] BertoGz opened #436 "QB.chat listeners not working?"
Im trying to follow the docs to test out the listeners so I can begin using them in my app.
sample:
[code]
But so far nothing is being console logged. I've also tested out with onSubscribeListener, onReconnectListener but no luck.
I checked the code in module and I saw this:
A bunch of JsDoc for the functions but they don't seem to exist ?

<img width="818" alt="Screen Shot 2022-10-31 at 11 36 24

[2022-10-31 19:04] BertoGz commented on #436
By enabling Debug mode: I do see the sdk logging these:
<img width="369" alt="Screen Shot 2022-10-31 at 12 03 28 PM" src="https://user-images.githubusercontent.com/62714188/199089198-ccbfded5-468e-468e-b6ef-692ef626a8ba.png">
<img width="370" alt="Screen Shot 2022-10-31 at 12 02 59 PM" src="https://user-images.githubusercontent.com/62714188/199089214-08df2dde-dec6-4d76-82af-37f96ab55a72.png">

[2022-10-31 19:05] BertoGz commented on #436
Sdk logs:
<img width="370" alt="Screen Shot 2022-10-31 at 12 02 59 PM" src="https://user-images.githubusercontent.com/62714188/199089355-bd44b2fd-c2cb-4c4a-89b2-4cd5ef6299ab.png">

[2022-10-31 19:37] BertoGz commented on #436
I just realize that there is not a connect listener. I presumed that either the reconnect, or onConfirmSubscribe listener would be called but actually those are not the intended listeners to use. My work around for a "chat connect listener" is to simply update a "ChatConnected" state to true in the resolution of  QB.Chat.Connect().
Then if my disconnect listener is called, update my chatConnected

[2022-10-31 19:37] #436 closed, assigned to nobody

[2022-11-03 17:25] BertoGz opened #437 "What endpoint/method can user B call to receive pending friend requests?"
When User A makes a "friend request" to User B , What endpoint can user B call to receive pending friend requests?  So far I have found documentation regarding listeners for this, but what if the user B is away?
Docs:
https://quickblox.github.io/quickblox-javascript-sdk/docs/QB.chat.html#.onSubscribeListener

[2022-11-03 21:56] BertoGz commented on #437
I was able to use QB.chat.roster.get to receive user A  in User B contact list

[2022-11-03 21:56] #437 closed, assigned to nobody

[2022-11-07 16:56] BertoGz opened #438 "ContactList functionality not working correctly unless both users are online?"
Steps to reproduce:

1. Have User A online while User B is away and logged out.
2. User A Sends contact Request to B
3. Login to User B and call QB.chat.roster.get  An empty object will be returned.
_during this stage only user A sees the QB.chat.roster.get payload correctly._

4. Restart the process but make sure both A and B are logged in this time.
5. User A sends the contact request
6. User B